<div class="content user-search-form">
  <div class="user-search-form-control">
    <div class="columns input-data">
      <div class="column">
        <h4 class="subtitle">Start date</h4>
        <div class="input-row">
          <Dropdown
            list={days}
            bind:value=start.day
            on:change="fire('formUpdate', true)" />
          <Dropdown
            list={months}
            bind:value=start.month
            on:change="fire('formUpdate', true)" />
          <input
            type="text"
            class="input year-input"
            placeholder="YYYY"
            bind:value=start.year
            on:input="fire('formUpdate', true)">
        </div>
      </div>
      <div class="column">
        <h4 class="subtitle">End date</h4>
        <div class="input-row">
          <Dropdown
            list={days}
            bind:value=end.day
            on:change="fire('formUpdate', true)" />
          <Dropdown
            list={months}
            bind:value=end.month
            on:change="fire('formUpdate', true)" />
          <input
            type="text"
            class="input year-input"
            placeholder="YYYY"
            bind:value=end.year
            on:input="fire('formUpdate', true)">
        </div>
      </div>
    </div>
    <div class="columns input-data">
      <div class="column">
        <h4 class="subtitle">Professor</h4>
        <input
          type="text"
          class="input"
          placeholder="Name..."
          bind:value=fname
          on:input="fire('formUpdate', true)">
      </div>
      <div class="column">
        <h4 class="subtitle">Salary</h4>
        <input
          type="text"
          class="input"
          placeholder="e.g 14EGP"
          bind:value=hourPrice>
      </div>
    </div>
  </div>
  <div class="user-search-form-options">
    <div class="content">
      <label>
        <input
          type="checkbox"
          bind:checked=reloadOnUpdate>
        <span>Auto update</span>
      </label>
    </div>
  </div>
</div>

<!-- Reset / Submit buttons -->
<div class="content">
  <div class="level">
    <div class="level-left">
      <!-- ... -->
    </div>
    <div class="level-right">
      <div class="level-item">
        <button
          class="button is-link is-normal"
          on:click="reset()">
          Reset
        </button>
      </div>
      <div class="level-item">
        <button
          class="button is-link is-normal"
          on:click="search()">
          Search
        </button>
      </div>
    </div>
  </div>
</div>

<!-- User list -->
{#each $absenceData.absences as prof, index}
  <table class="table is-fullwidth is-bordered">
    {#if index === 0}
      <thead>
        <tr>
          <th>Name</th>
          <th>Hours taught</th>
          <th>Lessons absent</th>
        </tr>
      </thead>
    {/if}
    <tbody>
      <tr class="professor-row">
        <td>
          <a href="{$baseUrl}user/{prof.uid}/edit">
            <span>{prof.first_name} {prof.last_name}</span>
            <i class="fa fa-pencil-square-o"></i>
          </a>
        </td>
        <td class="hours">
          {minutesToHours(prof.duration)}
          <span class="salary">{salary(prof.duration, hourPrice)} <b>EGP</b></span>
        </td>
        <td class="cancelled">{prof.cancelled}</td>
      </tr>
      {#each prof.students as student}
        <tr class="student-row">
          <td>
            <a href="{$baseUrl}user/{student.uid}/edit">
              <span>{student.first_name} {student.last_name}</span>
              <i class="fa fa-pencil-square-o"></i>
            </a>
          </td>
          <td class="hours">{minutesToHours(student.duration)}</td>
          <td class="cancelled">{student.cancelled}</td>
        </tr>
      {/each}
    </tbody>
  </table>
{/each}

<style type="text/scss">
  $nothing: here;

  .input-row {
    display: flex;
    flex-flow: row nowrap;

    :global(.dropdown) {
      flex: 0 0 auto;
      margin-right: 0.5rem;
    }

    .year-input {
      width: 100%;
      flex: 1 1 auto;
      min-width: 0;
    }
  }

  .user-search-form {
    display: flex;
    flex-flow: row nowrap;
  }

  .user-search-form-control {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 0 auto;

    .columns {
      margin-right: 0;
    }
  }

  .user-search-form-options {
    flex: 1 1 auto;
  }

  .input-data {
    max-width: 700px;
  }

  :global(div.app-root.app-root) {
    margin-bottom: 6rem;
  }

  .table {
    thead {
      font-weight: bold;
    }

    td {
      line-height: 2.5rem;
    }

    .hours {
      width: 25%;

      .salary {
        padding: 0.35rem;
        margin-left: 0.5rem;

        font-size: 0.85rem;
        border-radius: 3px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        color: black;
        font-weight: normal;

        b {
          font-weight: bold;
        }
      }
    }

    .cancelled {
      width: 20%;
    }

    .professor-row {
      background: rgba(0, 0, 0, 0.08);
      // background: #E2C140;

      td {
        font-weight: bold;
        line-height: 3rem;

        &.hours {
          color: #5C8;
        }
      }
    }

    .student-row {
      // background: #E2C140;
      // background: #4A7CAD;

      td {
        // color: #fff;
        color: #444;
      }

      td:first-child:before {
        content: "";
        display: inline-block;
        width: 5px;
        height: 5px;
        margin: 0 1rem;

        border-radius: 100%;
        // background: white;
        background: #000;
      }
    }
  }
</style>

<script>
  import Dropdown from "../Dropdown/Dropdown.html";
  import { methods, oncreate, minutesToHours, salary } from "./lib";

  const now = new Date();
  const date = {
    day: 1,
    month: now.getMonth(),
    year: now.getFullYear(),
  };

  const days = new Array(31).fill(0).map((x, i) => [i + 1, (i + 1) + ""]);

  export default {
    components: {
      Dropdown,
    },

    oncreate,

    helpers: {
      minutesToHours,
      salary,
    },

    data() {
      return {
        start: {
          ...date,
        },
        end: {
          ...date,
          month: date.month + 1,
        },
        fname: "",
        hourPrice: "20EGP",

        // Old fields (to be removed)
        lname: "",
        email: "",
        phone: "",
        role: "0",
        studentsWithoutLessons: false,
        teachersWithoutStudents: true,
        users: {},
        reloadOnUpdate: true,

        days,
        // @ts-ignore
        months: [],
      }
    },

    computed: {
      // userList: ({ list, users }) => list.map((uid) => users[uid]),
    },

    methods: {
      reset: methods.reset,
      search: methods.search,
      navigatePage: methods.navigatePage,
      relativePage: methods.relativePage,
    },
  }
</script>
