
// Vars
@import "../base";

// Styles
.theme1-course {
  position: relative;
  overflow: hidden;
  height: 800px;

  color: #fff;
  // background: $hilite-bg;

  $bg-color: transparentize(#425939, 0.8);
  // background:
  //   linear-gradient(#{$bg-color}, #{$bg-color}),
  //   url(graphics/black-generic-background-opti.jpg) no-repeat,
  //   linear-gradient(#{$hilite-bg}, #{$hilite-bg});
  background-color: #{$hilite-bg};
  background-size: cover;
  background-position: center;

  .contents {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .book-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: -4rem;
  }

  .books {
    max-width: 750px;
  }

  .focus {
    // max-width: 400px;
  }

  .good-points {
    // margin-right: auto;
    // margin-left: 6rem;
    // margin-top: 50px;
    margin-bottom: -1.5rem;
  }

  // .focus {
  //   display: flex;
  //   flex-flow: column;
  //   justify-content: center;
  //   align-items: center;
  //   width: 100%;
  // }

  .button {
    background: #fff;
    color: $hilite-bg;
  }

  .constrain {
    position: relative;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
}
