// compressedFilenamePattern: ihfath-messages.css

// Defaults
$notifi-width: 35px;
$card-width: 130px;
$card-height: 100px;
$card-b-radius: 2px;
$def-anim: 350ms cubic-bezier(.33,.04,.14,.99);

// Styling
.lces-notification button {
  margin-bottom: 0px !important;
}

.ihfathmsg-separator {
  opacity: 0.5;
  border-bottom: 1px;
  margin: 30px 0px;
}

#ihfathmsg-admin-staff-cards {
  margin-top: 10px;
  padding: 0px;
  padding-top: 10px;
}

.ihfathmsg-admin-staff-card-anchor {
  display: inline-block;
  margin: 0px 20px 40px;
  border: 1px solid #D9D9D9;
  border-radius: $card-b-radius;
  
  .ihfathmsg-admin-staff-card {
    position: relative;
    
    font-family: Arial;
    background: #E6E6E6;
    border-top-right-radius: $card-b-radius;
    border-top-left-radius: $card-b-radius;
    
    .ihfathmsg-pretty-image {
      position: relative;
      width: $card-width;
      height: $card-height;
      
      &::before {
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        margin: auto auto;
        width: 80px;
        height: 62px;
        opacity: 0.075;
        
        background: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2280%22%20height%3D%2261.538%22%3E%3Cpath%20d%3D%22M72.26%209.54L50.505%2031.296l4.35%204.35%2021.762-21.753-4.357-4.35zm-59.952%202.807v3.035L40%2030.118l15.667-8.336%209.435-9.435H12.308zm0%209.31V49.27h55.384V27.16l-10.66%2010.662-2.176%202.175-3.077%203.077-8.703.006V34.806l-2.47%201.315-.607.356-.607-.355-27.085-14.464zm36.02%2011.814l-2.174%202.176v4.35h4.35l2.176-2.174-4.35-4.35z%22%2F%3E%3C%2Fsvg%3E') no-repeat;
        transform: scale(1.1, 1.1);
      }
      
      &:hover::before {
        opacity: 0.12;
      }
    }
    
    .ihfathmsg-staff-name {
      // position: absolute;
      // left: 0px;
      // right: 0px;
      // bottom: 0px;
      // margin: 10px;
      // margin-bottom: 8px;
      //
      // white-break: normal;
      width: $card-width;
      padding: 10px;
      box-sizing: border-box;
      
      border-bottom-right-radius: $card-b-radius;
      border-bottom-left-radius: $card-b-radius;
      
      background: #fff;
      font-size: 16px;
      color: #404040;
    }
  }
}

.ihfathmsg-unread-count {
  position: absolute;
  z-index: 10;
  width: $notifi-width;
  height: $notifi-width;
  top: $notifi-width * -0.5;
  right: $notifi-width * -0.5;
  
  line-height: $notifi-width;
  text-align: center;
  font-weight: bold;
  font-size: 13px;
  
  background: #CC0000;
  color: #fff;
  border-radius: 100%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  
  &.ihfathmsg-staff-count-nil {
    display: none;
  }
  
  > span {
    position: relative;
    z-index: 1;
  }
  
  &.ihfathmsg-staff-count-pulse {
    &::before {
      content: attr(data-staff-count);
      position: absolute;
      z-index: 1;
      width: $notifi-width;
      height: $notifi-width;
      top: 0px;
      right: 0px;
      border-radius: 100%;
      
      line-height: $notifi-width;
      color: #CC0000;
      background: #CC0000;
      
      animation-name: ihfathmsg-count-pulse;
      animation-duration: 1.25s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-out;
    }
  }
}

@keyframes ihfathmsg-count-pulse {
  0% {
    transform: scale(1, 1);
    opacity: 1;
  }
  
  100% {
    transform: scale(1.5, 1.5);
    opacity: 0;
  }
}

.ihfathmsg-msg-subject,
.ihfathmsg-msg-time,
.ihfath-msg-header-label {
  // display: inline-block;
  font-family: Arial;
  margin-left: -15px;
  padding-left: 10px;
  padding-right: 5px;
  border-left: 5px solid #404040;
}

.ihfath-msg-header-label {
  display: inline-block;
  // border: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  // padding-left: 15px;
  
  background: #efefef;
  text-transform: uppercase;
  text-shadow: none !important;
}

.ihfath-msg-reason {
  display: inline-block;
  margin-left: 5px;
  
  font-family: Arial;
  font-weight: bold;
}

.ihfath-msg-header-label,
.ihfath-msg-reason {
  font-size: 20px;
}

.content h2.ihfathmsg-msg-subject {
  margin-bottom: 0px;
}

.content h2.ihfathmsg-msg-time {
  margin-top: 0px;
  opacity: 0.65;
  // font-size: 0.8em;
  font-size: 10px;
  
  &.ihfath-time-expand {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  // > span {
  //   position: relative;
  //   // font-size: 0.65em;
  //   top: -0.15em;
  // }
}

// ================ FORM ================

.ihfathmsg-message-form {
  display: block;
  
  &.ihfathmsg-form-expandable {
    position: relative;
    transition: height $def-anim;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    
    &.ihfathmsg-form-collapsed {
      height: 40px !important;
      
      .ihfathmsg-expand-text {
        pointer-events: all;
        opacity: 1;
      }
      
      > * {
        opacity: 0;
        pointer-events: none;
      }
    }
    
    .ihfathmsg-expand-text {
      position: absolute;
      z-index: 100;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      pointer-events: none;
      border-radius: 3px;
      
      font-family: Arial;
      font-weight: bold;
      font-size: 16px;
      text-align: center;
      line-height: 40px;
      text-transform: uppercase;
      
      cursor: pointer;
      opacity: 0;
      color: #fff;
      // background: #404040;
      background: #a9bf04;
      transition: height $def-anim, opacity $def-anim;
      box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05);
      text-shadow: 1px 1px 1px rgba(0,0,0,.15);
    }
    
    > * {
      opacity: 1;
      transition: opacity $def-anim;
    }
    
    .ihfathmsg-form-collapse-btn {
      position: absolute;
      z-index: 10;
      right: -3px;
      top: -15px;
      padding: 5px;
      
      font-weight: bold;
      font-family: Arial, Verdana;
      font-size: 20px;
      
      color: #B3B3B3;
      cursor: pointer;
    }
  }
}

.ihfathmsg-msg-body {
  margin: 20px 0px;
}

.ihfathmsg-file-input-hidden {
  display: none;
}

.lces-file > aside {
  border-radius: 0px !important;
}

.ihfathmsg-file-attach-btn {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin-left: 10px;
  vertical-align: top;
  padding: 0px;
  
  line-height: 36px;
  font-size: 26px;
  font-weight: bold;
  font-family: "Trebuchet MS", Verdana;
  text-align: center;
  
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.5);
  background: #D9D9D9;
  cursor: pointer;
  
  &:hover {
    background: #BFBFBF;
  }
  
  &.ihfathmsg-btn-first {
    margin-left: 0px;
    
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}

.ihfathmsg-form-files {
  .form-item {
    margin-bottom: 0.5em;
    
    .lces-file {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }
  }
}

.ihfathmsg-msg-file-attachments {
  font-family: Arial;
  
  .ihfathmsg-msg-file-anchor {
    position: relative;
    display: inline-block;
    padding: 0px;
    margin: 0px 5px 5px 0px;
    overflow: hidden;
    
    font-size: 13px;
    
    background: #E6E6E6;
    color: #737373;
    border-radius: 2px;
    
    &:hover {
      background: #D1D1D1;
    }
    
    > span {
      display: inline-block;
      padding: 10px;
      
      &.ihfathmsg-msg-file-name {
        // padding-right: 5px;
        // background: rgba(255, 255, 255, 0.05);
      }
      
      &.ihfathmsg-msg-file-size {
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        opacity: 0.5;
        background: rgba(255, 255, 255, 0.2);
        // padding-left: 5px;
        
        
        > span {
          margin: 0.1em 0px;
          font-size: 0.8em;
        }
      }
    }
  }
}

// Non-admin notification
// #privatemsg-new-link[data-msg-count]::before,
#ihfathmsg-new-link[data-msg-count]::before,
#ihfathmsg-new-link[data-msg-count]::after {
  content: attr(data-msg-count);
  display: block;
  position: absolute;
  z-index: 10;
  right: -5px;
  top: -5px;
  border-radius: 100px;
  width: 22px;
  height: 22px;
  
  line-height: 20px;
  text-align: center;
  font-size: 15px;
  font-family: Arial;
  background: red;
  color: white;
}

#ihfathmsg-new-link[data-msg-count]::after {
  z-index: 1;
  color: red;
}

#ihfathmsg-new-link.ihfathmsg-staff-count-pulse[data-msg-count]::after {
  animation-name: ihfathmsg-count-pulse;
  animation-duration: 1.25s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}
