// main: main.scss

.ihfath-header {
  position: relative;
  font-size: 0px;
  background: $base-bg-fade-color;
  padding-top: 30px;
  padding-left: 0px;
  padding-right: 0px;

  > div {
    display: inline-block;
    vertical-align: top;
    height: 60px;
    padding-bottom: 30px;

    line-height: 42px;
  }
}

.ihfath-header .ihfath-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ihfath-user {
  position: relative;
  z-index: 10;
  padding-left: 30px;
  box-sizing: border-box;
  flex: 1 0 auto;

  font-size: 25px;

  h2 {
    // position: relative;
    // bottom: 15px;
    height: 42px;
    margin: 0;
    line-height: 0px;
  }

  .ihfath-input-wrap {
    height: 42px;
    position: relative;
    display: inline-block;
    vertical-align: middle;

    line-height: 0px;

    // Suggestions
    .ihfath-suggestions {
      position: absolute;
      top: 100%;
      left: 0px;
      right: 0px;
      margin-top: 0px;
      border: 1px solid $base-outline-color;
      border-top: 0px;

      .ihfath-user-suggestion {
        padding: 10px;

        background: #fff;
        font-size: 16px;
        line-height: 18px;
        font-weight: normal;
        border-bottom: 1px solid $base-bg-idle-color;

        cursor: pointer;

        &:last-child {
          border-bottom: 0px;
        }
      }
    }
  }

  // Actions
  .ihfath-actions {
    position: absolute;
    top: 6px;
    height: 42px;
    right: 6px;
    font-size: 0px;

    > * {
      $a-size: 42px - 12px;

      display: inline-block;
      height: $a-size;
      width: $a-size;

      color: $base-highlight-color;
      line-height: $a-size;
      font-size: 15px;
      text-align: center;

      @keyframes ihfath-userfield-spinner {
        0% {
          transform: rotate(0deg);
        }

        100% {
          transform: rotate(360deg);
        }
      }

      &.ihfath-spinner {
        i {
          animation-name: ihfath-userfield-spinner;
          animation-duration: 450ms;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
        }
      }

      &.ihfath-user-ready {
        color: $base-success-color;
      }
    }
  }

  input, button {
    display: inline-block;
    vertical-align: middle;
    padding: 5px 5px;

    line-height: 30px;
  }

  button {
    padding: 5px 10px;
    border: 1px solid $base-outline-color;
    border-radius: 3px;
    margin-left: 10px;

    cursor: pointer;
  }

  input {
    border: 1px solid $base-outline-color;
    padding-right: 40px;
    font-size: 25px;
  }
}

.ihfath-header div.ihfath-tabs {
  display: flex;
  align-items: center;
  padding-right: 30px;
  box-sizing: border-box;
  flex: 0 0 auto;

  font-size: 0px;
  text-align: right;

  .ihfath-tab {
    display: inline-block;
    height: 22px;
    border-radius: 5px;
    padding: 10px;
    margin-left: 15px;

    font-size: 18px;
    background: $base-bg-idle-color;
    line-height: 22px;

    cursor: pointer;

    &.ihfath-selected {
      background: $base-highlight-color;
      color: #fff;
    }
  }
}

.ihfath-header div.ihfath-user-summary {
  display: block;
  position: relative;
  padding: 30px 30px 0px;
  height: auto;
  line-height: 0px;

  border-top: 1px solid $base-outline-color;
  font-size: 0px;

  .ihfath-data {
    display: inline-block;
    width: 33.33333333333333%;
    margin-bottom: 30px;
    padding-right: 15px;
    box-sizing: border-box;

    line-height: 18px;
    font-size: 15px;

    .ihfath-title {
      margin-bottom: 5px;

      font-family: Arial;
      font-size: 0.85em;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      font-weight: bold;
      opacity: 0.40;
    }
  }
}
