// main: notifi.scss

$main-color: #17B40D;
$main-color-tone-1: #57AF52;
$main-color-tone-2: #77A575;
$main-color-tone-2-dark: #548053;

$text-main: #E5ECE5;

.notifi-modal,
.notifi-minimal {
  padding: 0px;
  
  color: $text-main;
  background: $main-color-tone-2-dark;
  
  border-radius: 4px;
  overflow: hidden;
  
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
  
  .fa {
    position: relative;
    top: -1px;
    margin-right: 5px;
    font-size: 16px;
    vertical-align: middle;
  }
}

.notifi-control-element {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  
  border: 0px;
  background: transparent;
}

.notifi-text {
  padding-top: 10px;
  padding-bottom: 10px;
}

.notifi-button {
  color: $text-main;
  background: rgba(0, 0, 0, 0.1);
  font-size: 12px;
  text-transform: uppercase;
  
  cursor: pointer;
  
  &:hover {
    color: #fff;
    background: $main-color;// rgba(255, 255, 255, 0.1);
  }
}
