// main: main.scss

@import "notifi-theme";

.notifi-hidden.notifi-hidden.notifi-hidden.notifi-hidden.notifi-hidden {
  display: none;
}

.notifi-control.notifi-modal,
.notifi-control.notifi-minimal {
  position: absolute;
  z-index: 100;
  
  &.notifi-repos-base {
    left: unset !important;
    top: unset !important;
  }
  
  &.notifi-pos-fixed {
    position: fixed;
  }
  
  &.notifi-no-animation {
    animation-name: none !important;
  }
  
  &:not(.notifi-container-hidden) {
    animation-name: notifi-container-visible-anim;
    animation-duration: 350ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }
  
  &.notifi-container-hidden {
    animation-name: notifi-container-hidden-anim;
    animation-duration: 150ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    
    transition: left 0ms linear 360ms, top 0ms linear 160ms;
    
    left: -1000000000px !important;
  }
  
  $notifi-hidden-scale: 0.65;
  @keyframes notifi-container-hidden-anim {
    0% {
      opacity: 1;
      transform: scale(1, 1);
    }
    
    100% {
      opacity: 0;
      transform: scale($notifi-hidden-scale, $notifi-hidden-scale);
    }
  }
  
  @keyframes notifi-container-visible-anim {
    0% {
      opacity: 0;
      transform: scale($notifi-hidden-scale, $notifi-hidden-scale);
    }
    
    100% {
      opacity: 1;
      transform: scale(1, 1);
    }
  }
}

.notifi-hbox {
  position: relative;
  
  .notifi-control {
    display: inline-block;
  }
}

.notifi-control {
  position: relative;
  box-sizing: border-box;
  
  .notifi-control-element {
    
  }
}
