<div
  class="dropdown"
  tabindex="0"
  class:dropdown-disabled="disabled"
  class:is-active="visible"
  class:is-right="right"
  ref:dropdown>
  <div class="dropdown-trigger">
    <button
      class="button"
      type="button"
      on:click="set({visible: !disabled})">

      <!-- Dropdown title -->
      <span>{ (list[_index] || "  ")[1] }</span>

      <span class="icon is-small">
        <i class="fa fa-angle-down"></i>
      </span>
    </button>
  </div>
  <div class="dropdown-menu">
    <div class="dropdown-content">
      {#each list as item}
        {#if item === 0}
          <hr class="dropdown-divider">
        {:else}
          <a
            href="javascript:0[0]"
            class="dropdown-item"
            on:click="change(item[0])">
            {item[1]}
          </a>
        {/if}
      {/each}
    </div>
  </div>
</div>

<style>
  .dropdown-disabled {
    opacity: 0.5;
    pointer-events: none;
  }
</style>

<script>
  export default {
    oncreate() {
      const listener = (e) => {
        let target = e.target;

        while (target !== document.body) {
          if (target === this.refs.dropdown) {
            return;
          }

          target = target.parentNode;
        }

        this.set({
          visible: false,
        });
      }

      this.on("state", ({ current }) => {
        if (current.visible) {
          window.addEventListener("click", listener);
        } else {
          window.removeEventListener("click", listener);
        }
      });

      this.on("destroy", () => {
        window.removeEventListener("click", listener);
      });
    },

    data() {
      return {
        value: null,
        list: [],
        visible: false,
        disabled: false,
        right: false,
      }
    },

    computed: {
      _index: ({ value, list }) => {
        let index = 0;

        for (let i=0; i<list.length; i++) {
          const item = list[i];

          if (item[0] === value) {
            index = i;
            break;
          }
        }

        return index;
      }
    },

    methods: {
      change(value) {
        this.set({
          value,
          visible: false,
        });
        this.fire("change", {
          value,
        });
      }
    }
  }
</script>
