
// compressedFilenamePattern: lessonarchive-list.css

$main-color: #a9bf04;

.ihfath-center {
  text-align: center;
}

.ihfath-float-right {
  float: right;
}

.ihfath-inline-block {
  display: inline-block;
  line-height: 1.5;
}

.ihfath-valign-middle {
  vertical-align: middle;
}

.ihfath-hidden {
  display: none !important;
}

.ihfath-current-lesson {
  background: #eee;
  padding-top: 25px;
  padding-bottom: 25px;
}

.ihfath-current-lesson h4 {
  font-weight: normal;
  margin-bottom: 15px;
}

.ihfath-li-lesson-title {
  color: #999;
}

.ihfath-li-lesson {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 15px 15px;
  margin: 0px 0px 25px;

  // background: #D9D9D9;
  background: #fff;
  border: 1px solid $main-color;
  border-radius: 4px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  text-shadow: 1px 1px 1px rgba(0,0,0,.15);

  color: #404040;
}

.ihfath-li-lesson h3 {
  color: inherit;
  font-weight: normal;
  font-size: 15px;
  margin: 0px;
}

h3.ihfath-li-lesson-name {
  margin-bottom: 5px;
  text-transform: uppercase;

  > span {
    font-size: 1.55em;
  }

  span.ihfath-fade {
    color: #bbbbbb;
  }
}

.ihfath-li-lesson h3 {
  &.ihfath-li-lesson-details {
    color: #595959;
    line-height: 1.5em;

    span {
      font-size: 1em;
    }
  }
}

.ihfath-li-prof-highlight {
  display: inline;
  border-radius: 2px;
  padding: 3px 5px;

  // background: rgba(255, 255, 255, 0.1);
  background: rgba(0, 0, 0, 0.025);
}

.ihfath-li-go {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 200px;
}

.ihfath-li-go .fa {
  position: absolute;
  display: block;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: auto;
  height: 100px;
  width: 100px;

  line-height: 100px;
  text-align: center;
  font-size: 40px;
  color: #fff;
  opacity: 0.75;
}

.ihfath-li-go::before {
  content: "";
  position: absolute;
  display: block;
  right: -60px;
  top: -100px;
  bottom: -100px;
  width: 250px;

  background: $main-color;
  // background: inherit;
  // opacity: 0.1;
  transform: rotate(15deg);
  transform-origin: right center;
}

.ihfath-no-lesson {
  margin-bottom: 0px !important;
  color: #999;
}

.ihfath-left {
  text-align: left;
}
