
$base-cell-height: 40px;
$header-edge-color: #A6A6A6;

.cellidi-cd-wrapper {
  display: block;
  
  .cellidi-dead-cell {
    pointer: default;
  }
  
  div.cellidi-dead-cell.cellidi-cellspan-fill {
    pointer-events: none;
    opacity: 0 !important;
  }
  
  .cellidi-header-cell {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    height: $base-cell-height;
    visibility: visible; // For left-right header cells
    padding: 10px;
    
    font-weight: bold;
    font-size: 14px;
    text-align: center;
  }
  
  .cellidi-top-header,
  .cellidi-bottom-header {
    display: block;
    // font-size: 0px;
  }
  
  .cellidi-top-header {
    .cellidi-header-cell {
      border-bottom: 1px solid $header-edge-color;
    }
  }
  
  .cellidi-bottom-header {
    .cellidi-header-cell {
      border-top: 1px solid $header-edge-color;
    }
  }
  
  .cellidi-cell-row-wrapper {
    display: block;
    
    .cellidi-header-cell-left {
      border-right: 1px solid $header-edge-color;
    }
    
    .cellidi-header-cell-right {
      border-left: 1px solid $header-edge-color;
    }
    
    .cellidi-cell-row {
      position: relative; // To allow for vertical cellspan
      height: $base-cell-height;
      visibility: hidden;
      // font-size: 0px;
      
      .cellidi-cell {
        display: inline-block;
        visibility: visible;
        vertical-align: top;
        height: $base-cell-height;
        box-sizing: border-box;
        padding: 10px;
        
        text-align: center;
      }
    }
  }
}
