
// Base.scss
$max-page-width: 1024px;

$nav-height: 60px;
$nav-color: #fff;
$nav-bg: #242623;

$accent: #197098;
$dark-accent: #166E97;
$black-accent: #1A2F4B;

.theme2-block-overlap {
  display: block;

  background-color: #F2F2F2;

  .constrain {
    display: flex;
    flex-flow: row nowrap;
    padding: 6rem 0;
    max-width: $max-page-width;
    margin: 0 auto;
  }

  .back-pane {
    width: 50%;

    .picture {
      margin-right: -8rem;
      padding-bottom: 85%;

      border-bottom: 15px solid $accent;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    .stamp {
      margin-top: 3rem;
      margin-right: 2rem;
      padding-bottom: 50%;

      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    .buttons {
      display: flex;
      justify-content: flex-start;
      margin-top: 4rem;
      padding-right: 4rem;

      .button {
        display: block;
        padding: 0.6rem 0;
        width: 8.5rem;
        margin-right: 2rem;

        font-size: 1rem;
        color: $accent;
        border-radius: 0;
        border: 3px solid $dark-accent;
        background: #fff;
        text-decoration: none;

        &.focused {
          color: #fff;
          background: $dark-accent;
        }
      }
    }
  }

  .details-pane {
    width: 50%;
    margin-top: 5rem;
    padding: 2rem;

    background: #fff;

    > .title {
      font-weight: 200;
      font-size: 3rem;
      font-family: "Savoye LET";
      color: $accent;
      margin: 0;
      margin-bottom: 2rem;

      p {
        margin: 0;
      }

      &::after {
        content: "";
        display: block;
        height: 4px;
        width: 3rem;
        margin-top: 1.2rem;

        background: #000;
      }
    }

    ul {
      padding: 0;
      list-style: none;

      li {
        $icon-size: 3.4rem;
        $title-line-height: 1rem;

        margin-bottom: 2rem;
        padding-top: ($icon-size - $title-line-height) / 2;
        padding-left: $icon-size + 1rem;
        position: relative;

        .icon {
          position: absolute;
          left: 0;
          top: 0;
          width: $icon-size;
          height: $icon-size;
          box-sizing: border-box;
          padding: 10px;

          border-radius: 100%;
          border: 3px solid $accent;

          path {
            fill: $accent;
          }
        }

        .title {
          margin-top: 0;

          color: $black-accent;
          line-height: $title-line-height;

          p {
            margin: 0;
          }
        }

        .info {
          color: #444;
          font-size: 1.2rem;
          line-height: 1.9rem;
        }
      }
    }
  }
}
