<div class="content user-search-form">
  <div class="user-search-form-control">
    <div class="columns input-data">
      <div class="column">
        <h4 class="subtitle">First name</h4>
        <input
          type="text"
          class="input"
          placeholder="First name..."
          bind:value=fname
          on:input="fire('formUpdate', true)">
      </div>
      <div class="column">
        <h4 class="subtitle">Last name</h4>
        <input
          type="text"
          class="input"
          placeholder="Last name..."
          bind:value=lname
          on:input="fire('formUpdate', true)">
      </div>
    </div>
    <div class="columns input-data">
      <div class="column">
        <h4 class="subtitle">Email</h4>
        <input
          type="text"
          class="input"
          placeholder="Email..."
          bind:value=email
          on:input="fire('formUpdate', true)">
      </div>
      <div class="column">
        <h4 class="subtitle">Phone number (with country code)</h4>
        <input
          type="text"
          class="input"
          placeholder="Phone number..."
          bind:value=phone
          on:input="fire('formUpdate', true)">
      </div>
    </div>
  </div>
  <div class="user-search-form-options">
    <div class="content">
      <label>
        <input
          type="checkbox"
          bind:checked=studentsWithoutLessons
          on:change="fire('formUpdate', false)">
        <span>Students without lessons</span>
      </label>
      <label>
        <input
          type="checkbox"
          bind:checked=teachersWithoutStudents
          on:change="fire('formUpdate', false)">
        <span>Teachers without students</span>
      </label>
      <label>
        <input
          type="checkbox"
          bind:checked=reloadOnUpdate>
        <span>Auto update</span>
      </label>
    </div>
    <Dropdown
      list={roleList}
      bind:value=role
      on:change="fire('formUpdate', true)" />
  </div>
</div>

<!-- Reset / Submit buttons -->
<div class="content">
  <div class="level">
    <div class="level-left">
      <!-- ... -->
    </div>
    <div class="level-right">
      <div class="level-item">
        <button
          class="button is-link is-normal"
          on:click="reset()">
          Reset
        </button>
      </div>
      <div class="level-item">
        <button
          class="button is-link is-normal"
          on:click="search()">
          Search
        </button>
      </div>
    </div>
  </div>
</div>

<!-- User list -->
<div class="user-list-wrap content">
  <table class="user-list table is-striped">
    <tbody>
      <tr>
        <!-- <th><strong>Username</strong></th> -->
        <th><strong>First name</strong></th>
        <th><strong>Last name</strong></th>
        <th><strong>Email</strong></th>
        <th><strong>Address</strong></th>
        <th><strong>Phone</strong></th>
        <th><strong>Role</strong></th>
        <th><strong>Joined</strong></th>
        <th class="actions"><strong>Actions</strong></th>
      </tr>
      {#each userList as user}
        <tr class="user-list-row">
          <!-- <td>{user.name}</td> -->
          <td>{user.firstname}</td>
          <td>{user.lastname}</td>
          <td>{user.email}</td>
          <td>{user.address}</td>
          <td>{user.phone}</td>
          <td>{roleMap[user.role]}</td>
          <td>{new Date(user.created).toDateString()}</td>
          <td class="actions has-text-link">
            <a href="{`${ $baseUrl }admin/ihfath/lessons/${ user.id }`}">
              <i class="fa fa-calendar"></i>
            </a>
            <a href="{`${ $baseUrl }ihfath/messages/${ user.id }`}">
              <i class="fa fa-envelope-o"></i>
            </a>
            <a
              href="{`${ $baseUrl }user/${ user.id }/orders`}"
              class:is-disabled="user.role === '2'">
              <i class="fa fa-shopping-cart"></i>
            </a>
            <a href="{`${ $baseUrl }user/${ user.id }/edit`}">
              <i class="fa fa-edit"></i>
            </a>
            <a
              href="javascript:0[0]"
              class="has-text-info"
              on:click="showDetails(user.id)">
              <i class="fa fa-bars"></i>
            </a>
          </td>
        </tr>
        <!-- Professor/student relations -->
        {#if user.showDetails}
          <tr class="has-background-grey-dark">
            <td class="ihf-user-relations" colspan={columns}>
              {#if user.role === "2"}
                <div class="user-rel-list-wrap">
                  <h2>Students</h2>
                  <div class="user-rel-list has-text-white">
                    {#each user.students as suid}
                      <a class="button is-dark rel-button-single">
                        {users[suid].firstname + " " + users[suid].lastname}
                      </a>
                    {:else}
                      No students to show
                    {/each}
                  </div>
                </div>
              {:else}
                <div class="user-rel-list-wrap">
                  <h2>Professors</h2>
                  <div class="user-rel-list has-text-white">
                    {#each user.professors as puid}
                      <div class="rel-button-list">
                        <a href="{`${ $baseUrl }user/${ puid }/edit`}" class="button is-dark rel-button-name">
                          {users[puid].firstname + " " + users[puid].lastname}
                        </a>
                        {#each users[puid].courses as course}
                          <a href="{$baseUrl + 'admin/ihfath/lessons/' + puid + '/' + course}" class="button is-link rel-button-schedule">
                            <i class="fa fa-calendar"></i>
                            <span>{courses[course].name}</span>
                          </a>
                        {/each}
                      </div>
                    {:else}
                      No professors to show
                    {/each}
                  </div>
                </div>
              {/if}
            </td>
          </tr>
        {/if}
      {:else}
        <tr>
          <td class="user-list-no-users" colspan={columns}>No users found</td>
        </tr>
      {/each}
    </tbody>
  </table>
</div>

<!-- Navigation -->
<nav class="pagination is-centered">
  <a
    href="javascript:0[0]"
    class="pagination-previous"
    on:click="relativePage(-1)">
    Previous
  </a>
  <a
    href="javascript:0[0]"
    class="pagination-next"
    on:click="relativePage(1)">
    Next
  </a>
  <ul class="pagination-list">
    <li>
      <a
        href="javascript:0[0]"
        class="pagination-link"
        class:is-current="page === 1"
        on:click="navigatePage(1)">
        1
      </a>
    </li>
    {#if pager.startSep}
      <li>
        <span class="pagination-ellipsis">
        &hellip;
        </span>
      </li>
    {/if}
    {#each pager.intermediatePages as intermediatePage}
      <li>
        <a
          href="javascript:0[0]"
          class="pagination-link"
          class:is-current="intermediatePage === page"
          on:click="navigatePage(intermediatePage)">
          {intermediatePage}
        </a>
      </li>
    {/each}
    {#if pager.endSep}
      <li>
        <span class="pagination-ellipsis">
        &hellip;
        </span>
      </li>
    {/if}
    {#if pager.last !== 1}
      <li>
        <a
          href="javascript:0[0]"
          class="pagination-link"
          class:is-current="page === pager.last"
          on:click="navigatePage(pager.last)">
          {pager.last}
        </a>
      </li>
    {/if}
  </ul>
</nav>

<style type="text/scss">
  $nothing: here;

  .ihf-user-relations {
    .rel-button-list {
      display: flex;
      border-radius: 5px;
      border: 1px solid #276cda;
      margin-right: 1rem;

      .rel-button-schedule {
        &:last-child {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }

    .button {
      display: inline-block;
      vertical-align: middle;

      &.rel-button-single, {
        margin-right: 1rem;
      }

      &.rel-button-name {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      &.rel-button-schedule:not(:last-child) {
        border-radius: 0;
      }
    }

    .user-rel-list-wrap {
      display: flex;
      flex-flow: column nowrap;

      > h2 {
        margin: 0.5em 0 1em;

        color: #fff;
        text-transform: uppercase;
        font-size: 0.95em;
        opacity: 0.8;
      }

      .user-rel-list {
        display: flex;
        margin-bottom: 0.5em;
      }
    }
  }

  .user-search-form {
    display: flex;
    flex-flow: row nowrap;
  }

  .user-search-form-control {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 0 auto;

    .columns {
      margin-right: 0;
    }
  }

  .user-search-form-options {
    flex: 1 1 auto;
  }

  .input-data {
    max-width: 700px;
  }

  .user-list-wrap {
    margin: 6rem 0rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
  }

  .actions.actions.actions.actions.actions {
    text-align: right;

    .is-disabled {
      // color: #aaa;
      opacity: 0.5;
      pointer-events: none;
    }

    .fa {
      display: inline-block;
      width: 30px;
      height: 30px;
      margin: 0;
      margin-left: 0.75rem;

      font-size: 1.2rem;
      line-height: 30px;
      text-align: center;
      cursor: pointer;
    }
  }

  table.user-list {
    tr {
      position: relative;

      &.user-list-row.user-list-row {
        &:hover {
          background: rgba(50, 115, 220, 0.15);
        }
      }
    }

    td {
      position: relative;
      line-height: 60px;
      font-size: 0.85em;

      &.user-list-no-users {
        text-align: center;
        font-size: 1.25em;
      }
    }
  }

  :global(div.app-root.app-root) {
    margin-bottom: 6rem;
  }
</style>

<script>
  import Dropdown from "../Dropdown/Dropdown.html";
  import { methods, oncreate } from "./lib";

  export default {
    components: {
      Dropdown,
    },

    oncreate,

    data() {
      return {
        fname: "",
        lname: "",
        email: "",
        phone: "",
        role: "0",
        studentsWithoutLessons: false,
        teachersWithoutStudents: true,
        users: {},
        // @ts-ignore
        list: [],
        courses: {},
        reloadOnUpdate: true,

        page: 1,
        pager: {
          last: 1,
          total: 1,
          startSep: false,
          endSep: false,
          // @ts-ignore
          intermediatePages: [],
        },

        columns: 8,
        roleMap: [
          null,
          null,
          "Teacher",
          "Student",
        ],
        roleList: [
          ["0", "Students and teachers"],
          ["2", "Teachers"],
          ["3", "Students"],
        ],
      }
    },

    computed: {
      userList: ({ list, users }) => list.map((uid) => users[uid]),
    },

    methods: {
      reset: methods.reset,
      search: methods.search,
      showDetails: methods.showDetails,
      navigatePage: methods.navigatePage,
      relativePage: methods.relativePage,
    },
  }
</script>
