
/* Notes */
.ihfath-lesson-notes {
  position: relative;
  font-size: 0px;
}

.ihfath-ln-textarea {
  display: inline-block;
  vertical-align: top;
  width: (100% * 9) / 12;

  font-size: 15px;
}

.ihfath-ln-rating {
  display: inline-block;
  vertical-align: top;
  width: (100% * 3) / 12;
  height: 220px;

  text-align: center;
  font-size: 15px;
  background: rgba(0, 0, 0, 0.05);
}

.ihfath-ln-rating-stars {
  height: 180px;
  line-height: 180px;

  transition: height 250ms ease-out, line-height 250ms ease-out;
}

.ihfath-ln-submitted .ihfath-ln-rating-stars {
  height: 220px;
  line-height: 220px;
}

.ihfath-ln-rating-stars-input {
  display: inline-block;
  vertical-align: middle;
  padding: 0px;

  line-height: 35px;
  font-size: 0px;
  cursor: pointer;

  div {
    font-size: 18px;
    opacity: 0.35;
  }

  i {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;

    font-size: 30px;
  }
}

.ihfath-ln-submitted .ihfath-ln-rating-stars-input {
  cursor: default;
}

.ihfath-ln-rating-submit {
  height: 40px;

  color: #fff;
  text-align: center;
  line-height: 40px;
  transition: background 250ms, height 250ms ease-out, line-height 250ms ease-out, opacity 250ms ease-out;
  cursor: default;

  &:not(.main-bg) {
    background: rgba(0, 0, 0, 0.25);
  }

  &.main-bg {
    cursor: pointer;
  }
}

.ihfath-ln-submitted .ihfath-ln-rating-submit {
  height: 0px;
  line-height: 0px;
  opacity: 0;
  pointer-events: none;
}

/* Whiteboard */
.ihfath-whiteboard {
  position: relative;
}

/* Whiteboard Toolbar Call User */
.ihfath-call-user {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  width: 200px;
  height: 40px;

  line-height: 40px;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.ihfath-call-user,
.ihfath-call-user * {
  text-shadow: none;
}

.ihfath-call-user > a {
  display: inline-block;
  padding: 0px 15px;

  border-radius: 20px;
}

.ihfath-call-user b {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;

  font-size: 21px;
}

.ihfath-whiteboard-embed {
  position: relative;
  z-index: 10;
  box-sizing: border-box;

  border: 1px solid hsl(0%, 0%, 90%);
  border-radius: 2px;
  width: 100%;
  height: 700px;
  background: rgba(0, 0, 0, 0.025);

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#ihfath-whiteboard-iframe {
  width: 100%;
  height: 100%;
}

.ihfath-iframe-noevent {
  pointer-events: none;
}

.ihfath-whiteboard-loading {
  position: absolute;
  z-index: 1;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.ihfath-loading-text {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;

  font-size: 35px;
  opacity: 0.25;
  pointer-events: none;
  transform: translate(-50%, -50%);
}

div.ihfath-clear-border::after {
  content: none !important;
}

/* Headings */
div.head-8.ihfath-close-heading {
  margin-bottom: 0px;
  margin-top: 10px;
}

div.head-8.ihfath-close-heading > * {
  margin-bottom: 0px;
}

div.ihfath-close-heading-content > * {
  padding-left: 20px;
}

div.head-8.ihfath-close-heading::before {
  background: #666;
}

/* LCES Files & Upload */
.ihfath-file-upload-form,
.ihfathmsg-msg-file-attachments {
  display: inline-block;
  vertical-align: top;
}

.form-item div.lces-file {
  box-sizing: content-box;
  vertical-align: top;
}

.ihfath-file-items .form-item:not(.ihfathmsg-file-input-hidden) {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
}

#edit-files,
#edit-buttons {
  display: inline-block;
  vertical-align: middle;
}
