.main {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 60px;
  align-items: center;
  flex: 1 0 auto;
  height: 100%;
  background: #F2F2F2; }

.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  margin: 0 auto;
  padding-bottom: 7rem;
  border-bottom: 10px solid #2A779A;
  background-position: center;
  background-size: cover; }
  .hero::before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 20%, rgba(0, 0, 0, 0.65)); }
  .hero > .constrain {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    padding: 2.5rem 0;
    height: 450px;
    width: 100%;
    max-width: 1024px; }
  .hero h1 {
    max-width: 400px;
    margin: 0;
    margin-top: -4rem;
    text-align: center;
    font-family: "Savoye LET";
    font-weight: 400;
    font-size: 4.2rem;
    color: #fff;
    text-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.5); }
  .hero > .button {
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    bottom: 10rem;
    margin: 0 auto;
    width: 12rem;
    text-align: center;
    color: #fff;
    background: #2A779A; }

.course-body {
  position: relative;
  z-index: 10;
  display: flex;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  margin-top: -7rem;
  background: #fff;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.2); }
  .course-body .button {
    display: block; }
  .course-body h1,
  .course-body h2,
  .course-body h3,
  .course-body h4 {
    font-family: "Open Sans";
    font-weight: 300;
    color: #404040; }
  .course-body .details {
    display: flex;
    flex-flow: column;
    width: 70%;
    flex: 1 0 auto;
    padding: 0 3rem; }
    .course-body .details .title {
      font-size: 2.25rem;
      color: #222; }
      .course-body .details .title:first-child {
        margin-top: 0; }
    .course-body .details hr {
      margin: 1rem -3rem;
      padding: 0;
      border: 0;
      background: transparent;
      border-top: 1px solid rgba(0, 0, 0, 0.1); }
      .course-body .details hr:first-of-type {
        margin-top: 2rem; }
    .course-body .details h1,
    .course-body .details h2,
    .course-body .details h3,
    .course-body .details h4,
    .course-body .details h5,
    .course-body .details h6 {
      text-align: center; }
    .course-body .details > p {
      max-width: 95%;
      margin-top: 0;
      margin-bottom: 0;
      color: #404040;
      font-family: Avenir;
      font-weight: 400;
      font-size: 1.2rem; }
      .course-body .details > p:not(:last-child) {
        margin-bottom: 1rem; }
    .course-body .details .features {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-evenly;
      margin: 2rem 0 2rem; }
      .course-body .details .features .feature {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: flex-start;
        width: 285px;
        line-height: 0; }
        .course-body .details .features .feature .icon {
          width: 3.4rem;
          height: 3.4rem;
          box-sizing: border-box;
          padding: 10px;
          border-radius: 100%;
          border: 3px solid #2A779A; }
          .course-body .details .features .feature .icon path {
            fill: #2A779A; }
        .course-body .details .features .feature .title {
          color: #2A779A;
          font-size: 1.5rem; }
          .course-body .details .features .feature .title > p {
            margin: 0; }
        .course-body .details .features .feature .description {
          line-height: 1.5rem; }

.testimonials {
  margin-bottom: 3rem; }
  .testimonials .title {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 1.25em 0 0.5rem;
    margin-top: 0; }
  .testimonials > .text {
    display: flex;
    box-sizing: border-box;
    justify-content: center; }

.testimonial {
  position: relative;
  margin-bottom: 1rem;
  padding: 1rem;
  max-width: 250px;
  background: #f7f7f7;
  border-radius: 0;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); }
  .testimonial .icon {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center; }
    .testimonial .icon svg {
      max-width: 60px; }
      .testimonial .icon svg path {
        fill: #242623; }
  .testimonial > .name,
  .testimonial > .country {
    color: #2A779A;
    text-align: center;
    font-family: Roboto; }
  .testimonial > .name {
    margin-top: 1.25rem;
    font-weight: bold; }
  .testimonial > .content {
    margin-top: 1.25rem; }
  .testimonial > footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.25rem; }
    .testimonial > footer .date {
      opacity: 0.5;
      font-family: Roboto; }
    .testimonial > footer .rating {
      display: flex;
      height: 22px; }
      .testimonial > footer .rating .star {
        width: 16px;
        height: 16px;
        margin-left: 5px;
        background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%20%20%3Cpath%20fill%3D%22%23529A2A%22%20d%3D%22M12%20.587l3.668%207.568%208.332%201.151-6.064%205.828%201.48%208.279-7.416-3.967-7.417%203.967%201.481-8.279-6.064-5.828%208.332-1.151z%22%2F%3E%0A%3C%2Fsvg%3E%0A"); }
        .testimonial > footer .rating .star.-gray {
          filter: grayscale(100%); }

.faq-title {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center; }
  .faq-title::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    margin-top: -1px;
    background: #2A779A; }
  .faq-title .title {
    position: relative;
    z-index: 10;
    padding: 0 2rem;
    background: #fff; }

.levels {
  margin: 1rem 0 2rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2), 0px 5px 20px rgba(0, 0, 0, 0.2);
  transition: box-shadow 250ms ease, transform 250ms ease;
  font-family: Avenir; }
  .levels:last-child {
    margin-bottom: 3rem; }
  .levels .level {
    display: flex;
    flex-flow: column;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3); }
    .levels .level:last-child {
      border: 0; }
    .levels .level > .level-title {
      display: flex;
      height: 60px;
      padding: 1rem;
      align-items: center;
      margin: 0;
      color: #0096cf;
      background: #E2E6DF;
      font-size: 1.5rem;
      cursor: pointer; }
      .levels .level > .level-title::after {
        content: "\2329";
        display: block;
        margin-left: auto;
        margin-right: 1rem;
        transform: rotate(-90deg); }
    .levels .level > section {
      padding: 0rem 1rem;
      display: none; }
      .levels .level > section > * {
        text-align: left; }
      .levels .level > section > h3 {
        text-align: center; }
      .levels .level > section h4 {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding-bottom: 0.5rem;
        margin-bottom: 0.5rem;
        margin-right: -1rem;
        font-weight: 400;
        color: #2A779A; }
    .levels .level.expanded > .level-title {
      background: #2A779A;
      color: #fff; }
      .levels .level.expanded > .level-title::after {
        transform: rotate(90deg); }
    .levels .level.expanded > section {
      display: block; }
