@import "https://fonts.googleapis.com/css?family=Lato:300,400,900|Open+Sans:100,300,400|Roboto:100,300,400,900";
* {
  box-sizing: border-box; }

@font-face {
  font-family: "Avenir";
  src: url(fonts/avenir-book.otf); }

@font-face {
  font-family: "Savoye LET";
  src: url("fonts/savoye-let-plain.woff2") format("woff2"), url("fonts/savoye-let-plain.woff") format("woff"), url("fonts/savoye-let-plain.ttf") format("truetype"); }

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: Avenir, Arial;
  font-size: 16px; }

body {
  display: flex;
  flex-flow: column; }

*.none {
  display: none; }

.input,
.button {
  padding: 1rem 1.25rem;
  font-weight: 900;
  font-size: 1.2rem;
  background: rgba(0, 0, 0, 0.45);
  border-radius: 0.25rem;
  text-align: center;
  border: 0;
  color: #fff;
  text-decoration: none; }
  .input.shadow,
  .button.shadow {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2), 0px 5px 20px rgba(0, 0, 0, 0.2);
    transition: box-shadow 250ms ease, transform 250ms ease; }
    .input.shadow:hover,
    .button.shadow:hover {
      transform: scale3d(1.025, 1.025, 1.025) translate3d(0px, -3px, 0px);
      box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.2), 0px 13px 30px rgba(0, 0, 0, 0.2); }

.input {
  text-align: left;
  font-family: Lato;
  font-weight: 400; }
  .input.darker {
    background: rgba(0, 0, 0, 0.75); }

section.courses {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1.5rem 0;
  overflow: hidden;
  background: #242623;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25); }
  section.courses .course {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 4rem;
    text-decoration: none; }
    section.courses .course svg {
      width: 35px; }
      section.courses .course svg path {
        fill: #fff; }
    section.courses .course .title {
      margin-top: 1rem;
      margin-bottom: 0;
      color: #fff;
      font-family: "Open Sans";
      font-weight: 100;
      font-size: 0.8rem; }

body.page-course section.courses {
  padding: 1rem 0; }
  body.page-course section.courses .course {
    flex-flow: row nowrap;
    margin: 0 2rem; }
    body.page-course section.courses .course svg {
      width: 18px; }
    body.page-course section.courses .course .title {
      margin: 0 0.75rem; }

body.floating-course-summary section.courses {
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  top: 60px;
  padding: 1rem 0;
  border-bottom: 0;
  box-shadow: 0 0.2rem 0.25rem rgba(0, 0, 0, 0.2); }
  body.floating-course-summary section.courses .course {
    flex-flow: row nowrap;
    margin: 0 2rem; }
    body.floating-course-summary section.courses .course svg {
      width: 18px; }
    body.floating-course-summary section.courses .course .title {
      margin: 0 0.75rem; }

body.floating-course-summary.admin-menu section.courses {
  top: 89px; }

.contextual-links-wrapper {
  display: none !important; }

body.admin-menu .navigation {
  top: 29px; }

body.floating-course-summary .navigation {
  box-shadow: none; }

.navigation {
  position: fixed;
  z-index: 105;
  left: 0;
  top: 0;
  width: 100%;
  flex: 0 0 auto;
  background: #242623;
  box-shadow: 0 0.2rem 0.25rem rgba(0, 0, 0, 0.2); }
  .navigation,
  .navigation .constrain {
    display: flex;
    flex-flow: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    height: 60px; }
  .navigation .constrain {
    max-width: 1024px;
    justify-content: stretch;
    flex: 1; }
    .navigation .constrain .region-navigation {
      display: flex;
      flex: 0 1 100%;
      width: 100%; }
      .navigation .constrain .region-navigation .block-menu {
        display: flex;
        flex: 1 0 100%; }
        .navigation .constrain .region-navigation .block-menu .content {
          display: flex;
          flex: 1 0 100%; }
  .navigation .logo {
    position: relative;
    display: flex;
    justify-items: center;
    align-items: center;
    top: -0.16rem;
    width: 90px;
    height: 60px;
    margin-right: 2rem; }
    .navigation .logo svg {
      max-width: 100%; }
      .navigation .logo svg path:not([fill]) {
        fill: #fff; }
  .navigation .nav-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    flex: 1;
    overflow: hidden;
    letter-spacing: 0.05rem;
    font-family: "Lato";
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    text-decoration: none; }
    .navigation .nav-item.emphasize {
      font-weight: 700; }

.footer {
  display: flex;
  height: 100px;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  color: #868F81;
  background: #242623; }
  .footer b {
    margin-left: 0.35rem;
    color: #fff;
    font-weight: 900; }

.main {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 60px;
  align-items: center;
  flex: 1 0 auto;
  height: 100%; }

.content-hero {
  position: relative;
  display: flex;
  flex-flow: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: calc(100vh - 60px);
  width: 100%; }
  .content-hero > * {
    position: relative;
    z-index: 10; }
  .content-hero .login {
    position: relative;
    z-index: 10;
    display: flex;
    flex-flow: column;
    max-width: 300px;
    margin-top: 2rem; }
    .content-hero .login .header {
      margin: 0rem 0 0.75rem;
      color: #222;
      font-family: "Open Sans";
      font-weight: 300;
      font-size: 2rem; }
    .content-hero .login > *:not(.header) {
      margin: 0.25rem 0;
      box-shadow: 0 0.25rem 0.2rem rgba(0, 0, 0, 0.25); }
    .content-hero .login .button {
      width: 100%;
      background: #529A2A;
      cursor: pointer; }
      .content-hero .login .button.is-pending {
        position: relative;
        color: transparent; }
        .content-hero .login .button.is-pending::before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          width: 20px;
          height: 20px;
          border-radius: 100%;
          border-right: 2px solid #fff;
          border-bottom: 2px solid #fff;
          animation-name: ihfath-login-pending;
          animation-timing-function: linear;
          animation-duration: 450ms;
          animation-iteration-count: infinite; }

@keyframes ihfath-login-pending {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(359deg); } }
    .content-hero .login .login-error {
      display: none;
      align-items: center;
      justify-content: flex-start;
      padding: 0.5rem 1rem;
      background: #D5262A;
      color: #fff;
      cursor: default; }
      .content-hero .login .login-error .icon {
        font-size: 2rem;
        margin-right: 0.5rem; }
      .content-hero .login .login-error .message {
        position: relative;
        top: -0.05rem;
        font-family: Roboto;
        font-weight: 400; }

.content-hero {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-bottom: 0rem;
  width: 100%;
  overflow: hidden;
  color: #222; }
  .content-hero > .background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("./graphics/hero-bg.jpg") no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    pointer-events: none; }
  .content-hero > .constrain {
    position: relative;
    z-index: 10;
    display: flex;
    flex-flow: column;
    width: 100%;
    max-width: 1024px;
    padding: 0; }
  .content-hero h1,
  .content-hero h2,
  .content-hero h3,
  .content-hero h4 {
    display: flex;
    flex-flow: column;
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 3.2rem;
    color: #197098; }
  .content-hero .logo {
    max-width: 100px; }
  .content-hero .description {
    margin-top: 2rem;
    max-width: 500px;
    font-size: 1.3rem;
    line-height: 2rem; }
  .content-hero .company {
    margin: 0; }

.main {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 60px;
  align-items: center;
  flex: 1 0 auto;
  height: 100%; }

.main .region-content {
  width: 100%; }
  .main .region-content .block-system {
    width: 100%; }
    .main .region-content .block-system .content {
      width: 100%; }
