.content-hero {
  height: auto;
  padding: 4rem 0 6rem; }
  .content-hero .constrain {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    visibility: visible; }
    .content-hero .constrain .header {
      margin-top: 0; }
    .content-hero .constrain .prices {
      display: flex;
      justify-content: space-evenly;
      width: 100%; }
    .content-hero .constrain .back-to-course {
      margin-top: 6rem;
      font-size: 1.5rem;
      background: #39949A; }

.price-card {
  position: relative;
  display: flex;
  flex-flow: column;
  padding: 1.5rem;
  align-items: center;
  min-width: 230px;
  flex: 0 0 auto;
  border-radius: 7px;
  border: 1px solid #bfbfbf;
  transition: background 250ms ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  cursor: default; }
  .price-card:hover, .price-card.featured {
    background: #529A2A; }
    .price-card:hover > *:not(.button):not(.price), .price-card.featured > *:not(.button):not(.price) {
      color: #fff; }
  .price-card .title {
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 1.25rem; }
  .price-card .price {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 140px;
    margin-bottom: 1rem;
    color: #404040;
    font-family: "Lato";
    font-size: 2rem;
    border-radius: 100%;
    background: #d9d9d9; }
  .price-card .details {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%; }
  .price-card .detail {
    padding: 1rem 0 1rem;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #bfbfbf;
    font-size: 1.2rem; }
    .price-card .detail:last-child {
      border: 0; }
  .price-card .button:hover {
    background: #39949A; }
