
// Base.scss
$max-page-width: 1024px;

$nav-height: 60px;
$nav-color: #fff;
$nav-bg: #242623;

$accent: #197098;
$dark-accent: #166E97;
$black-accent: #1A2F4B;

$accent2: #6FBBAA;

.theme3-adjacent-frames {
  display: block;
  background-color: #197098;
  background-position: center;
  background-size: cover;

  .constrain {
    display: flex;
    flex-flow: row nowrap;
    padding: 6rem 0;
    max-width: $max-page-width;
    margin: 0 auto;
  }

  $details-width: 55%;

  .details {
    width: 60%;
    padding: 2rem;

    background: #fff;

    > .title {
      margin: 0;
      margin-bottom: 2rem;

      font-weight: 200;
      font-size: 3rem;
      font-family: "Savoye LET";
      color: $accent;

      p {
        margin: 0;
      }

      &::after {
        content: "";
        display: block;
        height: 4px;
        width: 3rem;
        margin-top: 1.2rem;

        background: #000;
      }
    }

    .quotation-mark {
      display: block;
      position: relative;
      max-width: 2rem;
      margin-right: 0.65rem;
      padding-left: 0.5rem;
      padding-bottom: 0.5rem;
      float: left;

      svg {
        width: 100%;
      }

      path {
        fill: $accent2;
      }
    }

    .text-body {
      font-size: 1.2rem;
      line-height: 2.2rem;
    }
  }

  .buttons {
    display: flex;
    justify-content: flex-start;
    margin-top: 4rem;
    padding-right: 4rem;

    .button {
      display: block;
      padding: 0.6rem 0;
      width: 8.5rem;
      margin-right: 2rem;

      font-size: 1rem;
      color: $accent;
      border-radius: 0;
      border: 3px solid $dark-accent;
      background: #fff;
      text-decoration: none;

      &.focused {
        color: #fff;
        background: $dark-accent;
      }
    }
  }

  .details,
  .picture {
    border-bottom: 15px solid $accent2;
    border-top: 15px solid $accent2;
  }

  .picture {
    width: 100% - $details-width;
    margin-top: 5rem;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
