{#if useOverlay}
  <div
    class="ihfbv-overlay"
    class:ihfbv-active="useOverlay && overlay"
    on:click="toggleOverlay()">
  </div>
{/if}
<div
  class="ihfbv-wrap"
  class:ihfbv-embed="!useOverlay"
  class:ihfbv-active="useOverlay ? overlay : true"
  class:ihfbv-is-moving="moving">
  <div
    class="ihfbv-page"
    class:ihfbv-is-zoomed="zoom > 1"
    class:ihfbv-is-moving="moving"
    ref:page
    on:mousedown="move(event)">
    <div
      class="ihfbv-page-render"
      style={(currentPageHash ? `background-image: url('${pageBase}/${currentPageHash}');` : "")
             + (`transform: translate(${ -zoomOffsetX }px, ${ -zoomOffsetY }px) scale(${ zoom }, ${ zoom });`)}></div>
  </div>
  <div
    class="ihfbv-title ihfbv-fade"
    style={"height: " + (headerHeight ? headerHeight : 60) + "px;"}>
    <span class="ihfbv-title-caption">{book.title}</span>
    <div class="ihfbv-right">
      {#if bookList.length}
        <div
          class="ihfbv-input ihfbv-booklist"
          ref:booklist>
          <div
            class="ihfbv-dropdown-trigger"
            on:click="toggleDropdown(true)">
            <span>{book.title}</span>
            <i class="fa fa-angle-down"></i>
          </div>
          <div
            class="ihfbv-dropdown"
            class:ihfbv-active="dropdownOpen">
            {#each bookList as bookEntry}
              <div
                class="ihfbv-option"
                on:click="requestBook(bookEntry.id)">
                {bookEntry.title}
              </div>
            {/each}
          </div>
        </div>
      {/if}

      {#if showClose}
        <div
          class="ihfbv-input ihfbv-close"
          on:click="propagateClose()">
          <i class="fa fa-times"></i>
        </div>
      {/if}
    </div>
  </div>
  <!-- Zoom -->
  <div class="ihfbv-zoom ihfbv-fade">
    <div
      class="ihfbv-zoom-in"
      on:click="zoom(0.5)">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24">
        <path d="M13 10h-3v3h-2v-3h-3v-2h3v-3h2v3h3v2zm8.172 14l-7.387-7.387c-1.388.874-3.024 1.387-4.785 1.387-4.971 0-9-4.029-9-9s4.029-9 9-9 9 4.029 9 9c0 1.761-.514 3.398-1.387 4.785l7.387 7.387-2.828 2.828zm-12.172-8c3.859 0 7-3.14 7-7s-3.141-7-7-7-7 3.14-7 7 3.141 7 7 7z"/>
      </svg>
    </div>
    <div
      class="ihfbv-zoom-out"
      on:click="zoom(-1)">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24">
        <path d="M13 10h-8v-2h8v2zm8.172 14l-7.387-7.387c-1.388.874-3.024 1.387-4.785 1.387-4.971 0-9-4.029-9-9s4.029-9 9-9 9 4.029 9 9c0 1.761-.514 3.398-1.387 4.785l7.387 7.387-2.828 2.828zm-12.172-8c3.859 0 7-3.14 7-7s-3.141-7-7-7-7 3.14-7 7 3.141 7 7 7z"/>
      </svg>
    </div>
    <div
      class="ihfbv-zoom-out"
      on:click="zoom(null)">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24">
        <path d="M13 8h-8v-2h8v2zm0 4h-8v-2h8v2zm8.172 12l-7.387-7.387c-1.388.874-3.024 1.387-4.785 1.387-4.971 0-9-4.029-9-9s4.029-9 9-9 9 4.029 9 9c0 1.761-.514 3.398-1.387 4.785l7.387 7.387-2.828 2.828zm-12.172-8c3.859 0 7-3.14 7-7s-3.141-7-7-7-7 3.14-7 7 3.141 7 7 7z"/>
      </svg>
    </div>
  </div>
  <div
    class="ihfbv-controls ihfbv-fade"
    class:ihfbv-inverted-direction="book.direction">
    <div
      class="ihfbv-prev"
      on:click="prev()">
      <i class="fa fa-angle-left"></i>
    </div>
    <div
      class="ihfbv-next"
      on:click="next()">
      <i class="fa fa-angle-right"></i>
    </div>
  </div>
  <div class="ihfbv-pagenum ihfbv-fade">
    <input
      type="text"
      class="ihfbv-pagenum-input"
      bind:value=userInputPage
      on:change="filterUserPage()">
    <span>{" / " + book.pages}</span>
  </div>
</div>

<style type="text/scss">
  $nothing: here;

  $viewer-width: 450px;
  $viewer-height: $viewer-width * 1.42; // A4

  * {
    box-sizing: border-box;
  }

  // Overlay
  .ihfbv-overlay {
    position: fixed;
    z-index: 10000;
    display: none;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    background: rgba(0, 0, 0, 0.9);

    &.ihfbv-active {
      display: block;
    }
  }

  .ihfbv-wrap {
    position: fixed;
    z-index: 10000;
    display: none;
    left: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: $viewer-width;
    height: $viewer-height;
    overflow: hidden;

    font-size: 16px;
    border-radius: 4px;
    background: hsl(0%, 0%, 65%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    &.ihfbv-embed {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
    }

    &.ihfbv-active {
      display: block;
    }

    .ihfbv-fade {
      opacity: 0;
      transition: opacity 350ms ease 1000ms;
      pointer-events: none;
    }

    &.ihfbv-is-moving .ihfbv-fade {
      transition: opacity 350ms ease 0ms;
    }

    &:hover:not(.ihfbv-is-moving) {
      .ihfbv-fade {
        opacity: 1;
        transition: opacity 350ms ease 0ms;
        pointer-events: all;
      }
    }
  }

  $ctrl-background: rgba(0, 0, 0, 0.5);
  $nav-btn-height: 100px;
  $title-height: 60px; // NOTE: Overridden above
  $pagenum-width: 120px;

  .ihfbv-title {
    position: absolute;
    display: flex;
    align-items: center;
    left: 0;
    right: 0;
    top: 0;
    height: $title-height;
    padding: 1em;

    font-size: 1.35em;
    color: #fff;
    background: $ctrl-background;

    .ihfbv-right {
      display: flex;
      align-items: center;
      margin-left: auto;
    }

    .ihfbv-input {
      margin-left: 1em;
      color: hsla(0%, 0%, 100%, 0.75);
    }
  }

  .ihfbv-booklist {
    position: relative;
    font-size: 0.85em;

    .ihfbv-dropdown-trigger {
      display: flex;
      align-items: center;
      padding: 0 0.5em;
      height: 40px;
      width: 125px;

      border-radius: 2px;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        color: #fff;
        background: hsla(0%, 0%, 100%, 0.2);
      }

      > span {
        display: inline-block;
        padding-right: 5px;
        flex: 1 1 auto;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .fa {
        margin-left: auto;
        flex: 0 0 auto;
      }
    }

    .ihfbv-dropdown {
      position: absolute;
      display: none;
      top: 100%;
      left: 0;
      width: 150px;
      margin-top: 5px;
      overflow: hidden;

      $dd-border: 1px solid hsla(0%, 0%, 100%, 0.25);
      background-clip: content-box;
      border-radius: 4px;
      border: $dd-border;
      background: rgba(0, 0, 0, 0.75);
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.35);
      color: #fff;

      &.ihfbv-active {
        display: block;
      }

      .ihfbv-option {
        position: relative;
        display: flex;
        align-items: center;
        padding: 0 0.5em;
        height: 2.5em;
        flex: 0 1 auto;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        cursor: pointer;

        &:hover {
          background: hsla(0%, 0%, 100%, 0.35);
        }

        &:last-child {
          &::after {
            content: unset;
          }
        }

        $sep-length-cut: 5px;
        &::after {
          position: absolute;
          content: "";
          left: $sep-length-cut;
          right: $sep-length-cut;
          bottom: 0;
          height: 1px;
          border-bottom: $dd-border;
        }
      }
    }
  }

  .ihfbv-zoom {
    display: flex;
    box-sizing: content-box;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0.5em 0.5em 0.5em 0em;

    background: $ctrl-background;
    border-top-right-radius: 3px;

    $btn-size: 30px;
    height: $btn-size;

    > div {
      display: flex;
      align-items: center;
      justify-content: center;
      width: $btn-size;
      height: $btn-size;
      margin-left: 0.5em;

      border-radius: 3px;
      cursor: pointer;

      &:hover {
        background: hsla(0, 0, 100%, 0.25);
      }

      &:first-child {
        margin-left: 0.5em;
      }

      > svg {
        width: $btn-size - 12px;
        height: $btn-size - 12px;

        > path {
          fill: #fff;
        }
      }
    }
  }

  .ihfbv-close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;

    border-radius: 2px;
    font-size: 1.5em;
    cursor: pointer;

    &:hover {
      color: #fff !important;
      background: hsla(0%, 0%, 100%, 0.2);
    }
  }

  .ihfbv-controls {
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: $nav-btn-height;
    margin: auto 0;
    visibility: hidden;

    // next/prev buttons
    > div {
      display: flex;
      align-items: center;
      justify-content: center;
      width: $nav-btn-height * 0.65;
      height: $nav-btn-height;
      flex: 0 0 auto;
      visibility: visible;

      font-size: 3.5em;
      background: $ctrl-background;
      color: #fff;

      cursor: pointer;
    }

    .ihfbv-prev {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    .ihfbv-next {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
  }

  div.ihfbv-inverted-direction {
    transform: scale(-1, 1);
  }

  .ihfbv-pagenum {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: $pagenum-width;
    height: $title-height / 1.27;

    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    font-size: 1.2em;
    color: #fff;
    background: $ctrl-background;

    .ihfbv-pagenum-input {
      box-sizing: border-box;
      width: 50px;
      height: 25px;
      margin-right: 0.5em;

      text-align: center;
      color: #fff;
      border-radius: 3px;
      border: rgba(0, 0, 0, 0.25);
      background: hsla(0%, 0%, 100%, 0.25);
    }
  }

  // Page
  .ihfbv-page {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    &.ihfbv-is-zoomed {
      cursor: grab;

      &.ihfbv-is-moving {
        cursor: grabbing;
      }
    }

    .ihfbv-page-render {
      width: 100%;
      height: 100%;

      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      transform-origin: 0 0;
    }
  }

  .ihfbv-page-render {
    pointer-events: none;
  }
</style>

<script>
  export default {
    data() {
      return {
        pageBase: "",
        currentPage: 1, // 1-index based
        currentPageHash: "",
        userInputPage: "", // Number

        overlay: false,
        useOverlay: true,
        showClose: false,

        zoom: 1,
        maxZoom: 4,
        moving: false,
        zoomOffsetX: 0,
        zoomOffsetY: 0,

        dropdownOpen: false,
        headerHeight: 0,
        bookList: [
          // {
          //   id: "",
          //   title: "",
          // },
        ],
        book: {
          id: "",
          title: "",
          previewPage: "",
          pages: 0,
          direction: 0, // 0: ltr, 1: rtl
          // pageData: [],
          _lastPage: 1,
        },
      }
    },

    methods: {
      toggleOverlay() {
        const { overlay } = this.get();
        this.set({
          overlay: !overlay,
        });
      },

      filterUserPage() {
        const { book, currentPage, userInputPage } = this.get();
        const { pages } = book;

        let parsedPage = parseInt(userInputPage, 10);

        if (isNaN(parsedPage)) {
          return this.set({
            userInputPage: currentPage,
          });
        }

        if (parsedPage > pages) {
          parsedPage = pages;
        }

        if (parsedPage < 1) {
          parsedPage = 1;
        }

        this.setPage(parsedPage);
      },

      zoom(amount) {
        const { zoom, maxZoom, zoomOffsetX, zoomOffsetY } = this.get();
        const pageRect = this.refs.page.getBoundingClientRect();
        const width = pageRect.right - pageRect.left;
        const height = pageRect.bottom - pageRect.top;

        let newZoom = amount === null ? 1 : Math.min(Math.max(zoom + amount, 1), maxZoom);
        amount = amount === null ? 0 : amount;

        const maxX = (newZoom * width) - width;
        const maxY = (newZoom * height) - height;

        // Center the new zoom
        let newX = Math.max(Math.min(zoomOffsetX, maxX) + (((maxX / 2) / zoom * 2) * amount), 0);
        let newY = Math.max(Math.min(zoomOffsetY, maxY) + (((maxY / 2) / zoom * 2) * amount), 0);

        if (newZoom !== zoom) {
          this.set({
            zoom: newZoom,
            zoomOffsetX: newX,
            zoomOffsetY: newY,
          });
        }
      },

      move(e) {
        e.preventDefault();
        const that = this;

        const { zoom, zoomOffsetX, zoomOffsetY } = this.get();
        const pageRect = this.refs.page.getBoundingClientRect();
        const width = pageRect.right - pageRect.left;
        const height = pageRect.bottom - pageRect.top;
        const baseX = e.clientX;
        const baseY = e.clientY;

        const minX = 0;
        const minY = 0;
        const maxX = (zoom * width) - width;
        const maxY = (zoom * height) - height;

        console.log(width, height, minX, minX, maxX, maxY, zoom);
        console.log(zoomOffsetX, zoomOffsetY);

        const move = (e) => {
          const xDiff = baseX - e.clientX;
          const yDiff = baseY - e.clientY;

          this.set({
            zoomOffsetX: Math.min(Math.max(zoomOffsetX + xDiff, minX), maxX),
            zoomOffsetY: Math.min(Math.max(zoomOffsetY + yDiff, minY), maxY),
          });
        };

        window.addEventListener("mousemove", move);
        window.addEventListener("mouseup", function clear() {
          window.removeEventListener("mousemove", move);
          window.removeEventListener("mouseup", clear);

          that.set({
            moving: false,
          });
          that.fire("moving", {
            moving: false,
          });
        });

        this.set({
          moving: true,
        });
        this.fire("moving", {
          moving: true,
        });
      },

      setPage(pageNumInput) {
        const { book } = this.get();
        const { _lastPage } = book;
        // const pageNum = pageData[pageNumInput] ? pageNumInput : 1;
        // const page = pageData[pageNum] || pageData[0];

        // Request page
        // if (page) {
          this.fire("pagerequest", {
            page: pageNumInput,
          });
        // }
      },

      next() {
        const { book: { pages }, currentPage } = this.get();
        const newPage = Math.min(currentPage + 1, pages);

        if (newPage !== currentPage) {
          this.setPage(newPage);
        }
      },

      prev() {
        const { currentPage } = this.get();
        const newPage = Math.max(currentPage - 1, 1);

        if (newPage !== currentPage) {
          this.setPage(newPage);
        }
      },

      requestBook(bookId) {
        this.toggleDropdown(false);
        this.fire("bookrequest", {
          id: bookId,
        });
      },

      propagateClose() {
        const { useOverlay } = this.get();

        if (useOverlay) {
          this.set({
            overlay: false,
          });
        }

        this.fire("close");
      },

      toggleDropdown(open) {
        if (!this._ddBlurCb) {
          const blur = (e) => {
            let target = e.target;

            while (target !== document.body) {
              if (target === this.refs.booklist) {
                return;
              }

              target = target.parentNode;
            }

            this.set({
              dropdownOpen: false,
            });
            window.removeEventListener("click", blur);
            this._ddBlurCb = null;
          };

          this._ddBlurCb = blur;
          window.addEventListener("click", blur);
        }

        this.set({
          dropdownOpen: open,
        });
      },
    }
  }
</script>
