
// Base.scss
$max-page-width: 1024px;

$nav-height: 60px;
$nav-color: #fff;
$nav-bg: #242623;

$accent: #197098;
$dark-accent: #166E97;
$black-accent: #1A2F4B;

.theme6-user-list {
  display: block;

  background-color: #FFF;

  .constrain {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 6rem 0;
    max-width: $max-page-width;
    margin: 0 auto;
  }

  .constrain > .title {
    margin: 0;
    margin-bottom: 3rem;

    font-weight: 200;
    font-size: 3rem;
    font-family: "Savoye LET";
    color: $accent;

    p {
      margin: 0;
    }

    &::after {
      content: "";
      display: block;
      height: 4px;
      width: 3rem;
      margin-top: 1rem;
      margin-right: auto;
      margin-left: auto;

      background: #000;
    }

    p {
      margin: 0;
    }
  }

  .teachers {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;

    $picture-size: 180px;

    .teacher {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;

      .image {
        width: $picture-size;
        height: $picture-size;

        border: 4px solid $accent;
        border-radius: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }

      .open-cv {
        display: flex;
        align-items: center;
        padding: 0.5rem 0.75rem;

        font-size: 1.2rem;
        border-radius: 3px;
        border: 0;
        background: $accent;
        cursor: pointer;

        span {
          margin-right: 0.5rem;

          color: #fff;
        }

        svg {
          width: 2rem;

          path {
            fill: #fff;
          }
        }
      }

      .hidden {
        display: none;
      }
    }
  }
}

.teacher-cv-overlay {
  position: fixed;
  z-index: 110;
  display: none;
  align-items: center;
  justify-content: center;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;

  background: rgba(0, 0, 0, 0.8);

  &.visible {
    display: flex;
  }

  .popup {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    width: 850px;
    height: 450px;

    background: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.45);

    $video-size: 70%;
    .video {
      width: $video-size;
      height: 100%;

      background: #AAA;

      iframe {
        width: 100%;
        height: 100%;
        margin: 0;

        border: 0;
      }
    }

    .details {
      width: 100% - $video-size;
      height: 100%;
      box-sizing: border-box;
      padding: 1rem;
      padding-right: 1.5rem;

      .name {
        color: $accent;
      }

      .info {
        color: #333;
      }
    }

    .close {
      position: absolute;
      display: flex;
      align-items: center;
      right: 0;
      bottom: 100%;
      margin: 1.5rem;
      margin-right: 0;

      pointer-events: none;
      $color: rgba(255, 255, 255, 0.7);

      svg {
        width: 25px;

        path {
          fill: $color;
        }
      }

      span {
        margin-right: 0.8rem;

        font-size: 1.5rem;
        font-family: Roboto;
        color: $color;
      }
    }
  }
}
