<!-- Course admin entry point -->
<div class="level">
  <div class="level-left">
    <button
      class="button is-link"
      on:click="openFrontPageLayoutEditor()"
      type="button">
      <span class="icon">
        <i
          class="fa fa-columns"
          style="transform: rotate(-90deg);"
          ></i>
      </span>
      <span>
        {$locale.editFrontpageLayout}
      </span>
    </button>
  </div>
  <div class="level-right">
    <!-- CRUD Buttons -->
    <div class="level-item">
      {#if addingCategory}
        <div class="level-item">
          <div
            class="control"
            class:is-loading="categoryPending">
            <input
              type="text"
              class="input"
              bind:value=$newCategoryName
              on:keyup="isFinished(event)"
              placeholder={$locale.newCategory}
              use:focus>
          </div>
        </div>
      {/if}

      <div class="level-item">
        <button
          class="button is-link"
          on:click="newCategory()"
          type="button">
          <span class="icon">
            <i class="fa fa-plus"></i>
          </span>
          <span>
            {$locale.addCategory}
          </span>
        </button>
      </div>

      <div class="level-item">
        <button
          class="button is-link"
          on:click="newCourse()"
          type="button">
          <span class="icon">
            <i class="fa fa-plus"></i>
          </span>
          <span>
            {$locale.addCourse}
          </span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column course-list-column">
    <h2 class="title is-5">{$locale.courseList}</h2>

    {#if $categories.length}
      <div class="course-list">
        <CourseList list={$categories} />
      </div>
    {/if}
  </div>
  <div class="column is-8">
    {#if editing}

      <div class="box course-editor">
        <EditableHeaderTextField
          bind:value=course.name
          bind:edit=firstFieldEdit
          on:change="fire('namechange')"
          small={false}
          isNew=isNew />
        <EditableHeaderTextField
          bind:value=course.slogan
          isNormal={true}
          isNew=isNew />
        <EditableTextField
          bind:value=course.slug
          isMono={true}
          prefix="/course/"
          prefixFaded={true}
          on:change="fire('slugchange')"
          label={$locale.slugInputLabel} />

        <!-- Available Checkbox/Category Dropdown -->
        <div class="level">
          <div class="level-left">
            <div class="level-item">
              <label>
                <input
                  type="checkbox"
                  bind:checked=course.available>
                <span>
                  {$locale.availableCheckboxLabel}
                </span>
              </label>
            </div>
          </div>
          <div class="level-right">
            <div class="level-item">
              <Dropdown
                list={categoryDropdown}
                right={true}
                bind:value=course.category
                disabled={!isNew} />
            </div>
          </div>
        </div>

        <!-- Tabs -->
        <Tabs tabs={tabs} bind:current=currentTab />

        <!-- Tab pages/content -->
        {#if currentTab === "cp"}
          <!-- Course page -->

          <EditableTextAreaField bind:value=course.cpDescription label={$locale.coursePageDescription} />

          <hr>
          <!-- Course features -->
          <div class="course-features">
            <!-- <FieldLabel label={$locale.coursePageFeatures}/> -->

            {#each course.cpFeatures as feature, featureIndex}
              <div class="cp-feature">
                <EditableTextField bind:value=feature.title label={$locale.cpeFeatureNameLabel} />
                <EditableTextAreaField bind:value=feature.description label={$locale.cpeFeatureValueLabel} />
                
                <div class="cp-feature-buttons">
                  <button
                    class="button is-danger"
                    type="button"
                    on:click="removeCourseFeature(featureIndex)">
                    {$locale.fpeFieldDeleteButton}
                  </button>
                </div>
                <hr>
              </div>
            {/each}

            <button
                 class="button is-fullwidth is-medium is-link is-outlined"
                 type="button"
                 on:click="addCourseFeature()">
              <span class="icon">
                <i class="fa fa-plus"></i>
              </span>
              <span>
                {$locale.cpeAddFeatureButton}
              </span>
            </button>
          </div>

          <hr>
          <FileField bind:value=course.cpImage label={$locale.cpImageField} />

        {:elseif currentTab === "fp"}

          <FrontPageEditor
            bind:courseId=course.id
            bind:data=course.fpData />

        {:elseif currentTab === "cl"}

          <CourseInfoData
            bind:data=course.levels
            dataType="levels" />

        {:elseif currentTab === "cf"}

          <CourseInfoData
            bind:data=course.faq
            dataType="faq" />

        {:elseif currentTab === "pr"}

          <!-- Pricing tab -->
          <Prices
            bind:value=course.prices
            bind:featuredPrice=course.featuredPrice
            priceList={$prices} />

        {/if}
        <hr>

        <SaveDiscardButtons bind:editing=editing on:save="saveCourse()" />
      </div>

    {:else}

      <!-- Empty window when nothing selected -->
      <div class="box empty-course-view">
        <h2 class="title is-4 has-text-grey-lighter has-text-centered empty-course-view-title">
          {$locale.selectOrNew}
        </h2>
      </div>

    {/if}
  </div>
</div>

<!-- Modal Windows -->
<ThemeEditor courseId=course.pid />
<FrontPageLayoutEditor />

<style lang="scss">
  $nothing: "here";

  .course-list-column {
    position: relative;
  }

  .course-list {
    max-width: 225px;
  }

  .empty-course-view.empty-course-view {
    display: flex;
    align-items: center;
    min-height: 125px;
  }

  .empty-course-view-title {
    width: 100%;
  }

  .course-editor .level *:not(.dropdown):not(.dropdown-menu) {
    z-index: auto !important;
  }

  .course-features {
    margin-bottom: 1rem;

    div.cp-feature {
      margin-bottom: 1rem;

      &:last-of-type {
        hr {
          display: none;
        }
      }
    }

    .cp-feature-buttons {
      display: flex;

      .button {
        margin-left: auto;
      }
    }
  }

  .is-removed {
    display: none !important;
  }
</style>

<script>
  import EditableHeaderTextField from "./EditableHeaderTextField.html";
  import EditableTextAreaField from "./EditableTextAreaField.html";
  import EditableTextField from "./EditableTextField.html";
  import Tabs from "./Tabs.html";
  import SaveDiscardButtons from "./SaveDiscardButtons.html";
  import CourseList from "./CourseList.html";
  import Dropdown from "./Dropdown.html";
  import FileField from "./FileField.html";
  import FieldLabel from "./FieldLabel.html";
  import FrontPageEditor from "./FrontPageEditor.html";
  import FrontPageLayoutEditor from "./FrontPageLayoutEditor.html";
  import CourseInfoData from "./InfoData.html";
  import ThemeEditor from "./ThemeEditor.html";
  import Prices from "./Prices.html";
  import { machineName } from "../utils";

  export default {
    components: {
      EditableHeaderTextField,
      EditableTextAreaField,
      EditableTextField,
      Tabs,
      SaveDiscardButtons,
      CourseList,
      Dropdown,
      FileField,
      FieldLabel,
      FrontPageEditor,
      FrontPageLayoutEditor,
      CourseInfoData,
      ThemeEditor,
      Prices,
    },

    data() {
      return {
        editing: false,
        isNew: false,
        course: {
          id: null,
          category: 1,
          available: false,
          name: "",
          slogan: "",
          slug: "",
          cpDescription: "",
          cpImage: "",
        },

        addingCategory: false,
        newCategoryName: "",
        categoryPending: false,
        // categoryDropdown: [
        //   // [0, "Item"], // Value, Item
        //   // 0,      // Divider
        // ],

        firstFieldEdit: false,
        tabs: [],
        currentTab: "",
      }
    },

    computed: {
      categoryDropdown({ $categories }) {
        return $categories.map(c => [+c.tid, c.data.current.name]);
      }
    },

    oncreate() {
      this.on("namechange", () => {
        // Keep slug in sync with course name changes
        const { course } = this.get();
        course.slug = machineName(course.name);

        this.set({
          course,
        });
      });

      this.on("slugchange", () => {
        // Ensure slug is always a valid machine name
        const { course } = this.get();
        course.slug = machineName(course.slug);

        this.set({
          course,
        });
      });

      const listener = this.store.on("newcourse", ({ category }) => {
        this.newCourse({category});
      });

      const listener2 = this.store.on("selectcourse", ({ pid }) => {
        const { localCourses, language } = this.store.get();
        const courseLocal = localCourses[pid];

        if (courseLocal) {
          const course = {
            id: pid,
            category: courseLocal.category,
            available: courseLocal.available,
            ...courseLocal.locale[language],
          };

          this.set({
            course,
            editing: true,
            isNew: false,
          });
        }
      });

      const listener3 = this.store.on("savedcourse", () => {
        this.set({
          editing: false,
        });
      });

      // Update front page data when theme editor changes
      const updateThemeData = () => {
        const { currentThemeMap, currentThemeVariables } = this.store.get();
        const { course } = this.get();

        course.fpData.themeMap = currentThemeMap;
        course.fpData.themeVariables = currentThemeVariables;

        this.set({
          course,
        });
      };

      const listener4 = this.store.on("thememappingupdated", updateThemeData);
      const listener5 = this.store.on("themevariableupdated", updateThemeData);

      const listener6 = this.store.on("themeupdated", ({ theme }) => {
        // Sync theme of themeeditor and course data stored here
        const { course } = this.get();

        course.fpData.theme = theme ? theme.id : "";
        this.set({
          course,
        });
      });

      this.on("destroy", () => {
        listener.cancel();
        listener2.cancel();
        listener3.cancel();
        listener4.cancel();
        listener5.cancel();
        listener6.cancel();
      });
    },

    methods: {
      newCourse(evt) {
        const { category } = evt || {category: null};
        const { locale } = this.store.get();

        this.set({
          editing: true,
          firstFieldEdit: true,
          isNew: true,
          course: {
            id: null,
            category: category === null ? 1 : category,
            available: false,
            name: locale.newName,
            slogan: locale.newSlogan,
            slug: locale.newName,
            prices: [
              // 1, // Commerce Product ID
              // 2,
            ],
            featuredPrice: -1,
            cpDescription: locale.newDescription,
            cpFeatures: [
              // { title: "", description: "" },
              // ...
            ],
            cpImage: "",
            fpData: {
              fields: [
                // {name: "", value: ..., type: "text" | "bigtext" | "image"},
                // ...
              ],
              theme: "",
              themeMap: {
                // id1: 1,
                // id2: null, // Nothing in this region
                // id3: 2,
                // id4: 3,
              },
              themeVariables: {
                // var1: value,
                // var2: value,
              },
            },
            levels: [
              // {
              //   id: null,
              //   title: "",
              //   desc: "",
              //   books: ["hash1", "hash2", ...],
              // },
              // // ...
            ],
            faq: [
              // {
              //   id: null,
              //   title: "",
              //   desc: "",
              // },
              // // ...
            ],
          }
        });
      },

      newCategory() {
        this.set({
          addingCategory: true,
        });

        this.store.set({
          newCategoryName: "",
        });
      },

      saveCourse() {
        const { course } = this.get();
        const { categories } = this.store.get();
        const { id, available, category, ...courseData } = course;

        this.set({
          isNew: false,
        });

        const curId = id === null ? "new" : id;
        this.store.set({
          savingCourse: true,
          localCourses: {
            [curId]: {
              id: curId,
              category,
              available,
              locale: {
                en: courseData,
              }
            }
          }
        });
        this.store.fire("savecourse", curId);
      },

      addCourseFeature() {
        const { locale } = this.store.get();
        const { course } = this.get();
        const { cpFeatures } = course;

        cpFeatures.push({
          title: locale.cpeFeatureDefaultNewFeature,
          description: locale.cpeFeatureDefaultNewDescription,
        });

        this.set({
          course,
        });
      },

      removeCourseFeature(index) {
        const { course } = this.get();

        course.cpFeatures.splice(index, 1);
        this.set({
          course,
        });
      },

      isFinished(evt) {
        const code = evt.keyCode;
        evt.preventDefault();
        evt.stopPropagation();

        if (code === 13) {
          this.store.fire("newcategory");
          this.set({
            categoryPending: true,
          });
        } else if (code === 27) {
          this.set({
            addingCategory: false,
          });
        }
      },

      openFrontPageLayoutEditor() {
        this.store.fire("setfrontpagelayouteditor", {
          visible: true,
        });
      },
    },

    actions: {
      focus(node) {
        const { isNew } = this.get();
        node.focus();

        if (isNew) {
          setTimeout(() => {
            node.select();
          });
        }
      },
    }
  };
</script>
