<div class="menu">
  {#each list as category}
    <div class="menu-label">
      {category.data.current.name}

      <div class="button-list">
        <button
          class="action"
          type="button"
          title="{$locale.categoryActionDisable}"
          on:click="toggleCategoryAvailability(category.tid, category.available)">
          <span
            class="icon"
            class:has-text-danger="!category.available"
            class:has-text-grey-lighter="category.available">
            <i class="fa fa-lock"></i>
          </span>
        </button>
      </div>
    </div>
    <ul class="menu-list">

      <!-- Create course -->
      <li>
        <a
          href="javascript:0[0]"
          class="is-active"
          on:click="$fire('newcourse', {category: +category.tid})">
          <span class="icon">
            <i class="fa fa-plus"></i>
          </span>
          {$locale.addCourse}
        </a>
      </li>

      <!-- Course list -->
      {#each category.programs as course}
        <li>
          <a
            class="has-text-link course-row"
            href="javascript:0[0]"
            on:click="courseAction(event, {pid: course.pid})">
            <span class="icon">
              <i class="fa fa-book"></i>
            </span>
            {course.data.current.name}

            <div class="button-list">
              <button
                class="action"
                data-action="deletecourse"
                type="button"
                title="{$locale.courseActionDelete}">
                <span class="icon">
                  <i class="fa fa-trash-o"></i>
                </span>
              </button>
            </div>
          </a>
        </li>
      {/each}
    </ul>
  {/each}
</div>

<style type="text/scss">
  .menu-label {
    display: flex;
    align-items: center;
  }

  .menu-list {
    margin-bottom: 2rem !important;

    > li {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }

      > a {
        /* width: 100%; */
        display: flex;
      }
    }
  }

  .button-list {
    margin-left: auto;

    button {
      box-sizing: border-box;

      cursor: pointer;
      border-radius: 2px;
      border: 1px solid transparent;

      &:not(:first-child) {
        margin-left: 1rem;
      }

      &:hover {
        color: hsl(217, 71%, 53%);
        border: 1px solid hsl(0, 0, 95%);
      }

      i.fa-lock {
        width: 8px;
      }
    }
  }
</style>

<script>
  export default {
    methods: {
      toggleCategoryAvailability(tid, available) {
        this.store.fire("setcategoryavailability", {
          tid,
          available: !available,
        });
      },

      courseAction(e, { pid }) {
        let target = e.target;
        let action = "loadcourse";

        while (!target.classList.contains("course-row")) {
          if (target.dataset.action) {
            action = target.dataset.action;
            break;
          }

          target = target.parentNode;
        }

        this.store.fire(action, {pid});
      },
    }
  }
</script>
