<div class="editable-field-wrap">
  <div
    class="vertical-wrap"
    class:is-editing="edit">
    {#if label}
      <FieldLabel {label}/>
    {/if}

    {#if edit}
      <input
        type="text"
        class="input"
        bind:value=value
        on:keyup="isFinished(event)"
        on:blur="maybeClose()"
        use:focus>
    {:else}
      <h2
        class="title is-6 editable"
        class:title-normal="isNormal"
        class:is-mono="isMono">
        {#if prefix}
          <span
            class="editable-prefix"
            class:is-faded-prefix="prefixFaded">
            {prefix}
          </span>
        {/if}
        {value}
      </h2>
    {/if}
  </div>

  {#if !edit}
    <button
      class="edit-btn button is-link is-normal"
      type="button"
      on:click="set({edit: true, oldValue: value})">
      {$locale.edit}
    </button>
  {/if}
</div>

<style lang="scss">
  $nothing: "here";

  .editable-field-wrap {
    position: relative;
    display: flex;
    margin-top: 1rem;
  }

  .vertical-wrap {
    display: flex;
    flex-flow: column;

    &.is-editing {
      width: 100%;
    }
  }

  .editable {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
  }

  .editable-prefix {
    &.is-faded-prefix {
      opacity: 0.5;
    }
  }

  .edit-btn {
    margin-left: auto;
    font-weight: normal !important;
    opacity: 0.5 !important;

    &:hover {
      opacity: 1 !important;
    }
  }

  .title.is-mono {
    font-family: Monospace;
  }

  .title-normal {
    font-weight: normal !important;
  }
</style>

<script>
  import FieldLabel from "./FieldLabel.html";

  export default {
    components: {
      FieldLabel,
    },

    data() {
      return {
        label: "",
        value: "",
        oldValue: "",
        prefix: "",
        prefixFaded: false,

        edit: false,
        isNormal: false,
        isNew: false,
        isMono: false,
      }
    },

    methods: {
      isFinished(evt) {
        const code = evt.keyCode;

        if (code === 13 || code === 27) {
          this.set({
            edit: false,
            isNew: false,
          });

          this.fire("change");
        }
      },

      maybeClose() {
        const { value, oldValue } = this.get();

        // Close if no edits were made
        if (value === oldValue) {
          this.set({
            edit: false,
          });
        }
      }
    },

    actions: {
      focus(node) {
        const { isNew } = this.get();
        node.focus();

        if (isNew) {
          setTimeout(() => {
            node.select();
          });
        }
      },
    }
  }
</script>
