{#if label}
  <FieldLabel {label}/>
{/if}

{#if edit}
  <textarea
    type="text"
    class="textarea"
    bind:value=value
    on:keyup="isFinished(event)"
    use:focus
  />

  <div class="level">
    <div class="level-left"></div>
    <div class="level-right">
      <div class="level-item">
        <button
          type="button"
          class="button is-link"
          on:click="set({edit: false})">{$locale.done}</button>
      </div>
    </div>
  </div>
{:else}
  <div class="editable has-text-grey">
    <div class="displayed-data">
      {@html displayValue}
    </div>

    <button
      class="edit-btn button is-link"
      type="button"
      on:click="set({edit: true})">
      {$locale.edit}
    </button>
  </div>
{/if}

<style>
  .editable {
    display: block;
    position: relative;
    min-height: 6.5em;
    margin-bottom: 1rem;
  }

  .displayed-data :global(p.new-paragraph) {
    margin-top: 1rem;
  }

  .edit-btn.edit-btn.edit-btn {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;
  }

  .edit-btn.edit-btn.edit-btn:hover {
    opacity: 1;
  }

  .button-trough {
    display: flex;
    justify-content: flex-end;
  }

  textarea.textarea {
    margin-bottom: 1em;
  }
</style>

<script>
  import FieldLabel from "./FieldLabel.html";
  const displayStripSingleNewlinesRegexp = /([^\n])\n(?!\s*[\-*+])([^\n])/g;
  const displayMultipleNewlinesToOneRegexp = /\n+/g;
  const displayScriptRegexp = /<script((?:\s*(?:[^>"]+|"[^"]*"))*)>/g;
  const displayStyleRegexp = /<style((?:\s*(?:[^>"]+|"[^"]*"))*)>/g;

  export default {
    components: {
      FieldLabel,
    },

    data() {
      return {
        label: "",
        edit: false,
        small: true,
        value: "",
      }
    },

    computed: {
      // State that sanitizes markdown and preps it for display
      displayValue: ({ value }) => {
        // Single newlines to a space
        value = value.replace(displayStripSingleNewlinesRegexp, "$1 $2");

        // Put multiple newlines into one newlines
        value = value.replace(displayMultipleNewlinesToOneRegexp, "\n");

        // Make scripts and styles ineffective
        value = value.replace(displayScriptRegexp, "&lt;script$1&gt;");
        value = value.replace(displayStyleRegexp, "&lt;style$1&gt;");

        // Convert newlines into `<br>`
        value = value.replace(/\n/g, '</p>\n<p class="new-paragraph">');

        return "<p>" + value + "</p>";
      }
    },

    methods: {
      isFinished(evt) {
        const code = evt.keyCode;

        if (code === 27) {
          this.set({
            edit: false,
          });
        }
      },
    },

    actions: {
      focus(node) {
        node.focus();
      },
    }
  }
</script>
