{#if label}
  <FieldLabel {label}/>
{/if}

{#if edit}
  <input
    type="text"
    class="input"
    class:is-large="!small"
    bind:value=value
    on:keyup="isFinished(event)"
    on:blur="maybeClose()"
    use:focus>
{:else}
  <h2
    class="title is-2 editable"
    class:is-3="!small"
    class:is-5="small"
    class:title-normal="isNormal">
    {value}
    <button
      class="edit-btn button is-link is-normal"
      type="button"
      on:click="set({edit: true, oldValue: value})">
      Edit
    </button>
  </h2>
{/if}

<style>
  .editable {
    display: flex;
    justify-content: space-between;
  }

  .edit-btn {
    margin-left: auto;
    font-weight: normal !important;
    opacity: 0.5 !important;
  }

  .edit-btn:hover {
    opacity: 1 !important;
  }

  .input {
    margin-bottom: 1em;
  }

  .title-normal {
    font-weight: normal !important;
  }
</style>

<script>
  import FieldLabel from "./FieldLabel.html";

  export default {
    components: {
      FieldLabel,
    },

    data() {
      return {
        label: "",
        value: "",
        oldValue: "",
        edit: false,
        small: true,
        isNormal: false,
        isNew: false,
      }
    },

    methods: {
      isFinished(evt) {
        const code = evt.keyCode;

        if (code === 13 || code === 27) {
          this.set({
            edit: false,
            isNew: false,
          });

          this.fire("change");
        }
      },

      maybeClose() {
        const { value, oldValue } = this.get();

        // Close if no edits were made
        if (value === oldValue) {
          this.set({
            edit: false,
          });
        }
      }
    },

    actions: {
      focus(node) {
        const { isNew } = this.get();
        node.focus();

        if (isNew) {
          setTimeout(() => {
            node.select();
          });
        }
      },
    }
  }
</script>
