<h2 class="small-label title is-7 has-text-grey-lighter">{label}</h2>

<style>
  .small-label {
    text-transform: uppercase;
    margin-bottom: 0.5rem !important;
  }
</style>

<script>
  export default {}
</script>
