{#if label}
  <FieldLabel {label}/>
{/if}
<div
  class="box has-background-dark file-selector"
  class:has-file-selected="fileSelected"
  style="{maxWidth ? `max-width: ${maxWidth}px;` : ''}">
  {#if fileSelected}
    <div class="file-details">
      <h5 class="title is-5 ihfath-file-name">{fileData.name}</h5>
      <h6 class="title is-6 ihfath-file-size">{humanBytes(fileData.size)}</h6>
    </div>

    {#if preview}
      <div
        class="file-thumb"
        style="background-image: url('{previewUrl || $fileBase + '/' + fileHash}')" />
    {/if}
  {:elseif uploading}
    <div class="file-is-uploading has-text-grey-light">
      <span>{$locale.fisUploadingStatus}</span>
      <b class="has-text-link">{progress}%</b>
    </div>
  {:else}
    <h5 class="title is-5 has-text-grey">
      <span>
        {$locale.fisNofileselectedLabel}
      </span>
      <a class="has-text-link">
        {$locale.fisSelectfileLabel}
      </a>
    </h5>
  {/if}

  <form
    ref:form>
    <input
      type="file"
      class="ihfath-file-input"
      accept={accept}
      ref:input
      on:change="uploadFile()">
  </form>
</div>

<style type="text/scss">
  $nothing: here;

  div.file-selector.file-selector {
    position: relative;
    display: flex;
    height: 100px;
    box-sizing: border-box;
    align-items: center;
    padding: 0rem 3rem;

    &.has-file-selected {
      padding: 0 1rem;
    }

    h5 {
      margin: 0;
    }

    div.file-details {
      flex: 0 1 auto;
      max-width: 65%;

      .ihfath-file-name {
        margin-bottom: 0.5rem;

        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .ihfath-file-size {
        opacity: 0.7;
      }

      .title {
        color: #fff;
      }
    }
  }

  div.file-thumb {
    margin-left: auto;
    flex: 0 0 80px;
    width: 80px;
    height: 70px;

    border-radius: 2px;
    background: #fff;
    background-size: cover;
    background-position: center;
  }

  div.file-is-uploading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    font-size: 2rem;

    b {
      display: inline-block;
      font-weight: bold;
      margin-left: 1rem;
    }
  }

  input.ihfath-file-input {
    position: absolute;
    display: block;
    opacity: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    cursor: pointer;
  }
</style>

<script>
  import FieldLabel from "./FieldLabel.html";

  export default {
    components: {
      FieldLabel,
    },

    helpers: {
      humanBytes(bytes) {
        const kb = 1024;
        const mb = kb * 1024;
        const gb = mb * 1024;

        // Make sure bytes isn't a string
        bytes = +bytes;

        // FIXME: Probably shouldn't round, check this
        if (bytes > gb) {
          const value = bytes / gb;
          return (Math.round(value * 10) / 10) + "GiB";
        } else if (bytes > mb) {
          const value = bytes / mb;
          return (Math.round(value * 10) / 10) + "MiB";
        } else if (bytes > kb) {
          return Math.round(bytes / kb) + "KiB";
        }

        return bytes + "B";
      }
    },

    oncreate() {
      let { fileFields } = this.store.get();

      const id = ++fileFields;
      const form = this.refs.form;

      this.on("reset", () => {
        form.reset();
      });

      // Adjust state when the value changes
      this.on("state", ({ changed, current, previous }) => {
        if (changed.value) {
          if (current.value) {
            this.requestForm();
          } else {
            this.set({
              uploading: false,
              fileSelected: false,
            });
          }
        }
      });

      // Update form data
      this.store.on("requestfileformloaded", ({ id: reqId, form }) => {
        if (reqId === id) {
          if (form.current) {
            // Add current file data
            const { fileHash, fileName, fileSize } = form.current;

            this.set({
              uploading: false,
              fileSelected: true,
              fileHash: fileHash,
              fileData: {
                name: fileName,
                size: fileSize,
              },
              formData: form,
            });
          } else {
            // Just supply the new form data
            this.set({
              formData: form,
            });
          }
        }
      });

      // Show upload progress
      this.store.on("uploadfileprogress", ({ id: reqId, loaded, total }) => {
        if (reqId === id) {
          this.set({
            progress: Math.round(loaded / total * 100),
          });
        }
      });

      // Display newly uploaded file
      this.store.on("uploadedfile", ({ id: reqId, file}) => {
        if (reqId === id) {
          const { fileHash, fileName, fileSize } = file;

          this.set({
            uploading: false,
            fileSelected: true,
            value: fileHash,
            fileHash,
            fileData: {
              name: fileName,
              size: fileSize,
            },
          });
          this.fire("change");
        }
      });

      // Set defaults
      this.set({
        id,
      });
      this.store.set({
        fileFields,
      });

      // Request
      this.requestForm();
    },

    data() {
      return {
        id: -1,
        value: "",
        label: "",
        fileSelected: false,
        accept: null,

        uploading: false,
        progress: 0,

        preview: true,
        previewUrl: "",
        maxWidth: 0,

        fileHash: "",
        fileData: {
          name: "",
          size: 0,
        },
        formData: {
          buildId: "",
          id: "", // Drupal 7 form_id
          token: "",
          file: null,
        },
      };
    },

    methods: {
      requestForm() {
        const { id, value } = this.get();
        this.store.fire("requestfileform", {
          id,
          oldFileHash: value || null,
        });
      },

      uploadFile() {
        const { id, formData: form } = this.get();
        const input = this.refs.input;
        const file = input.files[0];

        if (file) {
          form.file = file;
          this.store.fire("uploadfile", {
            id,
            form,
          });
          this.set({
            uploading: true,
            fileSelected: false,
            progress: 0,
          });
        }
      },
    }
  }
</script>
