<div
  class="modal"
  class:is-active=visible>
  <div
    class="modal-background">
    <!-- on:click="set({visible: false})"> -->
    <!-- Maybe require explicitly closing or prompting to save? -->
  </div>
  <div class="modal-content">
    <div class="box front-page-layout-window">
      <div class="fpl-item-wrap">
        {#each items as item, index}
          <div
            class="fpl-item"
            class:fpl-hover="reordering && dragHoverIndex === index"
            on:mouseover="dragHover(index)"
            on:mouseout="dragBlur(index)">
            <div class="fpl-item-summary">
              <div
                class="fpl-handle"
                on:mousedown="dragReorder(index, event)">
                <i class="fa fa-ellipsis-v"></i>
                <i class="fa fa-ellipsis-v"></i>
              </div>
              <div class="fpl-item-type">
                {item.type}
              </div>
              <div class="fpl-details">
                <h3 class="fpl-item-name">
                  {item.name}

                  {#if item.id === null}
                    <span class="has-text-link">*</span>
                  {/if}
                </h3>
                <h4 class="fpl-item-theme">
                  Theme: <b>{($themeIdMap[item.themeId] || {name: ""}).name}</b>
                </h4>
              </div>
              <div class="fpl-actions">
                <div
                  class="fpl-action has-background-link"
                  on:click="removeItem(index)">
                  <i class="fa fa-times"></i>
                </div>
                <div
                  class="fpl-action has-background-link"
                  on:click="editItem(index)">
                  <i class="fa fa-pencil"></i>
                </div>
              </div>
            </div>

            {#if item._editing}
              <div class="fpl-item-fields has-background-primary">
                <EditableTextField bind:value=item.name label="Item Name" />

                {#if item.type === "course"}
                  <div class="fpl-property">
                    <h4 class="title is-5">Course</h4>
                    <div>
                      <Dropdown
                        list={courses}
                        right={true}
                        bind:value=item.courseId />
                    </div>
                  </div>
                {/if}

                <div class="fpl-property">
                  <h4 class="title is-5">Theme</h4>
                  <div>
                    <button
                      class="button is-link"
                      on:click="openThemePreview(index)">
                      <i class="fa fa-desktop"></i>
                    </button>
                    <Dropdown
                      list={themes}
                      right={true}
                      bind:value=item.themeId
                      on:change="themeChange(index)" />
                  </div>
                </div>

                {#if item.type === "custom"}

                  <!-- Theme Settings -->
                  <!-- FIXME: themeVariableTypes is terrible naming -->
                  {#if item.data.en.themeVariableTypes}
                    <hr>

                    {#each Object.entries(item.data.en.themeVariableTypes) as variable}
                      <div class="fpl-item-field">
                        <h5 class="title is-5">{variable[0]}</h5>

                        {#if variable[1].type === "text"}
                          <EditableTextField bind:value=item.data.en.themeVariables[variable[0]] label={$locale.fpeFieldValueLabel} />
                        {:elseif variable[1].type === "bigtext"}
                          <EditableTextAreaField bind:value=item.data.en.themeVariables[variable[0]] label={$locale.fpeFieldValueLabel} />
                        {:elseif variable[1].type === "image"}
                          <FileField bind:value=item.data.en.themeVariables[variable[0]] />
                        {:elseif variable[1].type === "userlist"}
                          <UserListField bind:value=item.data.en.themeVariables[variable[0]] />
                        {/if}
                      </div>
                    {/each}
                  {/if}

                  {#if (item.data.en.fields || "").length}
                    <hr>

                    {#each item.data.en.fields as field}
                      <div class="fpl-item-field">
                        <h5 class="title is-5">{field.name}</h5>

                        {#if field.type === "text"}
                          <EditableTextField bind:value=field.value label={$locale.fpeFieldValueLabel} />
                        {:elseif field.type === "bigtext"}
                          <EditableTextAreaField bind:value=field.value label={$locale.fpeFieldValueLabel} />
                        {:elseif field.type === "image"}
                          <FileField bind:value=field.value />
                        {:elseif field.type === "userlist"}
                          <UserListField bind:value=field.value />
                        {/if}
                      </div>
                    {/each}
                  {/if}

                {/if}
              </div>
            {/if}
          </div>
        {/each}
      </div>

      <div class="level button-wrap">
        <div class="level-left">
          <div class="level-item">
            <button
              class="button is-warning"
              on:click="cancel()">
              Cancel
            </button>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <button
              class="button is-link"
              on:click="save()">
              Save
            </button>
          </div>
          <div class="level-item">
            <button
              class="button is-link"
              on:click="addCustomItem()">
              Add Custom
            </button>
          </div>
          <div class="level-item">
            <button
              class="button is-link"
              on:click="addCourseItem()">
              Add Course
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  $nothing: here;

  .fpl-item {
    display: flex;
    flex-flow: column nowrap;
    padding: 0;

    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    &.fpl-hover {
      outline: 3px dashed #00B2FF;
    }

    .fpl-item-summary {
      display: flex;
      flex-flow: row nowrap;
      padding: 1rem;
      padding-right: 0;
      align-items: flex-start;
    }

    .fpl-item-summary > *:not(:first-child) {
      margin-left: 1rem;
    }

    .fpl-handle {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      align-self: stretch;
      padding: 0 0.3rem;
      flex: 0 0;

      cursor: grabbing;

      i {
        margin: 0 0.1rem;
      }
    }

    .fpl-item-type {
      display: flex;
      flex: 0 0 100px;
      padding: 0.4rem 0;
      align-self: center;
      justify-content: center;
      width: 70px;

      background: rgba(0, 0, 0, 0.1);
      border-radius: 3px;
      font-size: 1.25rem;
    }

    .fpl-details {
      // width: 100%;
      flex: 1 1;
      align-self: center;
    }

    .fpl-item-name {
      font-size: 1.25rem;
      font-weight: bold;
    }

    .fpl-actions {
      display: flex;
      flex-flow: column nowrap;
      flex: 0 0;
    }

    .fpl-action {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 25px;
      height: 25px;
      margin-bottom: 0.5rem;

      color: #fff;
      border-radius: 3px;
      cursor: pointer;
    }

    .fpl-property {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      margin-bottom: 1rem;

      > :global(*:last-child) {
        margin-left: auto;
      }

      > .title {
        margin: 0;
      }

      > :global(.dropdown) {
        display: block;
      }
    }

    // Fields
    .fpl-item-fields {
      padding: 1rem 1rem;
      margin-bottom: 1rem;

      border-radius: 5px;

      hr {
        height: 1px;
        margin-top: 0.5rem;
        opacity: 0.5;
      }

      :global(.small-label) {
        color: #fff !important;
        opacity: 0.7;
      }

      .title,
      :global(.title.editable),
      :global(.displayed-data) {
        color: #fff !important;
      }

      :global(.edit-btn) {
        opacity: 1 !important;
      }

      .fpl-item-field:not(:first-child) {
        margin-top: 1rem;
      }
    }
  }

  .modal-content {
    .button-wrap {
      margin: 1rem 0rem 1rem;
    }

    .fpl-item-wrap:not(.is-empty) + .button-wrap {
      margin-top: 2rem;
    }
  }
</style>

<script>
  import EditableTextField from "./EditableTextField.html";
  import EditableTextAreaField from "./EditableTextAreaField.html";
  import Dropdown from "./Dropdown.html";
  import FileField from "./FileField.html";
  import UserListField from "./UserListField.html";
  import { getThemeUserFields, deepCopy } from "../utils";

  export default {
    components: {
      EditableTextField,
      EditableTextAreaField,
      Dropdown,
      FileField,
      UserListField,
    },

    oncreate() {
      const listener = this.store.on("setfrontpagelayouteditor", ({ visible }) => {
        let extraState = {};

        if (visible) {
          const { oldState, items } = this.get();

          if (oldState) {
            // Load previously saved items
            extraState = {
              items: collapsedItems(oldState.items),
              oldState: null,
            };
          } else {
            // Copy current items in case we'll need to revert back to them later
            extraState = {
              oldState: deepCopy({
                items: collapsedItems(items),
              }),
            };
          }
        }

        this.set({
          visible,
          ...extraState
        });
      });

      const collapsedItems = (items) => items.map(item => (item._editing = false, item));

      // Sync courses dropdown with new/removed courses
      const listener2 = this.store.on("state", ({ changed, current }) => {
        if (changed.localCourses) {
          updateCourseList();
        }
      });

      // Update course list when categories are loaded from the server
      const listener3 = this.store.on("categoriesloaded", () => {
        updateCourseList();
      });

      const updateCourseList = () => {
        const courses = [];
        const { language, categories } = this.store.get();

        for (const { programs } of categories) {
          for (const { pid: id, data: { current: { name } } } of programs) {
            // @ts-ignore
            courses.push([+id, name]);
          }
        }

        this.set({
          courses,
        });
      };

      // Update new items with their new IDs when saved on the
      // server
      const listener4 = this.store.on("frontpagelayoutsaved", ({ ids }) => {
        const { items } = this.get();

        for (let i=0; i<ids.length; i++) {
          items[i].id = ids[i];
        }

        this.set({
          items,
        });
      });

      this.on("destroy", () => {
        listener.cancel();
        listener2.cancel();
        listener3.cancel();
        listener4.cancel();
      });

      // Get initial course list
      updateCourseList();

      // Get theme list
      const { themes } = this.store.get();
      this.set({
        themes: themes.map(t => [t.id, t.name]),
      });

      // Set items
      const frontPageLayoutItems = this.store.get().frontPageLayout;
      this.set({
        items: frontPageLayoutItems.map(item => ({
            _editing: false,
            _oldFields: {
              _lastTheme: item.themeId,
              [item.themeId]: item.data,
            },

            ...item,
          })),
      });
    },

    data() {
      return {
        visible: false,

        // Drag-reordering
        reordering: false,
        triggerIndex: -1,
        dragHoverIndex: -1,

        // Any previous state saved
        oldState: null, // { items }

        // FIXME: Rename to `courses_list`
        courses: [
          // ["id", "Course Name"],
        ],
        themes: [
          // ["id", "Theme Name"],
        ],
        items: [
          // {
          //   _editing: false,
          //   // oldFields = Fields from other themes when the user changes the theme
          //   _oldFields: { _lastTheme: 'theme-id', 'theme-id': { ...data } },
          //
          //   // Generally 1-to-1 correspondance with drupal db schema
          //   id: null,
          //   name: "Arabic",
          //   type: "custom",
          //   themeId: "theme1",
          //   courseId: 0,
          //   data: {
          //     en: {
          //       fields: [
          //         {
          //           name: "left feld",
          //           value: "Nothing to be said",
          //           type: "text",
          //         },
          //         {
          //           name: "funny fald",
          //           value: "Things of value",
          //           type: "image",
          //         },
          //       ],
          //       theme: "theme1",
          //       themeMap: {
          //         "0": 0,
          //       },
          //       themeVariables: {
          //         setting: "No value",
          //       },
          //     },
          //   },
          // },
        ],
      };
    },

    methods: {
      addCourseItem() {
        const { items } = this.get();
        const { categories } = this.store.get();
        const firstCourseId = categories[0].programs[0].pid;

        const newItem = {
          _editing: false,
          _oldFields: {
            _lastTheme: "",
          },

          // Generally 1-to-1 correspondance with drupal db schema
          id: null,
          name: "New Course",
          type: "course",
          themeId: "",
          courseId: firstCourseId,
          data: {},
        };

        items.push(newItem);
        this.set({
          items,
        });
      },

      addCustomItem() {
        const { items } = this.get();
        const themeId = this.getFirstThemeId();
        const themeFields = this.getThemeUserFields(themeId);

        const newItem = {
          _editing: false,
          _oldFields: {
            _lastTheme: themeId,
          },

          // Generally 1-to-1 correspondance with drupal db schema
          id: null,
          name: "New Name",
          type: "custom",
          themeId: themeId,
          courseId: 0,
          data: {
            en: {
              theme: themeId,
              fields: themeFields.fields,
              themeMap: themeFields.themeMap,
              themeVariables: themeFields.themeVariables,
              themeVariableTypes: themeFields.themeVariableTypes,
            },
          },
        };

        items.push(newItem);
        this.set({
          items,
        });
      },

      removeItem(index) {
        const { items } = this.get();

        items.splice(index, 1);
        this.set({
          items,
        });
      },

      editItem(index) {
        const { items } = this.get();
        const item = items[index];

        item._editing = !item._editing;
        this.set({
          items,
        });
      },

      save() {
        const { items } = this.get();
        const savedItems = [];

        for (const item of items) {
          const {
            _editing,
            _oldFields,
            ...savedItem
          } = item;

          savedItems.push(savedItem);
        }

        this.store.fire("savefrontpagelayout", {
          items: savedItems,
        });

        // Save items
        console.log(savedItems);

        this.set({
          visible: false,
          oldState: null
        });
      },

      cancel() {
        this.set({
          visible: false,
        });
      },

      // Themes
      themeChange(index) {
        const { items } = this.get();

        const item = items[index];
        const themeId = item.themeId;
        const oldFields = item._oldFields;
        const lastThemeId = oldFields._lastThemeId;

        if (themeId === lastThemeId) {
          // Nothing changed
          return;
        }

        // "Save" current fields
        oldFields[lastThemeId] = item.data;

        if (oldFields[themeId]) {
          // Load old fields for this theme
          item.data = oldFields[themeId];
        } else {
          // Create new fields for this theme
          const themeFields = this.getThemeUserFields(themeId);

          // FIXME: !!!LOCALIZE!!!
          item.data = {
            en: {
              theme: themeId,
              fields: themeFields.fields,
              themeMap: themeFields.themeMap,
              themeVariables: themeFields.themeVariables,
              themeVariableTypes: themeFields.themeVariableTypes,
            },
          };
        }

        item._oldFields._lastTheme = themeId;
        console.log("THEME CHANGE", items[index].themeId, items[index].data);
        this.set({
          items,
        });
      },

      getFirstThemeId() {
        const { themes } = this.store.get();
        const firstTheme = themes[themes.length - 1];

        return firstTheme.id;
      },

      getThemeList() {
        const { themes } = this.store.get();

        return themes.map(t => [t.id, t.name]);
      },

      getTheme(themeId) {
        const { themeIdMap } = this.store.get();
        return themeIdMap[themeId];
      },

      getThemeUserFields(themeId) {
        return getThemeUserFields(themeId, this.store);
      },

      openThemePreview(index) {
        const { items } = this.get();
        const item = items[index];

        // Open theme preview here...
      },

      // Drag-reordering
      dragReorder(index, evt) {
        evt.preventDefault();
        this.set({
          reordering: true,
          triggerIndex: index,
          dragHoverIndex: -1,
        });

        const moveCb = (evt) => {
          evt.preventDefault();
        };

        const cb = () => {
          const { dragHoverIndex, items } = this.get();

          if (dragHoverIndex >= 0) {
            const current = items[index];
            const replace = items[dragHoverIndex];
            let oldIndex = index;

            if (dragHoverIndex < index) {
              // Adjust index to accomodate for the shift
              oldIndex++;
            }

            if (dragHoverIndex < index) {
              // After item to replace
              items.splice(dragHoverIndex, 0, current);
            } else {
              // After item to repace
              items.splice(dragHoverIndex + 1, 0, current);
            }

            items.splice(oldIndex, 1);

            // Apply final reordering
            this.set({
              reordering: false,
              items,
            });
          } else {
            this.set({
              reordering: false,
            });
          }

          window.removeEventListener("mouseup", cb);
          window.removeEventListener("mousemove", moveCb);
        };

        window.addEventListener("mouseup", cb);
        window.addEventListener("mousemove", moveCb);
      },

      dragHover(index) {
        const { triggerIndex } = this.get();

        if (index !== triggerIndex) {
          this.set({
            dragHoverIndex: index,
          });
        }
      },

      dragBlur(index) {
        const { dragHoverIndex } = this.get();

        if (dragHoverIndex === index) {
          this.set({
            dragHoverIndex: -1,
          });
        }
      },
    }
  }
</script>
