<!-- FrontPageEditor -->
<div class="level header-buttons">
  <div class="level-left">
    <div class="level-item">
      <!-- Nothing -->
    </div>
  </div>
  <div class="level-right">
    <div class="level-item">
      <button
        class="button is-link"
        on:click="createThemeUserFields()">
        {$locale.fpeFieldCreateThemeFieldsButton}
      </button>
    </div>
    <div class="level-item">
      <button
        class="button is-link"
        on:click="openThemeEditor()">
        {$locale.fpeFieldOpenThemeEditorButton}
      </button>
    </div>
  </div>
</div>

<div class="field-list">
  <h3 class="title is-3 has-text-centered">Theme Settings</h3>

  {#each Object.entries(themeVariableTypes) as variable, variableIndex}
    <div class="fp-field">
      <h3 class="title is-4">{variable[0]}</h3>
      <!-- <EditableTextField bind:value=variable.name label={$locale.fpeFieldNameLabel} /> -->

      {#if variable[1].type === "text"}
        <EditableTextField bind:value=data.themeVariables[variable[0]] label={$locale.fpeFieldValueLabel} />
      {:elseif variable[1].type === "bigtext"}
        <EditableTextAreaField bind:value=data.themeVariables[variable[0]] label={$locale.fpeFieldValueLabel} />
      {:elseif variable[1].type === "image"}
        <FileField bind:value=data.themeVariables[variable[0]] />
      {/if}
    </div>
  {/each}

  <h3 class="title is-3 has-text-centered">Theme Regions</h3>

  <!-- Fields -->
  {#if data.fields}
    {#each data.fields as field, fieldIndex}
      <div class="fp-field">
        <h3 class="title is-5">{field.name}</h3>
        <!-- <EditableTextField bind:value=field.name label={$locale.fpeFieldNameLabel} /> -->

        {#if field.type === "text"}
          <EditableTextField bind:value=field.value label={$locale.fpeFieldValueLabel} />
        {:elseif field.type === "bigtext"}
          <EditableTextAreaField bind:value=field.value label={$locale.fpeFieldValueLabel} />
        {:elseif field.type === "image"}
          <FileField bind:value=field.value />
        {/if}
      </div>
    {/each}
  {/if}
</div>

<style lang="scss">
  $distance: 2rem;

  .header-buttons {
    margin-bottom: 1rem;
  }

  .fp-field {
    margin-bottom: $distance;

    &:not(:first-child) {
      border-top: 1px solid hsl(0, 0, 85%);
      margin-top: $distance;
      padding-top: $distance;
    }

    :global(.editable-field-wrap) {
      margin-top: 0;

      :global(input.input) {
        margin-bottom: 1rem;
      }
    }
  }

  // Make sure dropdown box shows up
  div.field-list *:not(.dropdown):not(.dropdown-menu) {
    z-index: auto !important;
  }
</style>

<script>
  import EditableTextField from "./EditableTextField.html";
  import EditableTextAreaField from "./EditableTextAreaField.html";
  import Dropdown from "./Dropdown.html";
  import FileField from "./FileField.html";
  import { getThemeUserFields } from "../utils";

  export default {
    components: {
      EditableTextField,
      EditableTextAreaField,
      Dropdown,
      FileField,
    },

    oncreate() {
      this.on("state", ({ changed, current, previous }) => {
        if (current.courseId !== previous.courseId) {
          updateThemeVariableTypes();
        }
      });

      const updateThemeVariableTypes = () => {
        const { data } = this.get();

        if (data.theme === "") {
          this.set({
            themeVariableTypes: {},
          });
        } else {
          const themeFields = getThemeUserFields(data.theme, this.store);
          this.set({
            themeVariableTypes: themeFields.themeVariableTypes,
          });
        }
      };

      // Initial update
      updateThemeVariableTypes();
    },

    data() {
      return {
        courseId: 0,
        isNew: false,
        data: {
          fields: [],
          theme: "",
          themeMap: {},
          themeVariables: {},
        },
        themeVariableTypes: {},
      }
    },

    methods: {
      openThemeEditor() {
        const { themes, themeIdMap } = this.store.get();
        const { data } = this.get();

        // The canvas propagates events that require these set beforehand, so
        // ensure they're already set
        this.store.set({
          currentThemeVariables: data.themeVariables,
          currentThemeMap: data.themeMap,
        });

        this.store.fire("setthemeeditor", {
          visible: true,
          fields: data.fields,
          variables: data.themeVariables,
          themeData: themeIdMap[data.theme],
          themeMap: data.themeMap,
        });
      },

      createThemeUserFields() {
        const { data } = this.get();
        const store = this.store;

        if (data.theme) {
          const themeFields = getThemeUserFields(data.theme, store);

          this.set({
            data: {
              fields: themeFields.fields,
              theme: data.theme,
              themeMap: themeFields.themeMap,
              themeVariables: themeFields.themeVariables,
            },
            themeVariableTypes: themeFields.themeVariableTypes,
          });
        }
      },
    },
  }
</script>
