<div class="info-data">
  {#each data as entry, index}
    <div class="info-data-entry">
      <EditableTextField bind:value=entry.title label={$locale.ltTitleLabel} />
      <EditableTextAreaField bind:value=entry.desc label={$locale.ltDescriptionLabel} />
      <div class="level">
        <div class="level-left book-buttons">
          {#if dataType === "levels"}
            {#each entry.books as book}
              <div class="level-item book-item">
                <Dropdown
                  bind:value=book
                  list={bookList} />
                <button
                  class="button preview-button ihf-del-btn"
                  on:click="removeBook(index, book)">
                  <i class="fa fa-times"></i>
                </button>
                <button
                  class="button preview-button is-primary"
                  on:click="openBook(book)">
                  <i class="fa fa-book"></i>
                </button>
              </div>
            {/each}

            <div class="level-item">
              <button
                class="button is-link"
                on:click="addBook(index)">
                {$locale.ltAddBookButton}
              </button>
            </div>
          {/if}
        </div>
        <div class="level-right">
          <div class="level-item">
            <button
              class="button is-danger"
              on:click="removeEntry(index)">
              {$locale.courseActionDelete}
            </button>
          </div>
        </div>
      </div>
    </div>
  {/each}
</div>

<button
  class="button is-fullwidth is-medium is-link is-outlined"
  type="button"
  on:click="addEntry()">
  <span class="icon">
    <i class="fa fa-plus"></i>
  </span>
  <span>
    {$locale.ltAddEntryButton}
  </span>
</button>

<style lang="scss">
  $distance: 2rem;

  .info-data-entry {
    margin-bottom: $distance;

    &:not(:first-child) {
      border-top: 1px solid hsl(0, 0, 85%);
      margin-top: $distance;
      padding-top: $distance;
    }

    :global(.editable-field-wrap) {
      margin-top: 0;

      :global(input.input) {
        margin-bottom: 1rem;
      }
    }
  }

  .book-buttons {
    position: relative;
    z-index: 100;
  }

  div.book-item {
    :global(.dropdown-trigger) :global(.button) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: 0;
    }

    // FIXME: Class naming
    .button.preview-button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      &.ihf-del-btn {
        border-radius: 0;
      }
    }
  }
</style>

<script>
  import EditableTextField from "./EditableTextField.html";
  import EditableTextAreaField from "./EditableTextAreaField.html";
  import Dropdown from "./Dropdown.html";

  export default {
    components: {
      EditableTextField,
      EditableTextAreaField,
      Dropdown,
    },

    oncreate() {
      const { books } = this.store.get();
      this.set({
        books,
      });
    },

    data() {
      return {
        dataType: "levels",
        books: [],
        data: [
          // {
          //   id: null,
          //   title: "",
          //   desc: "",
          // },
        ],
      }
    },

    computed: {
      bookList: ({ books }) => {
        return books.map(b => [b.id, b.title]);
      },
    },

    methods: {
      addEntry() {
        const { data, dataType } = this.get();
        const { locale } = this.store.get();

        const entry = {
          id: null,
          title: locale.ltTitleDefault,
          desc: locale.ltDescriptionDefault,
        };

        if (dataType === "levels") {
          // @ts-ignore
          entry.books = [];
        }
        data.push(entry);

        this.set({
          data,
        });
      },

      removeEntry(index) {
        const { data } = this.get();
        data.splice(index, 1);

        this.set({
          data,
        });
      },

      addBook(index) {
        const { books, data } = this.get();
        const entry = data[index];
        entry.books.push(books[0].id);

        this.set({
          data,
        });
      },

      removeBook(index, book) {
        const { books, data } = this.get();
        const entry = data[index];
        const bookIndex = entry.books.indexOf(book);

        entry.books.splice(bookIndex, 1);
        this.set({
          data,
        });
      },

      openBook(id) {
        this.store.fire("openbook", {
          bookId: id,
        });
      },
    },
  }
</script>
