<div class="buttons-top has-text-centered">
  <Dropdown
    list={available}
    bind:value=selectedPriceId />

  <button
    class="button is-link"
    disabled={selectedPriceId === -1}
    on:click="addPrice()">
    {$locale.ptAddPriceButton}
  </button>
</div>

{#each value as priceId, index}
  <div class="box">
    <h5 class="title is-5"><span class="has-text-link">{priceIdMap[priceId].hours}</span>h</h5>
    <h5 class="title is-5">{(priceIdMap[priceId].price / 100) + priceIdMap[priceId].currency}</h5>

    <div class="buttons">
      <button
        class="button"
        class:is-link="featuredPrice == priceId"
        on:click="set({featuredPrice: priceId})">
        {$locale.ptFeaturedPriceButton + (featuredPrice == priceId ? " ✓": "")}
      </button>
      <button
        class="button is-danger"
        on:click="removePrice(index)">
        {$locale.fpeFieldDeleteButton}
      </button>
    </div>
  </div>
{/each}

<style lang="scss">
  $nothing: here;

  .buttons-top {
    margin-bottom: 2rem;
  }

  div.box.box {
    display: flex;
    align-items: center;

    .title {
      display: inline-block;
      margin-right: 2rem;
      margin-bottom: 0;
    }

    .buttons {
      margin-left: auto;
    }
  }
</style>

<script>
  import Dropdown from "./Dropdown.html";

  export default {
    components: {
      Dropdown,
    },

    oncreate() {
      const { available } = this.get();
      const { locale } = this.store.get();

      this.set({
        selectedPriceId: available[0][0],
        notAvailableMsg: locale.ptNoAvailableHours,
      });
    },

    data() {
      return {
        value: [],
        selectedPriceId: 1,
        featuredPrice: -1,
        priceList: [],
        notAvailableMsg: "",
      };
    },

    computed: {
      available: ({ priceList, value, notAvailableMsg }) => {
        const ids = {};
        value.forEach(id => (ids[id] = 1));

        const list = priceList.filter(p => !(p.id in ids)).map(p => [
          p.id,
          p.hours + "h — " + (p.price / 100) + p.currency,
        ]);

        return list.length ? list : [[-1, notAvailableMsg]];
      },

      priceIdMap: ({ priceList }) => {
        const map = {};
        priceList.forEach(p => (map[p.id] = p));

        return map;
      },
    },

    methods: {
      removePrice(index) {
        const { value } = this.get();

        value.splice(index, 1);
        this.set({
          value,
        });
      },

      addPrice() {
        let { selectedPriceId, value, priceIdMap } = this.get();
        value.push(selectedPriceId);

        this.set({
          value,
        });

        // Update selectedPriceId
        const { available } = this.get();
        this.set({
          selectedPriceId: available[0][0],
        });
      }
    },
  }
</script>
