<div class="level is-mobile">
  <div class="level-left"></div>
  <div class="level-right">
    <div class="level-item">
      <button
        class="button is-link"
        class:is-loading="$savingCourse"
        type="button"
        on:click="fire('save')">
        {$locale.save}
      </button>
    </div>
    <div class="level-item">
      <button
        class="button is-danger"
        type="button"
        on:click="set({editing: false})">
        {$locale.cancel}
      </button>
    </div>
  </div>
</div>

<style>
  .is-loading {
    pointer-events: none;
  }
</style>
