<div class="tabs is-fullwidth is-toggle is-toggle-rounded is-small is-centered">
  <ul>
    {#each tabs as tab}
      <li
        class:is-active="tab.id === current"
        on:click="set({current: tab.id})">
        <a href="javascript:0[0]">
          <span>
            {tab.text}
          </span>
        </a>
      </li>
    {/each}
  </ul>
</div>

<style>
  .tabs {
    margin: 2rem 0rem !important;
  }
</style>

<script>
  export default {
    data() {
      return {
        current: null,
      }
    },
  }
</script>
