<!-- ThemeEditor -->
<div
  class="modal"
  class:is-active=visible>
  <div
    class="modal-background"
    on:click="set({visible: false})">
  </div>
  <div class="modal-content">
    <div class="box theme-editor-window">
      <h2 class="title is-4">{themeName}</h2>

      <div
        class="theme-canvas"
        class:empty-canvas="theme">
        <iframe
          frameborder="0"
          ref:themeCanvas>
          <!-- Theme contents go here -->
        </iframe>
      </div>

      <!-- {#if themeVariables} -->
      {#if 0}
        <div class="variable-editor">
          {#each themeVariables as tv}
            {#if tv[1][0] === "field"}
              <span>{ capitilize(tv[0]) }</span>
              <!-- List fields as options with no field selected by default -->
              <Dropdown
                list={ [[-1, $locale.teVariablesNoFieldSelected]].concat(fields.map((f, i) => [i, f.name])) }
                value={ variables && tv[0] in variables ? variables[tv[0]] : -1 }
                on:change="setThemeVariable(tv[0], tv[1][0], event.value)" />
            {/if}
          {/each}
        </div>
      {/if}

      <div class="theme-chooser">
        <div class="theme-thumb-wrap">
          <!--  { id: 'theme1',
                  name: 'Theme 1',
                  variables: [],
                  regions: { 'region': { name: 'Human Name',
                                         type: 'text' | 'bigtext' | 'image' } },
                } -->
          {#each $themes as theme}
            <div
              class="theme-thumb"
              on:click="selectTheme(theme.id)">
              <iframe
                frameborder="0"
                data-theme="{theme.id}"
                use:registerFrame="{id: theme.id, registry: iframeRegistry}">
              </iframe>
              <h2 class="has-text-centered has-text-grey">
                <div>{theme.name}</div>
              </h2>
            </div>
          {/each}
        </div>
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  $nothing: "here";

  .modal:not(.is-active) {
    $offset: 1000%;
    display: block;
    right: $offset;
    left: -$offset;
    pointer-events: none;
  }

  div.theme-editor-window.theme-editor-window {
    padding-bottom: 0.5rem;
  }

  $canvas-bg: hsl(0, 0, 35%);
  $sidePadding: 1.25rem;

  .theme-canvas {
    margin: 0 $sidePadding * -1;

    iframe {
      display: block;
      width: 100%;
      height: 250px;

      background:
        url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2210%22%20height%3D%2210%22%20viewBox%3D%220%200%202.65%202.65%22%3E%0A%20%20%3Cpath%20opacity%3D%22.1%22%20d%3D%22M0%200h1.32v1.32H0zM1.32%201.33h1.32v1.32H1.32z%22%2F%3E%0A%3C%2Fsvg%3E%0A'),
        linear-gradient($canvas-bg, $canvas-bg);
    }
  }

  .variable-editor {
    display: flex;
    margin: 0 $sidePadding * -1;
    padding: 1rem $sidePadding;

    align-items: center;

    // background: hsl(0, 0, 85%);
    border-bottom: 1px solid hsl(0, 0, 85%);

    > :global(*) {
      margin-right: 1rem;
    }

    span {
      display: inline-block;
    }
  }

  $theme-thumb-size: 120px;
  $theme-thumb-title-size: 30px;

  .theme-chooser {
    display: flex;
    height: $theme-thumb-size + 40px;
    flex-flow: row nowrap;
    align-items: center;
    padding: 0;
    padding-right: 1rem;

    overflow-x: auto;
  }

  .theme-thumb-wrap {
    display: flex;
    flex-flow: row nowrap;
    margin: auto;
  }

  .theme-thumb {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    width: $theme-thumb-size;
    height: $theme-thumb-size;
    flex: 0 0 auto;
    margin: 0 1rem;
    box-sizing: border-box;
    overflow: hidden;

    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    cursor: pointer;

    iframe {
      width: $theme-thumb-size;
      height: $theme-thumb-size - $theme-thumb-title-size;

      border-radius: 4px;
      background: $canvas-bg;
      pointer-events: none;
    }

    h2 {
      display: flex;
      align-items: center;
      justify-content: center;
      height: $theme-thumb-title-size;
      width: 100%;
      padding: 0 0.5rem;
      margin: 0;

      font-size: 0.85rem;

      div {
        width: 100%;

        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
</style>

<script>
  import Dropdown from "./Dropdown.html";

  export default {
    components: {
      Dropdown,
    },

    oncreate() {
      const { locale, themes, themeCanvasResources } = this.store.get();

      // Load theme markup from the cache or database (if required)
      const loadTheme = (id, token = null) => {
        if (token === null) {
          let { requestToken } = this.get();
          this.set({
            requestToken: ++requestToken,
          });

          token = requestToken;
        }

        this.store.fire("loadtheme", {
          token,
          id,
        });
      };

      // Show theme name, or a "unselected" message when there's no theme selected
      // and update the canvas to reflect the newly selected theme
      this.on("state", ({ changed, current }) => {
        if (changed.theme) {
          let { theme, requestToken } = current;

          this.set({
            requestToken: ++requestToken,
            themeName: theme ? theme.name : locale.teNoThemeSelectedThemeNameHeader,
          });

          if (theme) {
            const token = requestToken;
            loadTheme(theme.id, token);
          } else {
            this.updateCanvas();
          }
        }
      });

      // Show theme editor populated with new data when "setthemeeditor" event is triggered
      const listener = this.store.on("setthemeeditor", ({ visible, fields, variables, themeData, themeMap }) => {
        if (typeof visible === "boolean") {
          this.set({
            visible,
            fields,
            variables,
            theme: themeData || null,
            curThemeMapping: themeMap,
          });
        }
      });

      // Render theme thumbnails when they're receieved from the server
      const listener2 = this.store.on("thumbsloaded", ({ thumbs }) => {
        const { iframeRegistry } = this.get();
        const wrapId = "--ihfath-theme--wrap";
        const baseWidth = 720; // FIXME: Too biased?

        // Injected function that adjusts the psuedo-DPI (zoomed out look) via CSS transforms
        function resizeContent() {
          setTimeout(() => {
            const div = document.querySelector("#" + wrapId);
            const padd = 10;
            const scale = innerWidth / baseWidth;

            div.id = "";
            div["style"].transform = `scale(${ scale }, ${ scale })`;
            div["style"].top = ((innerHeight - (div["offsetHeight"] * scale)) / 2) + `px`;
          }, 1);
        }

        // Prepare and inject new HTML markup into thumbnail iframes
        for (const [theme, iframe] of Object.entries(iframeRegistry)) {
          const markup = `<div
                            id="${ wrapId }"
                            class="${ wrapId }"
                            style="width: ${ baseWidth }px;">
                            ${ thumbs[theme] }
                          </div>

                          <style>
                            html, body {
                              padding: 0;
                              margin: 0;
                            }

                            body {
                              width: 100vh;
                              height: 100vh;
                              overflow: hidden;

                              /* color: #fff; */
                            }

                            #${ wrapId } {
                              opacity: 0;
                            }

                            .${ wrapId } {
                              position: absolute;
                              left: 0;
                              top: 0;
                              transform-origin: 0 0 !important;
                            }
                          </style>

                          <script>
                            const wrapId = "${ wrapId }";
                            const baseWidth = "${ baseWidth }";
                            ${ resizeContent.toString() };
                            resizeContent();
                          <\/script>`;

          // Set base markup
          iframe.srcdoc = markup;
        }
      });

      // Render theme markup from chosen theme on canvas when loaded from server/cache
      const listener3 = this.store.on("themeloaded", ({ id, markup, token }) => {
        const { requestToken, theme } = this.get();

        if (theme && theme.id === id && token === requestToken) {
          this.set({
            canvasMarkup: markup,
          });

          // Paint theme canvas
          this.updateCanvas();
        }
      });

      // Prepare theme canvas
      {
        const baseWidth = 1366;
        const canvas = this.refs.themeCanvas;
        const urlPrefix = `${ location.protocol }//${ location.hostname }`;
        const srcdoc = `
          <!DOCTYPE html>
          <html>
            <head>
              <script>
                const _ihfathLocale = ${ JSON.stringify(locale) };
                const _ihfathBasewidth = ${ baseWidth };
              <\/script>
              <script src="${ urlPrefix + themeCanvasResources.script }"><\/script>
              <link  href="${ urlPrefix + themeCanvasResources.style }" rel="stylesheet"/>
              <link  href="${ urlPrefix + themeCanvasResources.fastyle }" rel="stylesheet"/>
            </head>
            <body></body>
          </html>
        `;

        // Respond to messages from theme canvas
        window.addEventListener("message", (evt) => {
          const { data: { action, ...data } } = evt;

          if (action === "canvasprepared") {
            const { theme } = this.get();
            this.set({
              canvasReady: true,
            });

            if (theme) {
              loadTheme(theme.id);
            }
          } else if (action === "update") {
            this.store.set({
              currentThemeMap: data.themeMap,
            });
            this.store.fire("thememappingupdated");
          }
        });
        canvas.srcdoc = srcdoc;
      }

      this.on("destroy", () => {
        listener.cancel();
        listener2.cancel();
        listener3.cancel();
      });

      // Set defaults
      this.set({
        themeName: locale.teNoThemeSelectedThemeNameHeader,
      });
    },

    helpers: {
      capitilize(string) {
        return string.slice(0, 1).toUpperCase() + string.slice(1);
      }
    },

    data() {
      return {
        visible: false,
        theme: null, // themeData
        themeName: "",
        curThemeMapping: {},
        fields: [],
        variables: {},
        canvasReady: false,
        canvasMarkup: "",
        requestToken: 0,
        iframeRegistry: {},
      };
    },

    computed: {
      themeVariables: ({ theme }) => (theme ? Object.entries(theme.variables) : []),
    },

    methods: {
      selectTheme(id) {
        const { themeIdMap } = this.store.get();
        const { theme } = this.get();

        let newTheme = themeIdMap[id];

        if (theme) {
          if (theme.id === id) {
            // Toggle behaviour- i.e. no theme selected
            newTheme = null;
          }
        }

        this.set({
          theme: newTheme,
        });

        // FIXME: Make message passing between components more consistent
        // Let other components know about selected theme
        this.store.fire("themeupdated", {
          theme: newTheme,
        });
      },

      updateCanvas() {
        const { theme, curThemeMapping, canvasMarkup, fields } = this.get();

        if (theme) {
          this.messageCanvas({
            action: "settheme",
            markup: canvasMarkup,
            fields,
            themeMap: curThemeMapping,
          });
        } else {
          this.messageCanvas({
            action: "removetheme",
          });
        }
      },

      messageCanvas(msg) {
        const canvas = this.refs.themeCanvas;

        if (canvas) {
          canvas.contentWindow.postMessage(msg, "*");
        }
      },

      setThemeVariable(name, type, value) {
        const { currentThemeVariables } = this.store.get();

        currentThemeVariables[name] = value;
        this.store.set({
          currentThemeVariables,
        });
        this.store.fire("themevariableupdated");
      },
    },

    actions: {
      // Register newly created thumbnail iframes
      registerFrame(iframe, { id, registry }) {
        registry[id] = iframe;
      }
    },
  }
</script>
