<div class="user-list-field">
  <input
    type="text"
    class="input"
    placeholder="Search"
    bind:value=searchTerm
    on:input="searchUsers()">
  {#if searchList.length}
    <div class="user-matches">
      {#each searchList as user}
        <div
          class="match"
          on:click="addUser(user.uid, user.name)">{user.name}</div>
      {/each}
    </div>
  {/if}
  <div class="selected-users">
    {#each userList as user, index}
      <div class="user-tag has-background-link">
        <a href="{$basePath}user/{user.uid}/edit" target="_blank" class="name">
          {user.name}
          <i class="fa fa-pencil"></i>
        </a>
        <button
          class="remove"
          on:click="removeUser(index)">×</button>
      </div>
    {:else}
      <div class="no-users-found has-text-grey-dark">
        <span>No users selected</span>
      </div>
    {/each}
  </div>
</div>

<style lang="scss">
$nothing: here;

.user-list-field {
  display: block;

  .input {
    position: relative;
    z-index: 2;

    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .user-matches {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: 20px;

      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0) 4px);
      pointer-events: none;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 20px;

      background: linear-gradient(to top, rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0) 4px);
      pointer-events: none;
    }

    .match {
      padding: 0.5rem 0.75rem;

      background: #EEE;
      border-bottom: 1px solid #CCC;
      cursor: pointer;

      &:last-child {
        border: 0;
      }
    }
  }

  .selected-users {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    min-height: 3rem;
    padding: 1rem 1rem 0rem;
    box-sizing: border-box;

    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background: white;
    // box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);

    $user-tag-size: 2rem;
    .user-tag {
      display: flex;
      height: $user-tag-size;
      align-items: center;
      margin-right: 1rem;
      margin-bottom: 1rem;

      border-radius: 4px;
      border: 1px solid #AAA;
      color: #fff;
      overflow: hidden;
      // background: thing;

      .name {
        display: block;
        padding: 0 0.45rem;
        color: #fff;
      }

      .remove {
        display: flex;
        align-items: center;
        justify-content: center;
        width: $user-tag-size;
        height: $user-tag-size;

        background: #fff;
        color: #000;
        cursor: pointer;
      }
    }

    .no-users-found {
      position: absolute;
      display: flex;
      flex-flow: column nowrap;
      align-self: center;
      justify-content: center;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;

      span {
        display: block;
        text-align: center;
      }
    }
  }
}
</style>

<script>
  const fieldId = Symbol();
  let revision = 0;
  let searchTimeout = null;

  export default {
    oncreate() {
      this.on("state", ({ changed, current }) => {
        // Apply this change if the revision hasn't changed (outside influence)
        if (changed.value && current.revision === revision) {
          // Request new userlist from server
          externalUpdate(current.value);
        } else {
          // The change was internal, update to the new revision
          this.set({
            revision,
          });
        }
      });

      const externalUpdate = (value) => {
        if (value.trim()) {
          this.store.fire("userlistnamesrequest", {
            users: value.split(",").map(uid => +uid),
            fieldId,
          });
        } else {
          this.set({
            userList: [],
          });
        }
      };

      const l1 = this.store.on("userlistnamesresponse", ({ users, fieldId: resFieldId }) => {
        if (resFieldId === fieldId) {
          this.set({
            userList: users,
          });
        }
      });

      const l2 = this.store.on("searchresults", ({ users, fieldId: resFieldId }) => {
        if (resFieldId === fieldId) {
          this.set({
            searchList: users,
          });
        }
      });

      this.on("destroy", () => {
        l1.cancel();
        l2.cancel();
      });

      // Display initial value
      const { value } = this.get();
      externalUpdate(value);
    },

    data() {
      return {
        searchTerm: "",
        lastSearchTerm: "",
        userList: [
          // {uid: 0, name: ""},
        ],
        searchList: [
          // {uid: 0, name: ""},
        ],
        value: "", // "1,2,3,4,..." uids
        revision,
      };
    },

    methods: {
      addUser(uid, name) {
        const { userList } = this.get();
        const uniqueUsers = new Set(userList.map(u => u.uid).concat(uid));

        if (uniqueUsers.size > userList.length) {
          revision++;
          const newList = userList.concat({
            uid,
            name,
          });

          this.set({
            userList: newList,
            value: newList.map(u => u.uid).join(","),

            // Empty user list
            searchList: [],
            searchTerm: "",
          });
        }
      },

      removeUser(index) {
        const { userList } = this.get();
        userList.splice(index, 1);

        revision++;
        this.set({
          userList,
          value: userList.map(u => u.uid).join(","),
        });
      },

      searchUsers() {
        clearTimeout(searchTimeout);
        searchTimeout = setTimeout(() => {
          const { searchTerm, lastSearchTerm } = this.get();

          if (searchTerm !== lastSearchTerm) {
            if (searchTerm.trim()) {
              this.store.fire("usersearch", {
                name: searchTerm,
                fieldId,
              });
            } else {
              this.set({
                searchList: [],
              });
            }
            this.set({
              lastSearchTerm: searchTerm,
            });
          }
        }, 350);
      },
    },
  }
</script>
