<div class="books-head">
  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <button
          class="button is-link"
          on:click="edit()">
          <i class="fa fa-upload"></i>
          <span>{$locale.addNewBookButton}</span>
        </button>
      </div>
    </div>

    <div class="level-right">
      <div class="level-item">
        <input
          type="text"
          placeholder={$locale.searchInputPlaceholder}
          class="input">
      </div>
    </div>
  </div>
</div>

{#if editing}
  <div class="book-editor">
    {#if hasDocuments}
      <input
        class="input book-title"
        placeholder={$locale.bookTitleInputPlaceholder}
        type="text"
        bind:value=book.title>
    {/if}

    <button
      class="button is-link"
      on:click="addDocument()">
      <i class="fa fa-plus"></i>
      Add document
    </button>

    <div class="content">
      {#each book.fileHashes as file, index}
        <div class="container doc-file-row">
          <FileField
            bind:value=book.fileHashes[index]
            preview={false}
            maxWidth={400} />
          <button
            class="button is-danger is-rounded"
            on:click="removeDocument(index)">
            Remove document
          </button>
        </div>
      {/each}
    </div>

    <div class="content">
      <span>{$locale.directionSelector}</span>
      <select
        value={bookDirectionString}
        on:change="changeDirection(event.target.value)">
        <option value="1">{$locale.directionRtl}</option>
        <option value="0">{$locale.directionLtr}</option>
      </select>
    </div>

    {#if invalidInput}
      <span>{$locale.invalidInputMessage}</span>
    {/if}

    <div class="level is-marginless">
      <div class="level-left">
        {#if hasDocuments}
          <div class="level-item">
            <button
              class="button is-link save-book-btn"
              on:click="save()">
              <i class="fa fa-floppy-o"></i>
              <span>{$locale.saveBookButton}</span>
            </button>
          </div>
        {/if}
        <div class="level-item">
          <button
            class="button is-link save-book-btn"
            on:click="cancelEdit()">
            <i class="fa fa-times"></i>
            <span>{$locale.cancelEditingBookButton}</span>
          </button>
        </div>
      </div>
      <div class="level-right">
        {#if book.id && !book.processing}
          <div class="level-item">
            <button
              class="button is-danger save-book-btn"
              on:click="deleteBook(book)">
              <i class="fa fa-trash-o"></i>
              <span>{$locale.deleteBookButton}</span>
            </button>
          </div>
        {/if}
      </div>
    </div>
  </div>
{/if}

<div class="books-list">
  {#each books as book}
    <div
      class="book-card box">
      <div
        class="preview"
        style={`background-image: url('${$pageBase}/${book.previewPage}');`}>
        <div class="book-actions">
          <button
            class="button edit is-link"
            on:click="edit(book)">
            Edit
          </button>
          <button
            class="button open is-success"
            on:click="openBook(book)">
            Open
          </button>
        </div>

        {#if book.processed < book.pages}
          <div class="page-processed">
            {#if !book.processing}
              <span
                class="finish-processing-btn"
                title="Finish processing"
                on:click="processPages(book)">
                <i class="fa fa-refresh"></i>
              </span>
            {/if}

            <span>{book.processed} / {book.pages}</span>
          </div>
        {/if}
      </div>
      <div class="details">
        <div class="book-title">{book.title}</div>
        <div class="pages has-text-link">{book.pages + "p"}</div>
      </div>
    </div>
  {/each}
</div>

<!-- Confirmation dialog -->
<div
  class="modal"
  class:is-active="confirming">
  <div class="modal-background"></div>
  <div class="box modal-content delete-dialog">
    <div class="content">
      <h2 class="title is-4">
        Are you sure you want to delete this book?
      </h2>
    </div>
    <div class="level is-marginless">
      <div class="level-left">
        <div class="level-item">
          <button
            class="button is-link"
            on:click="closeDialog()">
            No
          </button>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <button
            class="button is-danger"
            on:click="confirmDelete()">
            Yes, delete the book
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- <button class="modal-close is-large" aria-label="close"></button> -->
</div>

<style type="text/scss">
  $nothing: 10px;

  .fa {
    margin-right: 0.5rem;
  }

  .level {
    margin-bottom: 1rem;
  }

  .book-editor {
    margin: 0rem 0 1rem;
    padding: 1rem;

    background: hsl(0%, 0%, 95%);

    .book-title {
      margin-bottom: 1.5rem;
    }

    .doc-file-row {
      display: flex;
      align-items: center;
      flex-flow: row nowrap;
      margin: 0;
      margin-top: 1rem;

      :global(.file-selector.box) {
        margin: 0;
      }

      .button {
        height: 100%;
        margin-left: 0.5rem;
        // align-self: stretch;
      }
    }
  }

  div.books-list.books-list {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
  }

  div.book-card.book-card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin: 0 1rem 2rem 0rem;
    padding: 0.75rem;
    cursor: pointer;

    $preview-width: 120px;
    $preview-height: $preview-width * 1.42;

    .preview {
      position: relative;
      width: $preview-width;
      height: $preview-height;
      margin-bottom: 0.75rem;

      border-radius: 3px;
      background-size: cover;
      background-position: center;

      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

      &:hover {
        .book-actions {
          opacity: 1;
        }
      }

      .page-processed {
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;

        span {
          display: block;
          padding: 0.20rem 0.35rem;

          color: #fff;
          border-radius: 3px;
          font-size: 0.75rem;
          background: green;
        }

        span.finish-processing-btn {
          position: absolute;
          top: 0;
          right: 100%;
          margin-right: 0.5rem;

          .fa {
            margin: 0;
          }
        }
      }

      .book-actions {
        position: absolute;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;

        opacity: 0;
        background: rgba(0, 0, 0, 0.35);

        .button {
          min-width: 4rem;

          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.45);
          font-size: 0.85rem;

          &:not(:first-child) {
            margin-top: 0.5rem;
          }
        }
      }
    }

    .details {
      position: relative;
      display: flex;
      flex-flow: row nowrap;

      font-size: 0.85rem;

      .book-title {
        width: 60%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        flex: 0 0 auto;
      }

      .pages {
        margin-left: auto;
        flex: 0 1 auto;
        width: 100%;

        text-align: right;
        font-weight: bold;
      }
    }
  }

  .delete-dialog {
    max-width: 400px;
  }

  // Keep here to prevent compilation errors
  .nothing--here {
    width: 0;
  }
</style>

<script>
  import FileField from "./FileField.html";
  const bookModel = {
    id: null,
    bhid: null,
    title: "",
    previewPage: "",
    direction: 1, // 0: ltr, 1: rtl
    fileHashes: [
      "",
    ],

    // Populated when the book gets "processed"
    pages: 0,
    processed: 0,
    processing: false,
    new: true,
  };

  export default {
    components: {
      FileField,
    },

    oncreate() {
      const { books } = this.get();

      // Set indexes
      for (let i=0; i<books.length; i++) {
        const book = books[i];
        book.index = i;
      }

      this.set({
        books,
      });

      // A book was saved on the server succesfully
      this.store.on("booksaved", ({ book }) => {
        if (book.new) {
          const { books } = this.get();

          for (const book of books) {
            book.index++;
          }

          book.new = false;
          book.index = 0;
          books.splice(0, 0, book);

          this.set({
            editing: false,
            books,
          });
        }

        this.processPages(book);
      });

      // Server deleted book successfully
      this.store.on("bookdeleted", ({ book }) => {
        const { books, book: curBook, editing } = this.get();
        books.splice(book.index, 1);

        for (let i=0; i<books.length; i++) {
          books[i].index = i;
        }

        this.set({
          books,
          editing: book.id === curBook.id ? false : editing,
        });
      });

      // Book decode process
      this.store.on("bookprogress", ({ book, progress, previewPage }) => {
        const { books } = this.get();

        console.log("BOOOK PROGRESS", book);
        book.processed = progress;

        if (!book.previewPage && previewPage) {
          book.previewPage = previewPage;
        }

        books[book.index] = book;

        this.set({
          books,
        });
      });

      // Book finished processing
      this.store.on("bookfinished", ({ book }) => {
        const { books } = this.get();
        book.processing = false;
        books[book.index] = book;

        this.set({
          books,
        });
      });
    },

    data() {
      return {
        editing: false,
        confirming: false,
        invalidInput: false,
        newBookFileUrl: "",
        removeIndex: -1,

        book: bookModel,
        books: [],
      };
    },

    computed: {
      hasDocuments: ({ book }) => !!book.fileHashes.join(""),
      bookDirectionString: ({ book }) => ("" + book.direction),
    },

    methods: {
      edit(book = null) {
        this.set({
          editing: true,
          book: book ? {
            ...book,
            fileHashes: book.fileHashes.slice(),
          } : {
            ...bookModel,
            fileHashes: [
              "",
            ],
          },
        });
      },

      cancelEdit() {
        this.set({
          editing: false,
        });
      },

      changeDirection(dir) {
        const { book } = this.get();
        book.direction = +dir;

        this.set({
          book,
        });
      },

      addDocument() {
        const { book } = this.get();

        // Add new "empty" document
        book.fileHashes.push("");

        // Apply book
        this.set({
          book,
        });
      },

      removeDocument(index) {
        const { book } = this.get();

        book.fileHashes.splice(index, 1);
        this.set({
          book,
        });
      },

      save() {
        const { book } = this.get();

        if (!book.title.trim()) {
          return this.set({
            invalidInput: true,
          });
        }

        this.store.fire("savebook", {
          book,
        });
        this.set({
          invalidInput: false,
          editing: false,
        });
      },

      deleteBook(book) {
        this.set({
          confirming: true,
          removeIndex: book.index,
        });
      },

      processPages(book) {
        const { books } = this.get();
        book.processing = true;
        books[book.index] = book;

        this.set({
          books,
        });
        this.store.fire("processpages", book);
      },

      closeDialog() {
        this.set({
          confirming: false,
        });
      },

      confirmDelete() {
        const { books, removeIndex } = this.get();
        const book = books[removeIndex];

        this.set({
          editing: false,
          confirming: false,
        });
        this.store.fire("deletebook", {
          book,
        });
      },

      openBook(book) {
        this.store.fire("openbook", {
          book,
        });
      },
    }
  }
</script>
