
// Base.scss
$max-page-width: 1024px;

$nav-height: 60px;
$nav-color: #fff;
$nav-bg: #242623;

$accent: #197098;
$dark-accent: #166E97;
$black-accent: #1A2F4B;

$accent2: #FF4301;

.theme5-bullet-points {
  display: block;
  background-color: #253A53;
  background-size: cover;
  background-position: center;

  .constrain {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 6rem 0;
    max-width: $max-page-width;
    margin: 0 auto;
  }

  .bullet-points {
    list-style: none;
    color: #fff;
    padding: 0;

    li {
      position: relative;
      display: flex;
      flex-flow: row nowrap;
      max-width: 850px;

      $line-thickness: 4px;
      $line-stroke: #00FF00;
      $vertex-size: 35px;

      // Line/edge connecting the vertices
      &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        width: $line-thickness;

        background: $line-stroke;
        transform: translate(-50%, 0);
      }

      // Vertex between lines/edges
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: $vertex-size;
        height: $vertex-size;
        box-sizing: border-box;

        border-radius: 100%;
        background: #253A53;
        border: $line-thickness solid $line-stroke;
        transform: translate(-50%, -50%);
      }

      &:first-child {
        &::before {
          top: 50%;
        }
      }

      &:last-child {
        &::before {
          bottom: 50%;
        }
      }

      &:not(:first-child) {
        padding-top: 4rem;
      }

      $distance-from-line: 4rem;

      .point-text {
        width: 50%;
        padding-right: $distance-from-line;
        box-sizing: border-box;
        font-size: 1.2rem;
        line-height: 1.8rem;
      }

      .point-image {
        position: relative;
        padding-left: $distance-from-line + 0.5rem;
        width: 50%;
        box-sizing: border-box;

        img {
          max-width: 100%;
        }
      }
    }
  }
}
