
// Base.scss
$max-page-width: 1024px;

$nav-height: 60px;
$nav-color: #fff;
$nav-bg: #242623;

$accent: #197098;
$dark-accent: #166E97;
$black-accent: #1A2F4B;

.theme8-nav-blocks {
  display: block;

  background-color: #FFF;

  .constrain {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 6rem 0 4rem;
    max-width: $max-page-width;
    margin: 0 auto;
  }

  .constrain > .title {
    margin: 0;
    margin-bottom: 3rem;

    font-weight: 200;
    font-size: 3rem;
    font-family: "Savoye LET";
    color: $accent;

    p {
      margin: 0;
    }
    
    &::after {
      content: "";
      display: block;
      height: 4px;
      width: 3rem;
      margin-top: 1rem;
      margin-right: auto;
      margin-left: auto;

      background: #000;
    }
  }

  .blocks {
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    width: 100%;

    $border-spacing: 1rem;
    $padding: 0rem;

    .block {
      width: 50%;
      margin: 0;
      margin-bottom: $border-spacing + $padding;
      list-style: none;

      &:nth-child(odd) {
        padding-right: ($border-spacing / 2) + $padding;
      }

      &:nth-child(even) {
        padding-left: ($border-spacing / 2) + $padding;
      }

      .visual {
        display: block;
        position: relative;
        padding-bottom: 100%;
        overflow: hidden;

        background-color: #DDD;
        background-size: cover;
        background-position: center;
        text-decoration: none;

        $shade-rise: 1.2rem;
        &:hover {
          .meta {
            transform: translate3d(0, -$shade-rise, 0);

            .block-link {
              background: #fff;
              color: #000;
            }
          }
        }

        .meta {
          position: absolute;
          display: flex;
          align-items: center;
          padding: 14rem 3rem;
          padding-bottom: $shade-rise + 0rem;

          right: 0;
          left: 0;
          bottom: -$shade-rise;
          transform: translate3d(0, 0, 0);
          transition: transform 250ms ease;

          $bg: rgba(0, 0, 0, 0.9);
          $bg-end: rgba(0, 0, 0, 0);
          background: linear-gradient(to top, $bg 0%, $bg $shade-rise + 2rem, $bg-end ($shade-rise + 4rem + 12rem));
          color: #fff;

          .title {
            font-size: 1.25rem;
          }

          .block-link {
            padding: 0.5rem 0.75rem;
            margin-left: auto;
            box-sizing: border-box;
            flex: 0 0 auto;

            font-size: 1.25rem;
            border: 2px solid #fff;
            color: #fff;
            // background: rgba(255, 255, 255, 0.25);
            background: transparent;
            border-radius: 2px;
            // border: 0;

            transition: background 250ms ease, color 250ms ease;
          }
        }
      }
    }
  }
}
