// main: course.scss

.main {
  display: flex;
  flex-flow: column nowrap;
  margin-top: $nav-height;
  align-items: center;
  flex: 1 0 auto;
  height: 100%;

  background: #F2F2F2;
}

.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  margin: 0 auto;
  padding-bottom: 7rem;

  border-bottom: 10px solid $hilite-bg;
  background-position: center;
  background-size: cover;

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 20%, rgba(0, 0, 0, 0.65));
  }

  > .constrain {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    padding: 2.5rem 0;
    height: 450px;
    // height: calc(100vh - #{$nav-height});
    width: 100%;
    max-width: $max-page-width;
  }

  h1 {
    max-width: 400px;
    margin: 0;
    margin-top: -4rem;

    text-align: center;
    font-family: "Savoye LET";
    font-weight: 400;
    font-size: 4.2rem;
    color: #fff;
    text-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.5);
  }

  > .button {
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    bottom: 10rem;
    margin: 0 auto;
    width: 12rem;

    text-align: center;
    color: #fff;
    background: $hilite-bg;
  }
}

.course-body {
  position: relative;
  z-index: 10;
  display: flex;
  width: 100%;
  max-width: $max-page-width;
  margin: 0 auto;
  margin-top: -7rem;

  background: #fff;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.2);

  .button {
    display: block;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: "Open Sans";
    font-weight: 300;
    color: #404040;
  }

  .details {
    display: flex;
    flex-flow: column;
    width: 70%;
    flex: 1 0 auto;
    padding: 0 3rem;

    .title {
      font-size: 2.25rem;
      color: #222;

      &:first-child {
        margin-top: 0;
      }
    }

    hr {
      margin: 1rem -3rem;
      padding: 0;

      border: 0;
      background: transparent;
      border-top: 1px solid rgba(0, 0, 0, 0.1);

      &:first-of-type {
        margin-top: 2rem;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      text-align: center;
    }

    > p {
      max-width: 95%;
      margin-top: 0;
      margin-bottom: 0;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }

      color: #404040;
      font-family: Avenir;
      font-weight: 400;
      font-size: 1.2rem;
    }

    .features {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-evenly;
      margin: 2rem 0 2rem;

      $icon-size: 3.4rem;
      $title-line-height: 1rem;
      .feature {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: flex-start;
        width: 285px;

        line-height: 0;

        .icon {
          // position: absolute;
          // left: 0;
          // top: 0;
          width: $icon-size;
          height: $icon-size;
          box-sizing: border-box;
          padding: 10px;

          border-radius: 100%;
          border: 3px solid $hilite-bg;

          path {
            fill: $hilite-bg;
          }
        }

        .title {
          color: $hilite-bg;
          font-size: 1.5rem;

          > p {
            margin: 0;
          }
        }

        .description {
          line-height: 1.5rem;
        }
      }
    }
  }
}

.testimonials {
  margin-bottom: 3rem;

  .title {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 1.25em 0 0.5rem;

    margin-top: 0;
  }

  > .text {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    // padding: 0 3rem;
  }
}

.testimonial {
  position: relative;
  margin-bottom: 1rem;
  padding: 1rem;
  max-width: 250px;

  background: #f7f7f7;
  border-radius: 0;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);

  $item-spacing: 1.25rem;

  .icon {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

    svg {
      max-width: 60px;

      path {
        fill: $nav-bg;
      }
    }
  }

  > {
    .name,
    .country {
      color: $hilite-bg;
      text-align: center;
      font-family: Roboto;
    }

    .name {
      margin-top: $item-spacing;
      font-weight: bold;
    }
  }

  > .content {
    margin-top: $item-spacing;
  }

  > footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: $item-spacing;

    .date {
      opacity: 0.5;
      font-family: Roboto;
    }

    .rating {
      display: flex;

      $star-size: 16px;
      height: $star-size + 6px;

      .star {
        width: $star-size;
        height: $star-size;
        margin-left: 5px;

        background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%20%20%3Cpath%20fill%3D%22%23529A2A%22%20d%3D%22M12%20.587l3.668%207.568%208.332%201.151-6.064%205.828%201.48%208.279-7.416-3.967-7.417%203.967%201.481-8.279-6.064-5.828%208.332-1.151z%22%2F%3E%0A%3C%2Fsvg%3E%0A");

        &.-gray {
          filter: grayscale(100%);
        }
      }
    }
  }
}

.faq-title {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    margin-top: -1px;

    background: $hilite-bg;
  }

  .title {
    position: relative;
    z-index: 10;
    padding: 0 2rem;

    background: #fff;
  }
}

.levels {
  margin: 1rem 0 2rem;
  @include shadow(false, false);
  font-family: Avenir;

  &:last-child {
    margin-bottom: 3rem;
  }

  .level {
    display: flex;
    flex-flow: column;

    border-bottom: 1px solid rgba(0, 0, 0, 0.3);

    &:last-child {
      border: 0;
    }

    > .level-title {
      display: flex;
      height: 60px;
      padding: 1rem;
      align-items: center;
      margin: 0;

      color: #0096cf;
      background: $hilite-bg-veryverylight-grey;
      font-size: 1.5rem;
      // text-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
      cursor: pointer;

      &::after {
        content: "\2329";
        display: block;
        margin-left: auto;
        margin-right: 1rem;
        transform: rotate(-90deg);
      }
    }

    > section {
      padding: 0rem 1rem;
      display: none;

      > * {
        text-align: left;
      }

      > h3 {
        text-align: center;
      }

      h4 {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding-bottom: 0.5rem;
        margin-bottom: 0.5rem;
        margin-right: -1rem;

        font-weight: 400;
        color: $hilite-bg;
      }
    }

    &.expanded {
      > .level-title {
        background: $hilite-bg;
        color: #fff;

        &::after {
          transform: rotate(90deg);
        }
      }

      > section {
        display: block;
      }
    }
  }
}
