// main: home.scss

*.none {
  display: none;
}

.input,
.button {
  padding: 1rem 1.25rem;

  font-weight: 900;
  font-size: 1.2rem;
  background: rgba(0, 0, 0, 0.45);
  border-radius: 0.25rem;
  text-align: center;
  border: 0;
  color: #fff;

  text-decoration: none;

  @include shadow();
}

.input {
  text-align: left;
  font-family: Lato;
  font-weight: 400;

  &.darker {
    background: rgba(0, 0, 0, 0.75);
  }
}

// Courses buttons
section.courses {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1.5rem 0;
  overflow: hidden;

  background: $nav-bg;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);

  .course {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    // min-width: 100px;
    margin: 0 4rem;

    text-decoration: none;

    svg {
      width: 35px;

      path {
        fill: #fff;
      }
    }

    .title {
      margin-top: 1rem;
      margin-bottom: 0;

      color: #fff;
      font-family: "Open Sans";
      font-weight: 100;
      font-size: 0.8rem;
    }
  }
}

// Stay small on couse page
body.page-course {
  section.courses {
    padding: 1rem 0;

    .course {
      flex-flow: row nowrap;
      margin: 0 2rem;

      svg {
        width: 18px;
      }

      .title {
        margin: 0 0.75rem;
      }
    }
  }
}

body.floating-course-summary {
  section.courses {
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    top: $nav-height;
    padding: 1rem 0;

    border-bottom: 0;
    box-shadow: 0 0.2rem 0.25rem rgba(0, 0, 0, 0.2);

    .course {
      flex-flow: row nowrap;
      margin: 0 2rem;

      svg {
        width: 18px;
      }

      .title {
        margin: 0 0.75rem;
      }
    }
  }

  &.admin-menu {
    section.courses {
      top: $nav-height + $admin-nav-height;
    }
  }
}
