// main: home.scss

.footer {
  display: flex;
  height: 100px;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;

  color: $hilite-bg-grey;
  background: $nav-bg;

  b {
    margin-left: 0.35rem;

    color: #fff;
    font-weight: 900;
  }
}
