
// main: home.scss

.main {
  display: flex;
  flex-flow: column nowrap;
  margin-top: $nav-height;
  align-items: center;
  flex: 1 0 auto;
  height: 100%;
}

.content-hero {
  position: relative;
  display: flex;
  flex-flow: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: calc(100vh - #{$nav-height});
  width: 100%;

  > * {
    position: relative;
    z-index: 10;
  }

  @mixin tshadow {
    text-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.4);
  }

  .login {
    position: relative;
    z-index: 10;
    display: flex;
    flex-flow: column;
    max-width: 300px;
    margin-top: 2rem;

    .header {
      margin: 0rem 0 0.75rem;

      color: #222;
      font-family: "Open Sans";
      font-weight: 300;
      font-size: 2rem;
      // @include tshadow();
    }

    > *:not(.header) {
      margin: 0.25rem 0;
      box-shadow: 0 0.25rem 0.2rem rgba(0, 0, 0, 0.25);
    }

    .button {
      width: 100%;

      background: $hilite-bg;
      cursor: pointer;

      &.is-pending {
        position: relative;
        color: transparent;

        $spinner-size: 20px;
        $spinner-thickness: 2px;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          width: $spinner-size;
          height: $spinner-size;

          border-radius: 100%;
          border-right:  $spinner-thickness solid #fff;
          border-bottom: $spinner-thickness solid #fff;

          animation-name: ihfath-login-pending;
          animation-timing-function: linear;
          animation-duration: 450ms;
          animation-iteration-count: infinite;
        }

        @keyframes ihfath-login-pending {
          0% {
            transform: rotate(0deg);
          }

          100% {
            transform: rotate(359deg);
          }
        }
      }
    }

    .login-error {
      display: none;
      // display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 0.5rem 1rem;

      background: #D5262A;
      color: #fff;
      cursor: default;

      .icon {
        font-size: 2rem;
        margin-right: 0.5rem;
      }

      .message {
        position: relative;
        top: -0.05rem;
        font-family: Roboto;
        font-weight: 400;
      }
    }
  }
}

// TODO: Merge this with above
.content-hero {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-bottom: 0rem;
  width: 100%;
  overflow: hidden;

  color: #222;

  > .background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background: url('./graphics/hero-bg.jpg') no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    pointer-events: none;
  }

  > .constrain {
    position: relative;
    z-index: 10;
    display: flex;
    flex-flow: column;
    width: 100%;
    max-width: $max-page-width;
    padding: 0;
  }

  h1,
  h2,
  h3,
  h4 {
    display: flex;
    flex-flow: column;

    font-family: "Open Sans";
    font-weight: 300;
    font-size: 3.2rem;
    color: #197098;
  }

  .koa-welcome {
    // ...
  }

  .logo {
    max-width: 100px;
  }

  .description {
    margin-top: 2rem;
    max-width: 500px;
    font-size: 1.3rem;
    line-height: 2rem;
  }

  .company {
    margin: 0;
  }
}
