@mixin __shadow-body($use-hover) {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2), 0px 5px 20px rgba(0, 0, 0, 0.2);
  transition: box-shadow 250ms ease, transform 250ms ease;

  @if $use-hover {
    &:hover {
      transform: scale3d(1.025, 1.025, 1.025) translate3d(0px, -3px, 0px);
      box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.2), 0px 13px 30px rgba(0, 0, 0, 0.2);
    }
  }
}

@mixin shadow($use-class: true, $use-hover: true) {
  @if $use-class {
    &.shadow {
      @include __shadow-body($use-hover);
    }
  } @else {
    @include __shadow-body($use-hover);
  }
}
