// main: home.scss

// TODO: Prolly fix this later
.contextual-links-wrapper {
  display: none !important;
}

// Account for admin-menu
body.admin-menu {
  .navigation {
    top: $admin-nav-height;
  }
}

body.floating-course-summary {
  .navigation {
    box-shadow: none;
  }
}

.navigation {
  position: fixed;
  z-index: 105;
  left: 0;
  top: 0;
  width: 100%;
  flex: 0 0 auto;

  background: $nav-bg;
  box-shadow: 0 0.2rem 0.25rem rgba(0, 0, 0, 0.2);

  &,
  .constrain {
    display: flex;
    flex-flow: row;
    justify-content: center;
    justify-items: center;

    align-items: center;
    align-content: center;
    height: $nav-height;
  }

  .constrain {
    max-width: $max-page-width;
    justify-content: stretch;
    flex: 1;

    .region-navigation {
      display: flex;
      flex: 0 1 100%;
      width: 100%;

      .block-menu {
        display: flex;
        flex: 1 0 100%;

        .content {
          display: flex;
          flex: 1 0 100%;
        }
      }
    }
  }

  .logo {
    position: relative;
    display: flex;
    justify-items: center;
    align-items: center;
    top: -0.16rem;
    width: 90px;
    height: 60px;
    margin-right: 2rem;

    svg {
      max-width: 100%;

      // Only color uncolored paths
      path:not([fill]) {
        fill: $nav-color;
      }
    }
  }

  .nav-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    flex: 1;
    overflow: hidden;

    // text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-family: "Lato";
    font-size: 1rem;
    font-weight: 400;
    color: $nav-color;

    text-decoration: none;

    &.emphasize {
      font-weight: 700;
    }
  }
}
