// main: home.scss

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Avenir";
  src: url(fonts/avenir-book.otf);
}

@font-face {
  font-family: "Savoye LET";
  src: url('fonts/savoye-let-plain.woff2') format('woff2'),
       url('fonts/savoye-let-plain.woff') format('woff'),
       url('fonts/savoye-let-plain.ttf') format('truetype');
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;

  font-family: Avenir, Arial;
  font-size: 16px;
}

body {
  display: flex;
  flex-flow: column;
}
