// main: home.scss

// Slide-specific sliding

@mixin tshadow {
  text-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.4);
}

.slide-01 {
  > .background {
    $black-film: rgba(0, 0, 0, 0.35);
    background:
      linear-gradient(#{ $black-film }, #{ $black-film }),
      url(graphics/hero11-opti.jpg);
    background-size: auto, cover;
    background-position: center, center;
  }

  color: #44CF04;
  @include tshadow();

  > .constrain {
    align-items: flex-start;

    h4 {
      color: #fff;
    }
  }
}

.slide-02.slide-02 {
  > .background {
    background:
      linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)),
      url(graphics/dunes01.jpg);
    background-size: cover;
    background-position: 50% 50%;
  }

  color: #fff;
  @include tshadow();

  .title {
    display: inline;
    max-width: 350px;
    margin-right: 100px;

    span {
      display: inline;
      color: $hilite-bg;
    }
  }

  .good-points {
    font-family: Roboto !important;
    font-weight: 900 !important;
  }

  > .constrain {
    align-items: flex-start;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
  }
}

.slide-03 {
  > .background {
    background:
      linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)),
      url(graphics/dunes01.jpg);
    background-size: cover;
    background-position: 50% 50%;
  }

  color: #fff;
  @include tshadow();

  > .constrain {
    align-items: flex-start;
  }
}

// Slide animations

.slide {
  &.-slide-initial {
    pointer-events: none;
    z-index: 1;
    opacity: 0;
    perspective: 500px;

    transition:
      opacity 350ms ease,
      ;

    .-slide-up {
      opacity: 0;
      transform: translate3d(0, 100px, 0);
      transition:
        opacity   750ms cubic-bezier(.1,.22,.07,.97),
        transform 750ms cubic-bezier(.1,.22,.07,.97),
        ;
    }

    .-roll-out {
      transform: translate3d(0, 0, -150px) rotate3d(1, 0, 0, -10deg);
      transition:
        transform 650ms cubic-bezier(.1,.22,.07,.97),
        ;
    }

    .-out-delay-1 {
      transition-delay: 250ms;
    }

    .-out-delay-2 {
      transition-delay: 450ms;
    }

    .-out-delay-3 {
      transition-delay: 650ms;
    }

    .-out-delay-4 {
      transition-delay: 850ms;
    }
  }

  &.-slide-active {
    pointer-events: all;
    z-index: 10;
    opacity: 1;

    .-slide-up {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }

    .-roll-out {
      transform: rotate3d(0, 0, 0, 0deg) translate3d(0, 0, 0);
    }

    .-in-delay-1 {
      transition-delay: 250ms;
    }

    .-in-delay-2 {
      transition-delay: 450ms;
    }

    .-in-delay-3 {
      transition-delay: 650ms;
    }

    .-in-delay-4 {
      transition-delay: 850ms;
    }
  }
}
