
// compressedFilenamePattern: course.css

$max-page-width: 1024px;

$nav-height: 60px;
$nav-color: #fff;
$nav-bg: #242623;
// $nav-bg: #21261F;
// $nav-bg: #769442;

$hilite-bg: #2A779A;
$hilite-bg-2: #39949A;
$hilite-2: #37B6CC;
$hilite-2-shift: #3EAEE6;
$hilite-2-light: #3ECDE6;
$hilite-2-light-sat: #1FB7D1;
// $hilite-bg-2: #2A9A99;
$hilite-bg-grey: #868F81;
$hilite-bg-light-grey: #BDC2BA;
$hilite-bg-verylight-grey: #D6DBD2;
$hilite-bg-veryverylight-grey: #E2E6DF;

@import "mixins";
@import "course-layout";
