
// compressedFilenamePattern: main.css

$max-page-width: 1024px;

$nav-height: 60px;
$admin-nav-height: 29px;
$nav-color: #fff;
$nav-bg: #242623;
// $nav-bg: #21261F;
// $nav-bg: #769442;

$hilite-bg: #529A2A;
$hilite-bg-2: #39949A;
// $hilite-bg-2: #2A9A99;
$hilite-bg-grey: #868F81;

@import "https://fonts.googleapis.com/css?family=Lato:300,400,900|Open+Sans:100,300,400|Roboto:100,300,400,900";
@import "mixins";
@import "skeleton";
@import "elements";
@import "nav";
@import "footer";

// Include these temporarily
@import "home-layout";
// @import "sliders";

// Base layout

.main {
  display: flex;
  flex-flow: column nowrap;
  margin-top: $nav-height;
  align-items: center;
  flex: 1 0 auto;
  height: 100%;
}

// Fix Drupal block system styling
.main .region-content {
  width: 100%;

  .block-system {
    width: 100%;

    .content {
      width: 100%;
    }
  }
}
