
$max-page-width: 1024px;

$nav-height: 60px;
$nav-color: #fff;
$nav-bg: #242623;
// $nav-bg: #21261F;
// $nav-bg: #769442;

$hilite-bg: #529A2A;
$hilite-bg-2: #39949A;
// $hilite-bg-2: #2A9A99;
$hilite-bg-grey: #868F81;

.content-hero {
  height: auto;
  padding: 4rem 0 6rem;

  .constrain {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    visibility: visible;

    .header {
      margin-top: 0;
    }

    .prices {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
    }

    .back-to-course {
      margin-top: 6rem;
      font-size: 1.5rem;
      background: $hilite-bg-2;
    }
  }
}

.price-card {
  position: relative;
  display: flex;
  flex-flow: column;
  padding: 1.5rem;
  align-items: center;
  min-width: 230px;
  flex: 0 0 auto;

  border-radius: 7px;
  border: 1px solid hsl(0%, 0%, 75%);

  transition: background 250ms ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  cursor: default;

  &:hover,
  &.featured {
    background: $hilite-bg;

    > *:not(.button):not(.price) {
      color: #fff;
    }
  }

  .title {
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 1.25rem;
  }

  $price-size: 140px;
  .price {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $price-size;
    height: $price-size;
    margin-bottom: 1rem;

    color: hsl(0%, 0%, 25%);
    font-family: "Lato";
    font-size: 2rem;
    border-radius: 100%;
    background: hsl(0%, 0%, 85%);
  }

  .details {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
  }

  .detail {
    padding: 1rem 0 1rem;
    width: 100%;

    text-align: center;
    border-bottom: 1px solid hsl(0%, 0%, 75%);
    font-size: 1.2rem;

    &:last-child {
      border: 0;
    }
  }

  .button {
    &:hover {
      background: $hilite-bg-2;
    }
  }
}
