
// Elements

@mixin __shadow-body($use-hover) {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2), 0px 5px 20px rgba(0, 0, 0, 0.2);
  transition: box-shadow 250ms ease, transform 250ms ease;

  @if $use-hover {
    &:hover {
      transform: scale3d(1.025, 1.025, 1.025) translate3d(0px, -3px, 0px);
      box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.2), 0px 13px 30px rgba(0, 0, 0, 0.2);
    }
  }
}

@mixin shadow($use-class: true, $use-hover: true) {
  @if $use-class {
    &.shadow {
      @include __shadow-body($use-hover);
    }
  } @else {
    @include __shadow-body($use-hover);
  }
}

*.none {
  display: none;
}

.input,
.button {
  padding: 1rem 1.25rem;

  font-weight: 900;
  font-size: 1.2rem;
  background: rgba(0, 0, 0, 0.45);
  border-radius: 0.25rem;
  text-align: center;
  border: 0;
  color: #fff;

  text-decoration: none;

  @include shadow();
}

.input {
  text-align: left;
  font-family: Lato;
  font-weight: 400;

  &.darker {
    background: rgba(0, 0, 0, 0.75);
  }
}

// Good points/bullet points
.good-points {
  ul,
  p {
    font-size: 1.5rem;
    font-weight: 300;
  }

  p {
    max-width: 500px;
  }

  ul {
    padding: 0;
    max-width: 400px;

    li {
      position: relative;
      list-style: none;
      margin: 1.5rem 0;

      &::before {
        content: "";
        position: relative;
        display: inline-block;
        // right: 100%;
        top: 4px;
        // bottom: 0;
        margin: auto 0;
        margin-right: 15px;
        margin-left: -1.89em;
        width: 30px;
        height: 30px;
        box-sizing: border-box;

        background: url(graphics/logo-square-white.svg) no-repeat;
        background-position: center;
        background-size: cover;
        // border: 2px solid rgba(255, 255, 255, 0.5);
        // border-radius: 100%;
      }
    }
  }
}
