
// Base.scss
$max-page-width: 1024px;

$nav-height: 60px;
$nav-color: #fff;
$nav-bg: #242623;
// $nav-bg: #21261F;
// $nav-bg: #769442;

$hilite-bg: #529A2A;
$hilite-bg-2: #39949A;
// $hilite-bg-2: #2A9A99;
$hilite-bg-grey: #868F81;

@import "elements";

// Course styles
// main: home.scss

.main {
  display: flex;
  flex-flow: column nowrap;
  margin-top: $nav-height;
  align-items: center;
  flex: 1 0 auto;
  height: 100%;
}

// Remove extra margins from nested <p>'s in headers generated from markdown
h1, h2, h3, h4, h5, h6 {
  > p {
    margin: 0;
  }
}

// .fp-content.hero {
//   position: relative;
//   display: flex;
//   flex-flow: row;
//   align-items: center;
//   align-content: center;
//   justify-content: center;
//   height: calc(100vh - #{$nav-height});
//   width: 100%;
//
//   > * {
//     position: relative;
//     z-index: 10;
//   }
//
//   > .constrain {
//     position: absolute;
//     z-index: 10;
//     visibility: hidden;
//   }
//
//   @mixin tshadow {
//     text-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.4);
//   }
//
//   .slider {
//     position: absolute;
//     z-index: 1;
//     left: 0;
//     top: 0;
//     width: 100%;
//     height: 100%;
//
//     // Slider initial color
//     background: linear-gradient(to top, #999999, #333333 50%, #262626);
//   }
//
//   .login {
//     position: relative;
//     z-index: 10;
//     display: flex;
//     flex-flow: column;
//     width: 50%;
//     max-width: 300px;
//     margin-left: auto;
//     top: -1rem;
//     visibility: visible;
//
//     .header {
//       margin: 0rem 0 0.75rem;
//
//       color: #444;
//       font-family: "Open Sans";
//       font-weight: 300;
//       font-size: 3rem;
//       // @include tshadow();
//     }
//
//     > *:not(.header) {
//       margin: 0.25rem 0;
//       box-shadow: 0 0.25rem 0.2rem rgba(0, 0, 0, 0.25);
//     }
//
//     .button {
//       width: 100%;
//
//       background: $hilite-bg;
//       cursor: pointer;
//     }
//   }
// }
//
// // In HERO
// .slide {
//   position: absolute;
//   z-index: 1;
//   left: 0;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   margin: auto;
//   width: 100%;
//
//   > .background {
//     position: absolute;
//     z-index: 0;
//     left: 0;
//     top: 0;
//     right: 0;
//     bottom: 0;
//
//     pointer-events: none;
//     will-change: transform, opacity;
//   }
//
//   > .constrain {
//     position: relative;
//     z-index: 10;
//     display: flex;
//     flex-flow: column;
//     justify-content: center;
//     align-items: center;
//     max-width: $max-page-width;
//     width: 100%;
//     height: 100%;
//     margin: auto;
//   }
//
//   .upcase {
//     text-transform: uppercase;
//   }
//
//   &.slide {
//     h1,
//     h2,
//     h3,
//     h4 {
//       font-family: Roboto;
//       font-weight: 900;
//       font-size: 5rem;
//       line-height: 0.95em;
//       display: inline;
//
//       margin: 0 0 1rem;
//     }
//
//     h2 {
//       font-size: 3.5rem;
//     }
//
//     h3 {
//       font-size: 2.5rem;
//     }
//
//     h4 {
//       font-size: 1.5rem;
//     }
//
//     .black,
//     .very-black {
//       color: #333;
//       text-shadow: none;
//     }
//
//     .very-black {
//       color: #000;
//     }
//
//     .moderately-thin {
//       font-weight: 400;
//     }
//
//     .thin {
//       font-weight: 300;
//     }
//   }
// }

.fp-content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  height: 400px;
  margin-bottom: 0rem;
  width: 100%;

  > .constrain {
    display: flex;
    flex-flow: row;
    width: 100%;
    max-width: $max-page-width;
    padding: 0;
  }

  h1,
  h2,
  h3,
  h4 {
    display: flex;
    flex-flow: column;

    font-family: "Open Sans";
    font-weight: 300;
    font-size: 3.2rem;

    .soon {
      padding: 0.4rem;
      margin-left: -0.05rem;
      margin-right: auto;
      margin-top: 0.5rem;

      color: #fff;
      font-family: Roboto;
      font-weight: 900;
      font-size: 0.9rem;
      text-transform: uppercase;

      background: #000;
    }
  }

  @mixin course-bg($bg: "") {
    @if ($bg) {
      background:
        radial-gradient(135% 130% at #{100% - 84%} #{100% - 100%}, transparent 75%, rgba(0, 0, 0, 0.1) 110%),
        $bg;
    } @else {
      background: radial-gradient(135% 130% at #{100% - 84%} #{100% - 100%}, transparent 75%, rgba(0, 0, 0, 0.1) 110%);
    }
  }

  &.course {
    @include course-bg();
    font-family: Roboto;

    .constrain {
      align-items: center;
    }

    &.pack-end {
      background: radial-gradient(135% 130% at 84% 105%, transparent 80%, rgba(0, 0, 0, 0.1) 110%);

      .constrain {
        justify-content: end;

        h1 {
          margin-left: auto;
        }
      }
    }

    // --------- Generic elements ---------

    &.style-1 {
      &.black-style {
        .good-points {
          ul li::before {
            background-image: url(graphics/logo-square-black.svg);
            opacity: 0.85;
          }
        }
      }

      .focus {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-flow: column;

        min-width: 400px;
      }

      h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
        margin-top: -0.25rem;
      }

      h2 {
        font-size: 1.5rem;
        margin-bottom: 1.75rem;
        // font-weight: 400;
      }

      .button {
        align-self: stretch;
      }
    }

    // --------- Generic elements ---------
  }
}
