/*
 * https://github.com/jtrost/Complete-CSS-Reset
*/

/* Displays for HTML 5 */
div.bulma-root article, div.bulma-root aside, div.bulma-root audio, div.bulma-root command, div.bulma-root datagrid, div.bulma-root details, div.bulma-root dialog, div.bulma-root embed, div.bulma-root figcaption, div.bulma-root figure, div.bulma-root footer, div.bulma-root header, div.bulma-root hgroup, div.bulma-root menu, div.bulma-root nav, div.bulma-root section, div.bulma-root summary, div.bulma-root video, div.bulma-root wbr {
	display: block;
}

div.bulma-root bdi, div.bulma-root figcaption, div.bulma-root keygen, div.bulma-root mark, div.bulma-root meter, div.bulma-root progress, div.bulma-root rp, div.bulma-root rt, div.bulma-root ruby, div.bulma-root time {
	display: inline;
}

/* Deprecated tags */
div.bulma-root acronym, div.bulma-root applet, div.bulma-root big, div.bulma-root center, div.bulma-root dir, div.bulma-root font, div.bulma-root frame, div.bulma-root frameset, div.bulma-root noframes, div.bulma-root s, div.bulma-root strike, div.bulma-root tt, div.bulma-root u, div.bulma-root xmp {
	display: none;
}

/* Reset styles for all structural tags */
div.bulma-root a,
div.bulma-root abbr,
div.bulma-root area,
div.bulma-root article,
div.bulma-root aside,
div.bulma-root audio,
div.bulma-root b,
div.bulma-root bdo,
div.bulma-root blockquote,
div.bulma-root body,
div.bulma-root button,
div.bulma-root canvas,
div.bulma-root caption,
div.bulma-root cite,
div.bulma-root code,
div.bulma-root col,
div.bulma-root colgroup,
div.bulma-root command,
div.bulma-root datalist,
div.bulma-root dd,
div.bulma-root del,
div.bulma-root details,
div.bulma-root dialog,
div.bulma-root dfn,
div.bulma-root div,
div.bulma-root dl,
div.bulma-root dt,
div.bulma-root em,
div.bulma-root embed,
div.bulma-root fieldset,
div.bulma-root figure,
div.bulma-root form,
div.bulma-root h1,
div.bulma-root h2,
div.bulma-root h3,
div.bulma-root h4,
div.bulma-root h5,
div.bulma-root h6,
div.bulma-root head,
div.bulma-root header,
div.bulma-root hgroup,
div.bulma-root hr,
div.bulma-root html,
div.bulma-root i:not(.fa),
div.bulma-root iframe,
div.bulma-root img,
div.bulma-root input,
div.bulma-root ins,
div.bulma-root keygen,
div.bulma-root kbd,
div.bulma-root label,
div.bulma-root legend,
div.bulma-root li,
div.bulma-root map,
div.bulma-root mark,
div.bulma-root menu,
div.bulma-root meter,
div.bulma-root nav,
div.bulma-root noscript,
div.bulma-root object,
div.bulma-root ol,
div.bulma-root optgroup,
div.bulma-root option,
div.bulma-root output,
div.bulma-root p,
div.bulma-root param,
div.bulma-root pre,
div.bulma-root progress,
div.bulma-root q,
div.bulma-root rp,
div.bulma-root rt,
div.bulma-root ruby,
div.bulma-root samp,
div.bulma-root section,
div.bulma-root select,
div.bulma-root small,
div.bulma-root span,
div.bulma-root strong,
div.bulma-root sub,
div.bulma-root sup,
div.bulma-root table,
div.bulma-root tbody,
div.bulma-root td,
div.bulma-root textarea,
div.bulma-root tfoot,
div.bulma-root th,
div.bulma-root thead,
div.bulma-root time,
div.bulma-root tr,
div.bulma-root ul,
div.bulma-root var,
div.bulma-root video {
	background: transparent;
	border: 0;
	font-size: 100%;
	font: inherit;
	margin: 0;
	outline: none;
	padding: 0;
	text-align: left;
	text-decoration: none;
	vertical-align: baseline;
	z-index: auto;
}

/* Miscellaneous resets */
div.bulma-root body {
	line-height: 1;
}

div.bulma-root ol, div.bulma-root ul {
	list-style: none;
}

div.bulma-root blockquote, div.bulma-root q {
	quotes: none;

}

div.bulma-root blockquote:before, div.bulma-root blockquote:after, div.bulma-root q:before, div.bulma-root q:after {
	content: '';
	content: none;
}

div.bulma-root table {
	border-collapse: collapse;
	border-spacing: 0;
}
