
/**
 * Generic elements.
 */
*:not(.bulma-root) body {
  color: #000;
  background: #fff;
  font: normal 81.3%/1.538em "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}
*:not(.bulma-root) a {
  color: #0074BD;
  text-decoration: none;
}
*:not(.bulma-root) a:hover {
  text-decoration: underline;
}
*:not(.bulma-root) hr {
  margin: 0;
  padding: 0;
  border: none;
  height: 1px;
  background: #cccccc;
}
*:not(.bulma-root) legend {
  font-weight: bold;
}
*:not(.bulma-root) h1,
*:not(.bulma-root) h2,
*:not(.bulma-root) h3,
*:not(.bulma-root) h4,
*:not(.bulma-root) h5,
*:not(.bulma-root) h6 {
  font-weight: bold;
  margin: 10px 0;
}
*:not(.bulma-root) h1 {
  font-size: 1.538em;
}
*:not(.bulma-root) h2 {
  font-size: 1.385em;
}
*:not(.bulma-root) h3 {
  font-size: 1.231em;
}
*:not(.bulma-root) h4 {
  font-size: 1.154em;
}
*:not(.bulma-root) h5,
*:not(.bulma-root) h6 {
  font-size: 1.077em;
}
*:not(.bulma-root) p {
  margin: 1em 0;
}
*:not(.bulma-root) dl {
  margin: 0 0 20px;
}
*:not(.bulma-root) dl dd,
*:not(.bulma-root) dl dl {
  margin-left: 20px; /* LTR */
  margin-bottom: 10px;
}
*:not(.bulma-root) blockquote {
  margin: 1em 40px;
}
*:not(.bulma-root) address {
  font-style: italic;
}
*:not(.bulma-root) u,
*:not(.bulma-root) ins {
  text-decoration: underline;
}
*:not(.bulma-root) s,
*:not(.bulma-root) strike,
*:not(.bulma-root) del {
  text-decoration: line-through;
}
*:not(.bulma-root) big {
  font-size: larger;
}
*:not(.bulma-root) small {
  font-size: smaller;
}
*:not(.bulma-root) sub {
  vertical-align: sub;
  font-size: smaller;
  line-height: normal;
}
*:not(.bulma-root) sup {
  vertical-align: super;
  font-size: smaller;
  line-height: normal;
}
*:not(.bulma-root) nobr {
  white-space: nowrap;
}
*:not(.bulma-root) abbr,
*:not(.bulma-root) acronym {
  border-bottom: dotted 1px;
}
*:not(.bulma-root) ul,
*:not(.bulma-root) .block ul,
*:not(.bulma-root) .item-list ul {
  list-style-type: disc;
  list-style-image: none;
  margin: 0.25em 0 0.25em 1.5em; /* LTR */
}
*:not(.bulma-root) .item-list .pager li {
  padding: 0.5em;
}
*:not(.bulma-root) .item-list ul li,
*:not(.bulma-root) li.leaf,
*:not(.bulma-root) ul.menu li {
  list-style-type: disc;
  list-style-image: none;
}
*:not(.bulma-root) ul.menu li {
  margin: 0;
}
*:not(.bulma-root) ol {
  list-style-type: decimal;
  margin: 0.25em 0 0.25em 2em; /* LTR */
}
*:not(.bulma-root) .item-list ul li.collapsed,
*:not(.bulma-root) ul.menu li.collapsed {
  list-style-image:url(../../misc/menu-collapsed.png);
  list-style-type:disc;
}
*:not(.bulma-root) .item-list ul li.expanded,
*:not(.bulma-root) ul.menu li.expanded {
  list-style-image:url(../../misc/menu-expanded.png);
  list-style-type:circle;
}
*:not(.bulma-root) quote,
*:not(.bulma-root) code {
  margin: .5em 0;
}
*:not(.bulma-root) code,
*:not(.bulma-root) pre,
*:not(.bulma-root) kbd {
  font-size: 1.231em;
}
*:not(.bulma-root) pre {
  margin: 0.5em 0;
  white-space: pre-wrap;
}

/**
 * Skip link.
 */
*:not(.bulma-root) #skip-link {
  margin-top: 0;
  position: absolute;
  left: 50%; /* LTR */
  margin-left: -5.25em; /* LTR */
  width: auto;
  z-index: 50;
}
*:not(.bulma-root) #skip-link a,
*:not(.bulma-root) #skip-link a:link,
*:not(.bulma-root) #skip-link a:visited {
  display: block;
  background: #444;
  color: #fff;
  font-size: 0.94em;
  padding: 1px 10px 2px 10px; /* LTR */
  text-decoration: none;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-radius: 0 0 10px 10px;
}
*:not(.bulma-root) #skip-link a:hover,
*:not(.bulma-root) #skip-link a:focus,
*:not(.bulma-root) #skip-link a:active {
  outline: 0;
}

/**
 * Branding.
 */
*:not(.bulma-root) #branding {
  overflow: hidden;
  padding: 20px 20px 0 20px; /* LTR */
  position: relative;
  background-color: #e0e0d8;
}
*:not(.bulma-root) #branding div.breadcrumb {
  font-size: 0.846em;
  padding-bottom: 5px;
}
*:not(.bulma-root) #branding div.block {
  position: relative;
  float: right; /* LTR */
  width: 240px;
  padding-left: 10px; /* LTR */
  background: #333;
}
*:not(.bulma-root) #branding div.block form label {
  display: none;
}
*:not(.bulma-root) #branding div.block form div.form-item {
  float: left; /* LTR */
  border: 0;
  margin: 0;
  padding: 0;
}
*:not(.bulma-root) #branding div.block form input.form-text {
  width: 140px;
  margin-right: 10px; /* LTR */
}
*:not(.bulma-root) #branding div.block form input.form-submit {
  text-align: center;
  width: 80px;
}

/**
 * Help.
 */
*:not(.bulma-root) #help {
  font-size: 0.923em;
  margin-top: 1em;
}
*:not(.bulma-root) #help p {
  margin: 0 0 10px;
}
*:not(.bulma-root) #help div.more-help-link {
  text-align: right; /* LTR */
}

/**
 * Page title.
 */
*:not(.bulma-root) #page-title {
  background: #333;
  padding-top: 20px;
}
*:not(.bulma-root) #branding h1.page-title {
  color: #000;
  margin: 0;
  padding-bottom: 10px;
  font-size: 1.385em;
  font-weight: normal;
  float: left; /* LTR */
}

/**
 * Console.
 */
*:not(.bulma-root) #console {
  margin: 9px 0 10px;
}

/**
 * Tabs.
 */
*:not(.bulma-root) ul.primary {
  float: right; /* LTR */
  border-bottom: none;
  text-transform: uppercase;
  font-size: 0.923em;
  height: 2.60em;
  margin: 0;
  padding-top: 0;
}
*:not(.bulma-root) ul.primary li {
  float: left; /* LTR */
  list-style: none;
  margin: 0 2px;
}
*:not(.bulma-root) ul.primary li a:link,
*:not(.bulma-root) ul.primary li a.active,
*:not(.bulma-root) ul.primary li a:active,
*:not(.bulma-root) ul.primary li a:visited,
*:not(.bulma-root) ul.primary li a:hover,
*:not(.bulma-root) ul.primary li.active a {
  display: block;
  float: left; /* LTR */
  height: 2.60em;
  line-height: 2.60em;
  padding: 0 18px 8px;
  background-color: #a6a7a2;
  color: #000;
  font-weight: bold;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: #a6a7a2;
  -moz-border-radius: 8px 8px 0 0;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  border-radius: 8px 8px 0 0;
}
*:not(.bulma-root) ul.primary li.active a,
*:not(.bulma-root) ul.primary li.active a.active,
*:not(.bulma-root) ul.primary li.active a:active,
*:not(.bulma-root) ul.primary li.active a:visited {
  background-color: #fff;
  border-color: #c9cac4;
}
*:not(.bulma-root) ul.primary li a:hover {
  color: #fff;
}
*:not(.bulma-root) ul.primary li.active a:hover {
  color: #000;
}
*:not(.bulma-root) .tabs-secondary {
  clear: both;
}
*:not(.bulma-root) ul.secondary {
  float: right; /* LTR */
  font-size: 0.923em;
  padding: 0 3px 5px;
  line-height: 1.385em;
  overflow: hidden;
  background-color: #fff;
}
*:not(.bulma-root) ul.secondary li {
  margin: 0 5px;
  float: none; /* LTR */
}
*:not(.bulma-root) ul.secondary li a {
  background-color: #ddd;
  color: #000;
  display: inline-block;
}
*:not(.bulma-root) ul.secondary li a,
*:not(.bulma-root) ul.secondary li a:hover,
*:not(.bulma-root) ul.secondary li.active a,
*:not(.bulma-root) ul.secondary li.active a.active {
  padding: 2px 10px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}
*:not(.bulma-root) ul.secondary li a:hover,
*:not(.bulma-root) ul.secondary li.active a,
*:not(.bulma-root) ul.secondary li.active a.active {
  color: #fff;
  background: #666;
}
*:not(.bulma-root) #content {
  clear: left;
}

/**
 * Page layout.
 */
*:not(.bulma-root) #page {
  padding: 20px 0 40px 0; /* LTR */
  margin-right: 40px; /* LTR */
  margin-left: 40px; /* LTR */
  background: #fff;
  position: relative;
  color: #333;
}
*:not(.bulma-root) #secondary-links ul.links li {
  padding: 0 10px 10px 0; /* LTR */
}
*:not(.bulma-root) #secondary-links ul.links li a {
  font-size: 0.923em;
  background: #777;
  color: #fff;
  text-align: center;
  padding: 5px;
  height: 55px;
  width: 80px;
  overflow: hidden;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
*:not(.bulma-root) #secondary-links ul.links li a:hover {
  background: #999;
}
*:not(.bulma-root) ul.links li,
*:not(.bulma-root) ul.inline li {
  padding-right: 1em; /* LTR */
}
*:not(.bulma-root) ul.inline li {
  display: inline;
}
*:not(.bulma-root) #secondary-links ul.links li.active-trail a,
*:not(.bulma-root) #secondary-links ul.links li a.active {
  background: #333;
}
*:not(.bulma-root) ul.admin-list li {
  position: relative;
  padding-left: 30px; /* LTR */
  padding-top: 9px;
  border-top: 1px solid #ccc;
  margin-left: 0; /* LTR */
  margin-bottom: 10px;
  background: url(images/list-item.png) no-repeat 0 11px; /* LTR */
  list-style-type: none;
  list-style-image: none;
}
*:not(.bulma-root) .admin-panel .item-list ul,
*:not(.bulma-root) ul.admin-list {
  margin: 0;
  padding: 0;
}
*:not(.bulma-root) .admin-panel .item-list ul,
*:not(.bulma-root) ul.admin-list.compact {
  margin: 8px 0;
}
*:not(.bulma-root) .admin-panel .item-list li,
*:not(.bulma-root) ul.admin-list.compact li {
  border: none;
  background: none;
  margin: 0 0 0.75em;
  line-height: 1;
  padding: 0;
}
*:not(.bulma-root) ul.admin-list li:last-child {
  border-bottom: none;
}
*:not(.bulma-root) ul.admin-list li a {
  margin-left: -30px; /* LTR */
  padding: 0 0 4px 30px; /* LTR */
  min-height: 0;
}
*:not(.bulma-root) ul.admin-list.compact li a {
  margin-left: 0; /* LTR */
  padding: 0;
}
*:not(.bulma-root) ul.admin-list li div.description a {
  margin-left: 0; /* LTR */
  padding: 0;
  min-height: inherit;
}
*:not(.bulma-root) div.submitted {
  color: #898989;
}

/**
 * Tables.
 */
*:not(.bulma-root) table {
  width: 100%;
  font-size: 0.923em;
  margin: 0 0 10px;
  border: 1px solid #bebfb9;
}
*:not(.bulma-root) table td,
*:not(.bulma-root) table th {
  vertical-align: middle;
  padding: 8px 10px;
  border: 0;
  color: #000;
}
*:not(.bulma-root) tr.even,
*:not(.bulma-root) tr.odd {
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: #bebfb9;
  background: #f3f4ee;
}
*:not(.bulma-root) tr.odd {
  background: #fff;
}
*:not(.bulma-root) tr.drag {
  background: #fe7;
}
*:not(.bulma-root) tr.drag-previous {
  background: #ffb;
}
*:not(.bulma-root) table th {
  text-transform: uppercase;
  background: #e1e2dc;
  font-weight: normal;
  border-width: 1px;
  border-style: solid;
  border-color: #bebfb9;
  padding: 3px 10px;
}
/**
 * Force browsers to calculate the width of a 'select all' TH element.
 */
*:not(.bulma-root) table th.select-all {
  width: 1px;
}
*:not(.bulma-root) table th.active {
  background: #bdbeb9;
}
*:not(.bulma-root) table th a {
  display: block;
  position: relative;
}
*:not(.bulma-root) table th.active a {
  padding: 0 25px 0 0; /* LTR */
}
*:not(.bulma-root) table th.active img {
  position: absolute;
  top: 3px;
  right: 3px; /* LTR */
}
*:not(.bulma-root) table td.active {
  background: #e9e9dd;
}
*:not(.bulma-root) table tr.odd td.active {
  background: #f3f4ee;
}
*:not(.bulma-root) table tr.selected td.active,
*:not(.bulma-root) table tr.selected td {
  background: #ffc;
  border-color: #eeb;
}
*:not(.bulma-root) table.system-status-report tr {
  border-bottom: 1px solid #ccc;
}
*:not(.bulma-root) table.system-status-report tr.ok {
  color: #255b1e;
  background-color: #e5ffe2;
}
*:not(.bulma-root) table.system-status-report tr.info {
  color: #040f37;
  background-color: #bdf;
}
*:not(.bulma-root) table.system-status-report tr.warning {
  color: #840;
  background-color: #fffce5;
}
*:not(.bulma-root) table.system-status-report tr.error {
  color: #8c2e0b;
  background-color: #fef5f1;
}
/**
 * Exception for webkit bug with the right border of the last cell
 * in some tables, since it's webkit only, we can use :last-child
 */
*:not(.bulma-root) tr td:last-child {
  border-right: 1px solid #bebfb9; /* LTR */
}


/**
 * Fieldsets.
 *
 * Fieldset legends are displayed like containers in Seven. However, several
 * browsers do not support styling of LEGEND elements. To achieve the desired
 * styling:
 * - All fieldsets use 'position: relative'.
 * - All legend labels are wrapped in a single span.fieldset-legend that uses
 *   'position: absolute', which means that the LEGEND element itself is not
 *   rendered by browsers.
 * - Due to using 'position: absolute', collapsed fieldsets do not have a
 *   height; the fieldset requires a 'padding-top' to make the absolute
 *   positioned .fieldset-legend appear as though it would have a height.
 * - Various browsers are positioning the legend differently if there is a
 *   'padding-left'/'padding-right' applied on a fieldset and inherit the
 *   positioning even to absolute positioned elements within; we therefore have
 *   to apply all padding to the inner .fieldset-wrapper instead.
 */
*:not(.bulma-root) fieldset {
  border: 1px solid #ccc;
  padding: 2.5em 0 0 0; /* LTR */
  position: relative;
  margin: 1em 0;
}
*:not(.bulma-root) fieldset .fieldset-legend {
  margin-top: 0.5em;
  padding-left: 15px; /* LTR */
  position: absolute;
  text-transform: uppercase;
}
*:not(.bulma-root) fieldset .fieldset-wrapper {
  padding: 0 13px 13px 15px; /* LTR */
}
*:not(.bulma-root) fieldset.collapsed {
  background-color: transparent;
}
*:not(.bulma-root) html.js fieldset.collapsed {
  border-width: 1px;
  height: auto;
}
*:not(.bulma-root) fieldset fieldset {
  background-color: #fff;
}
*:not(.bulma-root) fieldset fieldset fieldset {
  background-color: #f8f8f8;
}

/**
 * Form elements.
 */
*:not(.bulma-root) .form-item {
  padding: 9px 0;
  margin: 0 0 10px;
}
*:not(.bulma-root) .filter-wrapper .form-item,
*:not(.bulma-root) div.teaser-checkbox .form-item,
*:not(.bulma-root) .form-item .form-item {
  padding: 5px 0;
  margin: 0;
  border: 0;
}
*:not(.bulma-root) .form-type-checkbox {
  padding: 0;
}
*:not(.bulma-root) .text-format-wrapper .form-item {
  padding-bottom: 0;
}
*:not(.bulma-root) .form-item label {
  margin: 0;
  padding: 0;
}
*:not(.bulma-root) .form-item label.option {
  font-size: 0.923em;
  text-transform: none;
}
*:not(.bulma-root) .form-item label.option input {
  vertical-align: middle;
}
*:not(.bulma-root) .form-disabled input.form-autocomplete,
*:not(.bulma-root) .form-disabled input.form-text,
*:not(.bulma-root) .form-disabled input.form-file,
*:not(.bulma-root) .form-disabled textarea.form-textarea,
*:not(.bulma-root) .form-disabled select.form-select {
  background-color: #eee;
  color: #777;
}

/* Filter */
*:not(.bulma-root) .filter-wrapper {
  border-top: 0;
  padding: 10px 2px;
}
*:not(.bulma-root) .filter-wrapper .fieldset-wrapper {
  padding: 0 6px;
}
*:not(.bulma-root) .filter-wrapper .form-item,
*:not(.bulma-root) .filter-wrapper .filter-guidelines,
*:not(.bulma-root) .filter-wrapper .filter-help {
  font-size: 0.923em;
  padding: 2px 0 0 0; /* LTR */
}
*:not(.bulma-root) ul.tips,
*:not(.bulma-root) div.description,
*:not(.bulma-root) .form-item div.description {
  margin: 5px 0;
  line-height: 1.231em;
  font-size: 0.923em;
  color: #666;
}
*:not(.bulma-root) ul.tips li {
  margin: 0.25em 0 0.25em 1.5em; /* LTR */
}
*:not(.bulma-root) body div.form-type-radio div.description,
*:not(.bulma-root) body div.form-type-checkbox div.description {
  margin-left: 1.5em; /* LTR */
}
*:not(.bulma-root) input.form-submit,
*:not(.bulma-root) a.button {
  cursor: pointer;
  padding: 4px 17px;
  margin-bottom: 1em;
  margin-right: 1em; /* LTR */
  color: #5a5a5a;
  text-align: center;
  font-weight: normal;
  font-size: 1.077em;
  font-family: "Lucida Grande", Verdana, sans-serif;
  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #b4b4b4;
  border-left-color: #d2d2d2;
  border-right-color: #d2d2d2;
  background: url(images/buttons.png) 0 0 repeat-x;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
*:not(.bulma-root) a.button:link,
*:not(.bulma-root) a.button:visited,
*:not(.bulma-root) a.button:hover,
*:not(.bulma-root) a.button:active {
  text-decoration: none;
  color: #5a5a5a;
}
*:not(.bulma-root) input.form-submit:active {
  background: #666;
  color: #fff;
  border-color: #555;
  text-shadow: #222 0 -1px 0;
}
*:not(.bulma-root) input.form-button-disabled,
*:not(.bulma-root) input.form-button-disabled:active {
  background: #eee none;
  border-color: #eee;
  text-shadow: none;
  color: #999;
}
*:not(.bulma-root) input.form-autocomplete,
*:not(.bulma-root) input.form-text,
*:not(.bulma-root) input.form-file,
*:not(.bulma-root) textarea.form-textarea,
*:not(.bulma-root) select.form-select {
  padding: 2px;
  border: 1px solid #ccc;
  border-top-color: #999;
  background: #fff;
  color: #333;
}
*:not(.bulma-root) input.form-text:focus,
*:not(.bulma-root) input.form-file:focus,
*:not(.bulma-root) textarea.form-textarea:focus,
*:not(.bulma-root) select.form-select:focus {
  color: #000;
  border-color: #ace;
}

*:not(.bulma-root) ul.action-links {
  margin: 1em 0;
  padding: 0 20px 0 20px; /* LTR */
  list-style-type: none;
  overflow: hidden;
}
*:not(.bulma-root) ul.action-links li {
  float: left; /* LTR */
  margin: 0 1em 0 0; /* LTR */
}
*:not(.bulma-root) ul.action-links a {
  padding-left: 15px; /* LTR */
  background: transparent url(images/add.png) no-repeat 0 center;
  line-height: 30px;
}

/* Exceptions */
*:not(.bulma-root) #diff-inline-form select,
*:not(.bulma-root) div.filter-options select {
  padding: 0;
}

/**
 * System.
 */
*:not(.bulma-root) div.admin .right,
*:not(.bulma-root) div.admin .left {
  width: 49%;
  margin: 0;
}
*:not(.bulma-root) div.admin-panel,
*:not(.bulma-root) div.admin-panel .body {
  padding: 0;
  clear: left;
}
*:not(.bulma-root) div.admin-panel {
  margin: 0 0 20px;
  padding: 9px;
  background: #f8f8f8;
  border: 1px solid #ccc;
}
*:not(.bulma-root) div.admin-panel h3 {
  font-size: 0.923em;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 9px;
}

/* admin/appearance */
*:not(.bulma-root) #system-themes-page h2 {
  font-weight: normal;
  text-transform: uppercase;
}
*:not(.bulma-root) .theme-selector h3 {
  font-weight: normal;
}
*:not(.bulma-root) .theme-default h3 {
  font-weight: bold;
}
*:not(.bulma-root) .system-themes-list-enabled .theme-selector h3 {
  margin-top: 0;
}

/* Update options. */
*:not(.bulma-root) div.admin-options {
  background: #f8f8f8;
  line-height: 30px;
  height: 30px;
  padding: 9px;
  border: 1px solid #ccc;
  margin: 0 0 10px;
}
*:not(.bulma-root) div.admin-options label {
  text-transform: uppercase;
  font: 0.846em/1.875em Lucida Grande, Lucida Sans Unicode, sans-serif;
}
*:not(.bulma-root) div.admin-options label,
*:not(.bulma-root) div.admin-options div.form-item {
  margin-right: 10px; /* LTR */
  float: left; /* LTR */
}
*:not(.bulma-root) div.admin-options div.form-item {
  padding: 0;
  border: 0;
}

/* Update status */
*:not(.bulma-root) .versions table.version {
  border: none;
}

/* Maintenance theming */
*:not(.bulma-root) body.in-maintenance #sidebar-first {
  float: left; /* LTR */
  width: 200px;
}
*:not(.bulma-root) body.in-maintenance #content {
  float: right; /* LTR */
  width: 550px;
  padding-right: 20px; /* LTR */
  clear: none;
}
*:not(.bulma-root) body.in-maintenance #page {
  overflow: auto;
  width: 770px;
  margin: 0 auto;
  padding-top: 2em;
}
*:not(.bulma-root) body.in-maintenance #branding h1 {
  width: 770px;
  margin: 0 auto;
  float: none;
}
*:not(.bulma-root) body.in-maintenance .form-radios .form-type-radio {
  padding: 2px 0;
}
*:not(.bulma-root) body.in-maintenance div.form-item:after {
  content: "";
  display: none;
  clear: none;
}
*:not(.bulma-root) body.in-maintenance .form-submit {
  display: block;
}
*:not(.bulma-root) body.in-maintenance #logo {
  margin-bottom: 1.5em;
  max-width: 180px;
}
*:not(.bulma-root) ol.task-list {
  margin-left: 0; /* LTR */
  list-style-type: none;
  list-style-image: none;
}
*:not(.bulma-root) ol.task-list li {
  padding: 0.5em 1em 0.5em 20px; /* LTR */
  color: #adadad;
}
*:not(.bulma-root) ol.task-list li.active {
  background: transparent url(images/task-item.png) no-repeat 3px 50%; /* LTR */
  padding: 0.5em 1em 0.5em 20px; /* LTR */
  color: #000;
}
*:not(.bulma-root) ol.task-list li.done {
  background: transparent url(images/task-check.png) no-repeat 0 50%;
  color: green;
}

/* Overlay theming */
*:not(.bulma-root) .overlay #branding {
  background-color: #fff;
  padding-top: 15px;
}
*:not(.bulma-root) .overlay #branding h1.page-title,
*:not(.bulma-root) .overlay #left,
*:not(.bulma-root) .overlay #footer {
  display: none;
}
*:not(.bulma-root) .overlay #page {
  margin: 0;
  padding: 0 20px;
}
*:not(.bulma-root) .overlay #branding div.breadcrumb {
  float: left; /* LTR */
  position: relative;
  z-index: 10;
}
*:not(.bulma-root) #overlay-tabs {
  bottom: -1px;
  font-size: 1.54em;
  line-height: 1.54em;
  margin: 0;
}
*:not(.bulma-root) #overlay-tabs li {
  margin: 0 -2px;
}
*:not(.bulma-root) .overlay ul.secondary {
  background: transparent none;
  margin: -1.4em 0 0.3em 0; /* LTR */
  overflow: visible;
}
*:not(.bulma-root) .overlay #content {
  padding: 0;
}
*:not(.bulma-root) h1#overlay-title {
  font-weight: normal;
}

/* Shortcut theming */
*:not(.bulma-root) div.add-or-remove-shortcuts {
  float: left; /* LTR */
  padding-top: 6px;
  padding-left: 6px; /* LTR */
}

/* Dashboard */
*:not(.bulma-root) #dashboard .dashboard-region div.block h2 {
  background: #E0E0D8;
}
*:not(.bulma-root) #dashboard div.block h2 {
  margin: 0;
  font-size: 1em;
  padding: 3px 10px;
}
*:not(.bulma-root) #dashboard div.block div.content {
  padding: 10px 5px 5px 5px; /* LTR */
}
*:not(.bulma-root) #dashboard div.block div.content ul.menu {
  margin-left: 20px; /* LTR */
}
*:not(.bulma-root) #dashboard .dashboard-region .block {
  border: #ccc 1px solid;
}

/* Field UI */

*:not(.bulma-root) #field-display-overview input.field-formatter-settings-edit {
  margin: 0;
  padding: 1px 8px;
}
*:not(.bulma-root) #field-display-overview tr.field-formatter-settings-changed {
  background: #FFFFBB;
}
*:not(.bulma-root) #field-display-overview tr.drag {
  background: #FFEE77;
}
*:not(.bulma-root) #field-display-overview tr.field-formatter-settings-editing {
  background: #D5E9F2;
}
*:not(.bulma-root) #field-display-overview .field-formatter-settings-edit-form .form-item {
  margin: 10px 0;
}
*:not(.bulma-root) #field-display-overview .field-formatter-settings-edit-form .form-submit {
  margin-bottom: 0;
}

/* Recent content block */
*:not(.bulma-root) #dashboard div#block-node-recent div.content {
  padding: 0;
}
*:not(.bulma-root) #block-node-recent table,
*:not(.bulma-root) #block-node-recent tr {
  border: none;
}
*:not(.bulma-root) #block-node-recent .more-link {
  padding: 0 5px 5px 0; /* LTR */
}

/* User login block */
*:not(.bulma-root) #user-login-form .openid-links {
  margin-left: 0; /* LTR */
}
*:not(.bulma-root) #user-login-form .openid-links .user-link {
  margin-left: 1.5em; /* LTR */
}

/* Disable overlay message */
*:not(.bulma-root) #overlay-disable-message {
  background-color: #addafc;
}
*:not(.bulma-root) #overlay-disable-message a,
*:not(.bulma-root) #overlay-disable-message a:visited {
  color: #000;
}
*:not(.bulma-root) #overlay-disable-message a:focus,
*:not(.bulma-root) #overlay-disable-message a:active {
  outline: none;
  text-decoration: underline;
}
*:not(.bulma-root) .overlay-disable-message-focused a {
  padding: 0.4em 0.6em;
}
*:not(.bulma-root) .overlay-disable-message-focused #overlay-dismiss-message {
  background-color: #59a0d8;
  color: #fff;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
