<div
  class="ihfath-lesson-expired-overlay"
  class:ihfath-is-visible="active">
</div>
<div
  class="ihfath-lesson-expired-wrap"
  class:ihfath-is-visible="active">
  {#if role === 2}
    <h1 class="title">
      {$locale.lessonExpireMessageProfessor}
    </h1>
    <a
      class="cws-button btn btn-xl btn-3d btn-round btn-default"
      href={backUrl}>
      {$locale.lessonExpireBackHomeBtn}
    </a>

  <!-- TODO: Separate these better and more securely -->
  {:else}
    <h1 class="title">
      {$locale.lessonExpireMessageStudent}
    </h1>

    <form
      action={actionUrl}
      method="POST"
      ref:form
      on:submit="submit(event)">
      <textarea
        name="message"
        placeholder="Leave a comment..."
        class="ihfath-lesson-expired-message"></textarea>

      <div class="ihfath-le-buttons">
        <button
          type="submit"
          name="reschedule"
          class="cws-button btn btn-xl btn-3d btn-round btn-default"
          on:click="setActionUrl(event)"
          href={rescheduleUrl}>
          {$locale.lessonExpireRescheduleBtn}
        </button>
        <button
          type="submit"
          name="append"
          on:click="setActionUrl(event)"
          class="cws-button btn btn-xl btn-3d btn-round btn-default"
          href={appendUrl}>
          {$locale.lessonExpireAppendBtn}
        </button>
      </div>

      <input type="hidden" name="form_build_id" value={formBuildId}>
      <input type="hidden" name="form_token" value={formToken}>
      <input type="hidden" name="form_id" value={formId}>
    </form>
  {/if}
</div>

<style type="text/scss">
  $nothing: here;

  $overlay-zindex: 30;
  .ihfath-lesson-expired-overlay {
    position: fixed;
    display: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: $overlay-zindex;

    background: rgba(0, 0, 0, 0.97);
  }

  .ihfath-lesson-expired-wrap {
    position: fixed;
    display: none;

    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;

    top: 80px;
    left: 0;
    right: 0;
    bottom: 4rem;
    margin: auto;
    width: 600px;
    height: 400px;
    padding: 1rem 0;

    z-index: $overlay-zindex + 1;

    .title {
      font-size: 5rem;
      color: #fff;
    }

    .ihfath-le-buttons {
      display: flex;
      width: 100%;
      justify-content: flex-start;

      .btn + .btn {
        margin-left: 2rem;
      }
    }
  }

  textarea.ihfath-lesson-expired-message {
    margin-bottom: 4rem;
    width: 100%;
    min-height: 150px;
    height: auto;

    font-size: 1.75rem;
    border-radius: 4px;
    border: 0;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
  }

  .ihfath-is-visible {
    display: flex;
  }
</style>

<script>
  import { submit, setActionUrl } from "./lib";

  export default {
    data() {
      return {
        active: false,
        role: 3,
        backUrl: "",
        rescheduleUrl: "",
        appendUrl: "",

        // Form-specific state
        actionUrl: "",

        formBuildId: "",
        formToken: "",
        formId: "",
      };
    },

    methods: {
      submit,
      setActionUrl,
    },
  }
</script>
